Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

unit tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

integration tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

test coverage:
  dependencies:
  - build gradle
  - unit tests
  - integration tests
  needs:
  - build gradle
  - unit tests
  - integration tests
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
  ...

test migration:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - migrations/changelogs/*/testing.groovy
    when: on_failure
  ...

cypress tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - cypress/screenshots
  ...

check cypress suite configured for ci:
  dependencies: []
  needs: []
  stage: test
  script:
  - set -e
  - devScripts/gitlab-ci/cypress/check-suite-configured-for-ci.sh

codenarc:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/codenarc
    when: always
    reports:
  ...

eslint:
  dependencies: []
  needs: []
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/eslint
    when: always
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: codestyle
  ...

create war:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: war
  script:
  ...

Update: Bump com.fasterxml.jackson.datatype:jackson-datatype-jsr310
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.grails.plugins:mail from 4.0.1 to 4.0.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2527: Exend Analysis decider for Aceseq and RunYapsa
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/AnalysisArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AceseqDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/IndelDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/RunYapsaDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/SophiaDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AnalysisArtefactDataList.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDeciderNoAnalysisDependencySpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AceseqDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AnalysisArtefactDataListSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/IndelDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/RunYapsaDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/SnvDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/SophiaDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2697: Sanitize Filenames during metadata import
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/MetaDataFile.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/MetadataImportService.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump eslint-plugin-import from 2.31.0 to 2.32.0
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2706: Allow to configure max database connection and max wait time for connection
  grails-app/conf/runtime.groovy
  src/main/groovy/de/dkfz/tbi/otp/config/OtpProperty.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.bertramlabs.plugins:less-asset-pipeline, com.bertramlabs.plugins:asset-pipeline-grails, com.bertramlabs.plugins:sass-asset-pipeline
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2694: Update the default action in DataAndBamFileExportToExternalSource.groovy to COPY_INTERNAL
  scripts/operations/export/DataAndBamFileExportToExternalSource.groovy
Due: none

chg: otp-2709: increase memory for postgres docker for development
  docker/database/docker-compose.yml
Due: cypress tests

chg: otp-2698: Bugfix in DataAndBamFileExportToExternalSource for linking for rna
  grails-app/services/de/dkfz/tbi/otp/dataExport/DataExportService.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataExport/DataExportServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.networknt:json-schema-validator from 1.5.7 to 1.5.8
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.jsoup:jsoup from 1.20.1 to 1.21.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapi.generator from 7.13.0 to 7.14.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2707: Update: Bump com.opencsv:opencsv from 5.10 to 5.11.2
  build.gradle
  grails-app/services/de/dkfz/tbi/otp/ngsdata/metadatavalidation/MetadataValidationService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/SeqTrackValidatorIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/utils/spreadsheet/Spreadsheet.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/FastqMetadataValidationServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/MetadataValidationServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/bam/validators/MaximalReadLengthValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/bam/validators/SeqTypeBamValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/FastqGeneratorValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/InstrumentModelValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/LaneNumberValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/MateNumberLibraryLayoutValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/MateNumberValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/RunDateValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/SampleValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/SeqTypeValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/validators/Md5sumFormatValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/utils/spreadsheet/SpreadsheetSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.webjars:bootstrap from 5.3.6 to 5.3.7
  build.gradle
  grails-app/assets/stylesheets/modules/application.css
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/metadataLayout.gsp
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 14.4.1 to 14.5.0
  package-lock.json
  package.json
Due: cypress tests, eslint

new: otp-2715: Change HQL query in WorkflowRunService to use SQL with CTEs
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowRunServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2704: Adapt license to be recognized by GitLab.com
  LICENSE
  LICENSE-EXCEPTIONS.md
  package.json
Due: cypress tests, eslint

Update: Bump cypress from 14.5.0 to 14.5.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.github.robtimus:sftp-fs from 3.3.1 to 3.3.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2717: Added DATABASE_MAX_AGE_IN_MINUTES to otp.properties
  grails-app/conf/runtime.groovy
  src/main/groovy/de/dkfz/tbi/otp/config/OtpProperty.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2200: backend for trigger workflow
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentController.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractWorkflowDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AllDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/FastqcDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/shared/DeciderCreateWorkflowActionsException.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/DeciderCreateWorkflowActions.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/FastqcDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/PanCancerDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractWorkflowDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.gradle.develocity from 4.0.2 to 4.1
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump net.razvan.jacoco-to-cobertura from 1.3.2 to 2.0.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 14.5.1 to 14.5.3
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2203: Add warnings for all workflow types
  cypress/e2e/workflowSystem/triggerAlignment.spec.js
  cypress/fixtures/triggerAlignment.json
  grails-app/assets/javascripts/pages/triggerAlignment/index/functions.js
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AllDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/FastqcDecider.groovy
  grails-app/views/triggerAlignment/components/_warnArea.gsp
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

bug: otp-2728: fix ci pipeline
  .gitlab-ci-core.yml
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

chg: otp-2725: stop updating org.junit.vintage engine by the gitlab dependabot
  .gitlab/dependabot.yml
Due: none

new: otp-2405: Analysis-WF: Create ACEseq workflow test
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqValidationJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/AbstractRoddyAnalysisWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/aceseq/AbstractAceseqWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/aceseq/AceseqWholeGenomeWithExternallyProcessedBamFileWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/aceseq/AceseqWholeGenomeWithRoddyBamFileWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2735: handle molgenis export for big projects
  grails-app/services/de/dkfz/tbi/otp/infrastructure/FileService.groovy
  scripts/operations/export/molgenis/dkfz/export-bams-and-fastqs.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/FileServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2747: fix dependabot config file
  .gitlab/dependabot.yml
Due: none

new: otp-2724: Improve logging and add keepalive for weskit oauth
  grails-app/init/de/dkfz/tbi/otp/SecurityConfiguration.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAccessService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAuthService.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/scheduler/WesMonitor.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WesMonitorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAuthServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2203: Add warnings for all workflow types
  cypress/e2e/workflowSystem/triggerAlignment.spec.js
  grails-app/assets/javascripts/pages/triggerAlignment/index/functions.js
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflow/TriggerWorkflowService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractWorkflowDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AllDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/Decider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/FastqcDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDecider.groovy
  grails-app/views/templates/bootstrap/_deciderWorkflowCreationSelection.gsp
  grails-app/views/triggerAlignment/components/_optionArea.gsp
  grails-app/views/triggerAlignment/components/_warnArea.gsp
  grails-app/views/triggerAlignment/index.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/TriggerWorkflowServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/shared/DeciderCreateWorkflowActionException.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/DeciderCreateWorkflowAction.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/FastqcDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/PanCancerDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractWorkflowDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

bug: otp-2749: Correct method call for decider in workflow test
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractDecidedWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/fastqc/FastqcWorkflowSpec.groovy
Due: codenarc

chg: otp-2752: Do not drop schema public before loading DB dump
  devScripts/postgres/apply-dump.sh
Due: none

Update: Bump cypress from 14.5.3 to 14.5.4
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump start-server-and-test from 2.0.12 to 2.0.13
  package-lock.json
  package.json
Due: cypress tests, eslint

new: otp-2687: Use artifact for build cache
  .gitlab-ci-core.yml
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*
