Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*

Update: Bump org.openapi.generator from 7.24.0 to 7.25.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-3074: Allow disable of workflow tests
  .gitlab-ci-core.yml
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Chg: otp-3052: general claude code file
  .claude/CLAUDE.md
  .gitignore
Due: none

Chg: otp-3052: second round of review
  .claude/CLAUDE.md
Due: none

Chg: otp-3052: license for claude.md
  .claude/CLAUDE.md
Due: none

Update: Block cypress Update to 16
  .gitlab/dependabot.yml
Due: none

Update: Bump globals from 17.11.0 to 17.12.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump eslint from 10.9.1 to 10.10.0
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-3061: Adaptation of start-up times for running cypress tests
  .gitlab-ci-core.yml
  cypress/e2e/operatorAndAdminPages/autoImport.spec.js
  cypress/e2e/overview/aceseq.spec.js
  cypress/e2e/overview/alignmentQualityOverview.spec.js
  cypress/e2e/overview/indel.spec.js
  cypress/e2e/overview/runYapsa.spec.js
  cypress/e2e/overview/sampleOverview.spec.js
  cypress/e2e/overview/sequence.spec.js
  cypress/e2e/overview/snv.spec.js
  cypress/e2e/overview/sophia.spec.js
  cypress/e2e/project/dataTransfer.spec.js
  cypress/e2e/project/projectOverview.spec.js
  cypress/e2e/workflowSystem/triggerWorkflows.spec.js
  cypress/support/commands.js
  devScripts/gitlab-ci/cypress/cypress.sh
  devScripts/gitlab-ci/cypress/measure-dind-io.sh
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

bug: otp-3078: Fix two crashes when deleting a SeqTrack
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/WorkflowDeletionService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/DeletionServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/WorkflowDeletionServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.gradle.develocity from 4.5.0 to 4.5.1
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.robtimus:sftp-fs from 4.0.1 to 4.0.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump mochawesome from 8.0.1 to 8.1.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump @humanfs/core from 0.19.2 to 0.20.0
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-3022: Validate the cluster job logs for unknown error 512
  cypress/e2e/workflowSystem/workflowJobErrorDefinition.spec.js
  cypress/fixtures/workflowJobErrorDefinition.json
  grails-app/assets/javascripts/pages/workflowJobErrorDefinition/create/create.js
  grails-app/assets/javascripts/pages/workflowJobErrorDefinition/index/index.js
  grails-app/controllers/de/dkfz/tbi/otp/workflow/restartHandler/WorkflowJobErrorDefinitionController.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflow/restartHandler/WorkflowJobErrorDefinition.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflow/restartHandler/WorkflowJobErrorDefinitionService.groovy
  grails-app/views/workflowJobErrorDefinition/create.gsp
  grails-app/views/workflowJobErrorDefinition/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-3022-add-check-cluster-log-on-success.groovy
  scripts/migration/otp-3022-validate-tasklog.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/AbstractRoddyAlignmentValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractRoddyClusterValidationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/AbstractRoddyAlignmentValidationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/restartHandler/WorkflowJobErrorDefinitionServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

chg: otp-3069: Update body of "Project request form approved by (all) PI(s)" email
  grails-app/i18n/messages.properties
Due: unit tests, integration tests, test coverage, cypress tests, create war

chg: otp-3038: Generalize `checkWorkflowName` to accept a list
  src/main/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationShared.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationSharedSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-3075: Add validator to block import into user management projects
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/validators/ProjectUserManagementValidator.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/validators/ProjectUserManagementValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-3027: Increase character length of BAM path length for BAM import
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ExternallyProcessedBamFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/RoddyBamFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/singleCell/SingleCellBamFile.groovy
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-3027.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump eslint from 10.10.0 to 10.11.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump mochawesome from 8.1.0 to 8.1.1
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-3060: Add a project-membership check before attempting to add a user
  cypress/e2e/project/projectUser.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectUserController.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/ProjectUserControllerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, create war

new: otp-3077: Added eslint rule for code in js comments
  .gitlab-ci-core.yml
  build.gradle
  cypress.config.js
  cypress/e2e/operatorAndAdminPages/processingOptions.spec.js
  cypress/e2e/operatorAndAdminPages/referenceGenomeOverview.spec.js
  cypress/e2e/overview/individual.spec.js
  cypress/e2e/project/projectRequest.spec.js
  cypress/e2e/workflowSystem/workflowRunDetails.spec.js
  cypress/support/commands.js
  eslint-rules/require-code-in-comments.mjs
  eslint-rules/require-code-in-comments.test.mjs
  eslint.config.mjs
  grails-app/assets/javascripts/banner.js
  grails-app/assets/javascripts/common/DataTableFilter.js
  grails-app/assets/javascripts/otp.js
  grails-app/assets/javascripts/pages/metadataImport/index/metadataImportUpload.js
  grails-app/assets/javascripts/pages/referenceGenome/datatable.js
  grails-app/assets/javascripts/pages/workflowConfig/index/functions.js
  grails-app/services/de/dkfz/tbi/otp/infrastructure/alignment/AlignmentLinkFileServiceFactoryService.groovy
  package.json
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

New: otp-3066: Set correct Unix group for top level folder of project & uuid folder
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  grails-app/services/de/dkfz/tbi/otp/project/ProjectService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/ProjectServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractPrepareJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractPrepareJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/WorkflowTestCase.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump com.fasterxml.jackson.datatype:jackson-datatype-jsr310
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.gradle.develocity from 4.5.1 to 4.6.0
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-3021: Update DataAndBamFileExportToExternalSource script allow RNA analyses export without exporting WGS BAM files
  scripts/operations/export/DataAndBamFileExportToExternalSource.groovy
Due: none

Update: Bump com.fasterxml.jackson.core:jackson-databind
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2998: Refactor DeleteProcessedFilesFromProject.groovy script
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
  scripts/operations/dataCleanup/DeleteProcessedFilesFromProject.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/DeletionServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2945: Add the functionality to use defaults for the analysis workflow selection
  cypress/e2e/workflowSystem/workflowDefaults.spec.js
  grails-app/assets/javascripts/pages/workflowSelection/index.js
  grails-app/assets/javascripts/pages/workflowSelection/workflowDefaults.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/workflowDefaults.js
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowSystemConfigController.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowDefaultGroup.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowVersionSelectorDefault.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowDefaultGroupService.groovy
  grails-app/taglib/de/dkfz/tbi/otp/OtpTagLib.groovy
  grails-app/views/templates/bootstrap/_workflowDefaultsCreation.gsp
  grails-app/views/workflowSelection/index.gsp
  grails-app/views/workflowSystemConfig/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-2945-add-workflow-selection-defaults.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowDefaultGroupServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/Version.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/workflowSystem/WorkflowSystemDomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowDefaultGroupServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowDefaultGroupSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionControllerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowSystemConfigControllerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowVersionSelectorDefaultSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Update: Bump com.google.guava:guava from 33.7.1-jre to 33.7.2-jre
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.samtools:htsjdk from 5.0.0 to 5.0.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-3073: Adapt DeleteIndividual.groovy to Support Data Archiving
  scripts/operations/dataCleanup/DeleteIndividual.groovy
Due: none

Update: Bump eslint from 10.11.0 to 10.12.0
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2874: mocked Roddy workflows
  .gitlab-ci-core.yml
  build.gradle
  devScripts/gitlab-ci/workflow-test/copyMockedClusterLogs.sh
  devScripts/gitlab-ci/workflow-test/runWorkflowTests.sh
  docker/mocked-workflow-test/groovy/bkill.groovy
  docker/mocked-workflow-test/groovy/module.groovy
  docker/mocked-workflow-test/groovy/roddy.groovy
  docker/mocked-workflow-test/init/03-createDirectories.sh
  docker/mocked-workflow-test/init/04-createFiles.sh
  docker/mocked-workflow-test/init/05-createRoddy.sh
  grails-app/services/de/dkfz/tbi/otp/config/ConfigService.groovy
  scripts/initializations/workflowTest/initWorkflowTest.groovy
  src/main/groovy/de/dkfz/tbi/otp/config/OtpProperty.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/workflowTest/roddy/RnaRoddyFileAssertHelper.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/workflowTest/roddy/RoddyFileAssertHelper.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/WorkflowTestCase.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/AbstractRoddyAlignmentWorkflowSpec.groovy
  src/workflow-test/resources/mockedWorkflowTestInit.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Update: Bump globals from 17.12.0 to 17.13.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.networknt:json-schema-validator from 2.0.7 to 2.0.8
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

New: otp-3046: Represent a merged read pair as one cram
  devScripts/grails-migration-plugin/create-dbm-gorm-diff-without-false-changes.sh
  grails-app/controllers/de/dkfz/tbi/otp/ngsqc/FastqcResultsController.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/RawSequenceFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/SeqTrack.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/SequenceCramFile.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/dataswap/AbstractDataSwapService.groovy
  grails-app/services/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/WithdrawDisplayDomainService.groovy
  grails-app/views/fastqcResults/show.gsp
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-3046-add-source-fastq-files-to-sequence-cram-file.groovy
  migrations/changelogs/2026/otp-3046-drop-notNull-on-raw-sequence-file.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/SequenceCramFileIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationValidationJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/DomainFactoryCore.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/AbstractDataSwapServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/RawSequenceFileSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTrackSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SequenceCramFileSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/WithdrawDisplayDomainServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationValidationJobSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war
