Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, cypress tests, build-database-docker-image

Path conditions:
  unit tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  integration tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  test coverage: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  cypress tests: any of: gradle/**/*, grails-app/**/*, src/main/**/*, cypress/**/*, docker/**/*, build.gradle, gradle.properties, cypress.config.js, package.json, package-lock.json, .gitlab-ci-core.yml
  build-database-docker-image: any of: docker/integration-test-build-database/**/*

new: otp-2310: when pi feature is disabled choose pi from complete user list
  grails-app/controllers/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestController.groovy
  grails-app/views/templates/_piUserFormItem.gsp
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2360: show pis and users in one table and add department heads for showing in project request and after creation of project
  grails-app/assets/javascripts/pages/projectRequest/index.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectCreationController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/project/ProjectService.groovy
  grails-app/services/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestService.groovy
  grails-app/views/projectCreation/index.gsp
  grails-app/views/projectRequest/templates/_projectRequestUserTable.gsp
  grails-app/views/projectRequest/view.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2347: adapt text for showing department heads in project request
  grails-app/assets/javascripts/pages/projectRequest/index.js
  grails-app/assets/stylesheets/pages/projectRequest/index.less
  grails-app/i18n/messages.properties
  grails-app/views/projectRequest/templates/_piUserFormAccordion.gsp
  grails-app/views/templates/_piUserFormItem.gsp
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2048: adapt Project Request
  cypress/e2e/projectRequest.spec.js
  devScripts/grails-migration-plugin/create-dbm-gorm-diff-without-false-changes.sh
  grails-app/assets/javascripts/common/CloneField.js
  grails-app/assets/javascripts/common/userForm.js
  grails-app/assets/javascripts/pages/projectRequest/index.js
  grails-app/assets/stylesheets/otp.less
  grails-app/assets/stylesheets/pages/projectRequest/index.less
  grails-app/controllers/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestController.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  grails-app/domain/de/dkfz/tbi/otp/project/ProjectRequest.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestService.groovy
  grails-app/services/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestUserService.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/DepartmentService.groovy
  grails-app/views/projectCreation/index.gsp
  grails-app/views/projectRequest/index.gsp
  grails-app/views/projectRequest/templates/_piUserFormAccordion.gsp
  grails-app/views/projectRequest/view.gsp
  grails-app/views/templates/_piUserFormItem.gsp
  grails-app/views/templates/bootstrap/_userTabBar.gsp
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2048.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestServiceIntegrationSpec.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/UserDomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/project/projectRequest/ApprovalSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/security/user/DepartmentServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.codenarc:CodeNarc from 3.3.0 to 3.4.0
  .gitlab/dependabot.yml
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

codenarc: EmptyMethodInAbstractClass
  grails-app/conf/CodeNarcRuleSet.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/job/jobs/AbstractBamFilePairAnalysisStartJobWithDependenciesIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcWesValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractConditionalSkipJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractOutputUnificationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractParseJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractValidationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractValidationJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/WorkflowTestCase.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/alignment/roddy/AbstractRoddyAlignmentWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/alignment/roddy/rna/AbstractRnaAlignmentWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/analysis/pair/roddy/AbstractRoddyBamFilePairAnalysisWorkflowTests.groovy
Due: unit tests, integration tests, test coverage, cypress tests

codenarc: UnnecessaryObjectReferences
  grails-app/conf/CodeNarcRuleSet.groovy
  grails-app/controllers/de/dkfz/tbi/otp/interceptor/OptionsInterceptor.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/AbstractAnalysisResultsService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/UserProjectRoleService.groovy
  grails-app/services/de/dkfz/tbi/otp/qcTrafficLight/QcThresholdService.groovy
  grails-app/services/de/dkfz/tbi/otp/tracking/TicketService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/ProjectServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/aceseq/ExecuteRoddyAceseqJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/indelCalling/ExecuteRoddyIndelJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/snvcalling/ExecuteRoddySnvJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/sophia/ExecuteRoddySophiaJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2425: Fix log problem in cypress test
  .gitlab-ci-core.yml
  devScripts/gitlab-ci/cypress/cypress.sh
Due: unit tests, integration tests, test coverage, cypress tests

codenarc: MethodReturnTypeRequired
  grails-app/conf/CodeNarcRuleSet.groovy
  grails-app/domain/de/dkfz/tbi/otp/infrastructure/ClusterJob.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/ExternalWorkflowConfigSelector.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/MetadataImportService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/MailHelperService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/AbstractBamFileServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyAlignmentDeciderIntegrationTests.groovy
  src/main/groovy/de/dkfz/tbi/otp/CheckAndCall.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckExpiredProjects.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataprocessing/roddy/JobStateLogFile.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/utils/CreateRoddyFileHelper.groovy
  src/test/groovy/de/dkfz/tbi/otp/administration/CrashRecoveryServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/config/PropertiesValidationServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/AbstractMergingWorkPackageSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyBamFileSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/bamfiles/RoddyBamFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/jobs/bamImport/ReplaceSourceWithLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/plan/JobErrorDefinitionSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/processing/RoddyCommandServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/GeneModelServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/LibraryPreparationKitServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/ReferenceGenomeIndexServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTypeServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SequenceControllerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/BamMetadataValidationServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/tracking/TicketSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/WithdrawAnalysisServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2422: Allow set of port for devel postgres & set the used jobs for import
  devScripts/postgres/apply-dump.sh
  docker/database/docker-compose.yml
Due: cypress tests

Update: Bump cypress from 13.6.2 to 13.6.3
  package-lock.json
  package.json
Due: cypress tests

Update: Bump org.grails.plugins:hibernate5 from 8.0.2 to 8.0.3
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.grails:grails-gorm-testing-support from 3.1.1 to 3.1.2
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.grails:grails-web-testing-support from 3.1.1 to 3.1.2
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2379: extend script delete project to handle uuid
  grails-app/services/de/dkfz/tbi/otp/filestore/FilestoreService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
  scripts/operations/dataCleanup/DeleteProject.groovy
  src/test/groovy/de/dkfz/tbi/otp/filestore/FilestoreServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2432: fix parser access in showParsedSampleIdentifiers
  scripts/operations/showData/showParsedSampleIdentifiers.groovy
Due: none

refactor: otp-2297: Improve QA constraints
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/RnaQualityAssessment.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/RoddyLibraryQa.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/RoddyMergedBamQa.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/RoddySingleLaneQa.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2297: Reorder methods
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/RoddyQualityAssessmentService.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2297: Convert test to Spock
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyQualityAssessmentServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyQualityAssessmentServiceIntegrationTests.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
Due: unit tests, integration tests, test coverage

refactor: otp-2297: Move methods from DomainFactory
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyQualityAssessmentServiceIntegrationSpec.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/RoddyPancanFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerParseJobSpec.groovy
Due: unit tests, integration tests, test coverage

fix: otp-2297: Reuse QA objects
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/RoddyQualityAssessmentService.groovy
Due: unit tests, integration tests, test coverage, cypress tests

fix: otp-2297: Test QA object reusage
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerParseJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsParseJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerParseJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsParseJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2297: Extract code to common method
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/RoddyQualityAssessmentService.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2297: Remove closure
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/RoddyQualityAssessmentService.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2297: Rename RoddyPancanFactory to RoddyPanCancerFactory
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/AbstractBamFileServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyBamFileIntegrationTests.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyQualityAssessmentServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/BamMetadataImportServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/ConcreteArtefactServiceIntegrationSpec.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/AlignmentPipelineFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/RoddyPanCancerFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/AbstractQaOverviewServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/CellRangerQaOverviewServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/PanCancerBedFileQaOverviewServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/PanCancerNoBedFileQaOverviewServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/QaOverviewFetchDataServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/RnaQaOverviewServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/AbstractDataSwapServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/ScriptBuilderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/notification/CreateNotificationTextServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/RoddyBamFileWithdrawServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/WithdrawHelperServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCheckQcJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerCleanUpJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerParseJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsParseJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/AlignmentArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorSchedulerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqcArtefactServiceSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/AbstractRoddyAlignmentWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage

Update: Bump com.networknt:json-schema-validator from 1.1.0 to 1.2.0
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

codenarc: ClosureAsLastMethodParameter
  grails-app/conf/CodeNarcRuleSet.groovy
  grails-app/controllers/de/dkfz/tbi/otp/administration/UserAdministrationController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/MetaDataFieldsController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/qcTrafficLight/QcThresholdController.groovy
  grails-app/init/de/dkfz/tbi/otp/BootStrap.groovy
  grails-app/services/de/dkfz/tbi/otp/administration/ShutdownService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/RoddyQualityAssessmentService.groovy
  grails-app/services/de/dkfz/tbi/otp/job/processing/JobStatusLoggingService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTrackService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/StatisticService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/metadatavalidation/FastqMetadataValidationService.groovy
  grails-app/services/de/dkfz/tbi/otp/project/ProjectInfoService.groovy
  grails-app/services/de/dkfz/tbi/otp/security/SecurityService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/UnknownLdapUsersJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyQualityAssessmentServiceIntegrationTests.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/roddyExecution/RoddyWorkflowConfigServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/monitor/MonitorOutputCollectorIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/UserProjectRoleServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/scheduler/Scheduler.groovy
  src/main/groovy/de/dkfz/tbi/otp/monitor/AbstractVariantCallingPipelineChecker.groovy
  src/main/groovy/de/dkfz/tbi/otp/monitor/SamplePairChecker.groovy
  src/main/groovy/de/dkfz/tbi/otp/monitor/alignment/AbstractAlignmentChecker.groovy
  src/main/groovy/de/dkfz/tbi/otp/utils/StringUtils.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/BamImportWorkflowCreatorScheduler.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorScheduler.groovy
  src/test/groovy/de/dkfz/tbi/otp/monitor/MonitorOutputCollectorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/qcTrafficLight/QcTrafficLightNotificationServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/utils/logging/LogThreadLocalUnitTests.groovy
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2423: improve gitlab ci
  .gitlab-ci-core.yml
  .gitlab-ci-create-image.yml
  .gitlab-ci-devel.yml
  .gitlab-ci-dkfz.yml
  .gitlab-ci.yml
  devScripts/gitlab-ci/codenarc-informations.sh
  devScripts/gitlab-ci/mergeRequest/addAuthorForFailedCi.sh
  devScripts/gitlab-ci/mergeRequest/addLabelsFromYoutrack.sh
  devScripts/gitlab-ci/mergeRequest/handleLabels.sh
  devScripts/gitlab-ci/mergeRequest/initMergeRequest.sh
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2431: Add port to remaining calls in apply-dump.sh
  devScripts/postgres/apply-dump.sh
Due: none

bug: otp-2430: Fix deletion of complete projects
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/WorkflowDeletionService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/DeletionServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/utils/exceptions/OtpAssertRuntimeException.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2341: Don't use Spy in jobs
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/workflowSystem/RnaAlignmentWorkflowDomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCleanUpJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentConditionalFailJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCreateNotificationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentFinishJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerCleanUpJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerParseJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentCleanUpJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentParseJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsParseJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportCopyJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportFinishJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportFragmentJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkSourceJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportReplaceSourceJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportValidationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationConditionalFailJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationFragmentJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationInitializationServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationPidLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationPrepareJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationSingleCellLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationValidationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcConditionalFailJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcFinishJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcFragmentJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcParseJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcPrepareJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcValidationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractCleanUpJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/SetCorrectPermissionJobSpec.groovy
Due: unit tests, integration tests, test coverage

bug: otp-2369: Error on workflowSelection page
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionController.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.webjars.npm:bootstrap-icons from 1.11.2 to 1.11.3
  build.gradle
  grails-app/assets/stylesheets/modules/application.css
Due: unit tests, integration tests, test coverage, cypress tests

fix: otp-2438: fix for ldapservice
  grails-app/services/de/dkfz/tbi/otp/security/user/identityProvider/LdapService.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.networknt:json-schema-validator from 1.2.0 to 1.3.0
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.gradle.enterprise from 3.16.1 to 3.16.2
  settings.gradle
Due: none

new: otp-2280: Create BamImportConditionalFailJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportConditionalFailJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportConditionalFailJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

review: bugfix
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportConditionalFailJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportConditionalFailJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2280: modified testcase
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportConditionalFailJobSpec.groovy
Due: unit tests, integration tests, test coverage

new: otp-2373: define delay for showing info, error, success and warning toasts
  grails-app/assets/javascripts/common/toaster.js
Due: cypress tests
