Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

unit tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

integration tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

test coverage:
  dependencies:
  - build gradle
  - unit tests
  - integration tests
  needs:
  - build gradle
  - unit tests
  - integration tests
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
  ...

test migration:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - migrations/changelogs/*/testing.groovy
    when: on_failure
  ...

cypress tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - cypress/screenshots
  ...

check cypress suite configured for ci:
  dependencies: []
  needs: []
  stage: test
  script:
  - set -e
  - devScripts/gitlab-ci/cypress/check-suite-configured-for-ci.sh

codenarc:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/codenarc
    when: always
    reports:
  ...

eslint:
  dependencies: []
  needs: []
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/eslint
    when: always
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: codestyle
  ...

create war:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: war
  script:
  ...

Update: Bump eslint from 10.8.0 to 10.8.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump cypress from 15.19.0 to 15.20.0
  package-lock.json
  package.json
Due: cypress tests, eslint

New: otp-3001: Attribute notification text to workflow runs
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflow/notification/NotificationHandlerService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/notification/NotificationMessageService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationContentService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/notification/NotificationHandlerServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationContentServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/AbstractAlignmentNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/AbstractAnalysisNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/AbstractWorkflowNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/CellRangerNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/DataInstallationNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/NotificationContent.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/PanCancerAlignmentNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/RnaAlignmentNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/RoddyAceseqNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/RoddyIndelCallingNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/RoddySnvCallingNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/RoddySophiaNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/SampleNotificationRow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/SamplePairNotificationRow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/WgbsAlignmentNotification.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/notification/NotificationHandlerServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/notification/NotificationMessageServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationContentServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-3019: Add index to WorkFolder.uuid
  grails-app/domain/de/dkfz/tbi/otp/filestore/WorkFolder.groovy
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-3019.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

New: otp-2484: Decider should use mail attachments
  grails-app/domain/de/dkfz/tbi/otp/administration/Attachment.groovy
  grails-app/domain/de/dkfz/tbi/otp/administration/Mail.groovy
  grails-app/services/de/dkfz/tbi/otp/administration/MailHelperService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-2484-add-mail-attachment.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/administration/MailHelperServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/tracking/NotificationCreator.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowCreatorScheduler.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/BamImportWorkflowCreatorScheduler.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorScheduler.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/DomainFactoryCore.groovy
  src/test/groovy/de/dkfz/tbi/otp/administration/MailHelperServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/BamImportWorkflowCreatorSchedulerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorSchedulerSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

bug: otp-3056: Fix the "deleted object would be re-saved by cascade" in Deletion server for WorkflowRun
  grails-app/services/de/dkfz/tbi/otp/utils/WorkflowDeletionService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/WorkflowDeletionServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.fasterxml.jackson.core:jackson-core
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 15.20.0 to 15.20.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump globals from 17.9.0 to 17.11.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump @cyclonedx/cyclonedx-npm from 6.0.0 to 6.0.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.fasterxml.jackson.datatype:jackson-datatype-jsr310
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Chg: otp-3064: Create Notification template for BamImport
  grails-app/services/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationContentService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationContentServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/BamImportNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/BamImportNotificationRow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationContentServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-3024: DRY-createCopyOfArtefact-logic-in-analysis-and-alignment-workflows-using-hook-pattern
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/AlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/AbstractAnalysisWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/runyapsa/RunYapsaWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/snv/SnvWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaWorkflow.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-3036: Add `ArtefactType.UNALIGNED_CRAM`
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/CellRangerDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/PanCancerDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/RnaAlignmentDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/WgbsDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/ArtefactType.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/CellRangerDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/PanCancerDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/RnaAlignmentDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/WgbsDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2994: Notification system: Scheduled notification jobs
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  grails-app/i18n/messages.properties
  grails-app/init/de/dkfz/tbi/otp/BootStrap.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/WorkflowDeletionService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/notification/NotificationHandlerService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/notification/NotificationService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/WorkflowDeletionServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/notification/NotificationServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/NotificationScheduler.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/notification/NotificationDomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/BootStrapSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/notification/NotificationHandlerServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/notification/NotificationSchedulerSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Chg: otp-3006: cypress test isolator
  cypress/extra.cypress.properties
  cypress/support/commands.js
  devScripts/gitlab-ci/cypress/cypress.sh
  grails-app/conf/CodeNarcRuleSet.groovy
  grails-app/conf/spring/resources.groovy
  grails-app/controllers/de/dkfz/tbi/otp/interceptor/NoProjectInterceptor.groovy
  grails-app/controllers/de/dkfz/tbi/otp/interceptor/PrivacyPolicyInterceptor.groovy
  grails-app/controllers/de/dkfz/tbi/otp/interceptor/ProjectSelectionInterceptor.groovy
  grails-app/controllers/de/dkfz/tbi/otp/testing/TestingController.groovy
  grails-app/init/de/dkfz/tbi/otp/SecurityConfiguration.groovy
  grails-app/services/de/dkfz/tbi/otp/config/ConfigService.groovy
  grails-app/services/de/dkfz/tbi/otp/testing/TestTransactionService.groovy
  src/main/groovy/de/dkfz/tbi/otp/config/OtpProperty.groovy
  src/main/groovy/de/dkfz/tbi/otp/testing/PinningDataSource.groovy
  src/main/groovy/de/dkfz/tbi/otp/testing/PinningDataSourceConnectionSourceFactory.groovy
  src/main/groovy/de/dkfz/tbi/otp/testing/PinningDataSourceRegistrar.groovy
  src/main/groovy/de/dkfz/tbi/otp/testing/TestingEndpointsException.groovy
  src/test/groovy/de/dkfz/tbi/otp/testing/PinningDataSourceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/testing/TestingControllerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-3006: comments are addressed
  cypress/support/commands.js
  grails-app/conf/spring/resources.groovy
  grails-app/init/de/dkfz/tbi/otp/SecurityConfiguration.groovy
  grails-app/services/de/dkfz/tbi/otp/config/ConfigService.groovy
  src/main/groovy/de/dkfz/tbi/otp/testing/PinningDataSource.groovy
  src/main/groovy/de/dkfz/tbi/otp/testing/PinningDataSourceConnectionSourceFactory.groovy
  src/main/groovy/de/dkfz/tbi/otp/testing/PinningDataSourceRegistrar.groovy
  src/main/groovy/de/dkfz/tbi/otp/testing/TestTransactionException.groovy
  src/main/groovy/de/dkfz/tbi/otp/testing/TestTransactionService.groovy
  src/test/groovy/de/dkfz/tbi/otp/testing/PinningDataSourceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-3006: second round of review
  cypress/support/commands.js
  cypress/support/index.js
  grails-app/controllers/de/dkfz/tbi/otp/testing/TestingController.groovy
  src/main/groovy/de/dkfz/tbi/otp/testing/PinningDataSource.groovy
  src/main/groovy/de/dkfz/tbi/otp/testing/TestTransactionService.groovy
  src/test/groovy/de/dkfz/tbi/otp/testing/PinningDataSourceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/testing/TestingControllerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-3051: Move mail Import source ready for deletion
  src/integration-test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/tracking/TicketServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorSchedulerIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/tracking/NotificationCreator.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorScheduler.groovy
  src/test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorSchedulerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-3051: addressing comment from the review
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorSchedulerIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorScheduler.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorSchedulerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-3020: Fix race condition where one alignment run deletes a concurrent run's UUID folder
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-3020: addressing comment from the review
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/AlignmentArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/alignment/AlignmentAdditionalData.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/AlignmentArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-3020: addressing comment from the review
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/AlignmentArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-3062: adapt access to bam file via stream to avoid the SeekableByteChannel problem
  grails-app/services/de/dkfz/tbi/otp/workflow/RoddyService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-3023: Delete old view-by-pid symlinks at realignment start instead of during the cleanup at the end
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/AlignmentLinkCleanUpJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/wgbs/WgbsWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/AlignmentLinkCleanUpJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/panCancer/PanCancerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/rna/RnaAlignmentWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/wgbs/WgbsWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump cypress from 15.20.1 to 15.21.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.google.guava:guava from 33.6.0-jre to 33.7.1-jre
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.networknt:json-schema-validator from 2.0.4 to 2.0.7
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump eslint from 10.8.1 to 10.9.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.github.mwiede:jsch from 2.28.6 to 2.28.7
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2920: Adapt reading of fastqc report using the ZipStream.
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/FastqcDataFilesService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

refactor: otp-2873: mocked fastqc workflow
  .gitlab-ci-core.yml
  docker/mocked-workflow-test/groovy/bzip2.groovy
  docker/mocked-workflow-test/groovy/fastqc.groovy
  docker/mocked-workflow-test/groovy/gzip.groovy
  docker/mocked-workflow-test/groovy/module.groovy
  docker/mocked-workflow-test/groovy/tar.groovy
  docker/mocked-workflow-test/init/05-createZipFiles.sh
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/fastqc/FastqcWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/fastqc/WesFastqcWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

refactor: otp-2932: mocked nf-seq-qc workflow (WES fastqc)
  .gitlab-ci-core.yml
  devScripts/gitlab-ci/workflow-test/copyMockedClusterLogs.sh
  devScripts/gitlab-ci/workflow-test/waitForMockedCluster.sh
  docker/mocked-workflow-test/Dockerfile
  docker/mocked-workflow-test/groovy-service/KeycloakMockServer.groovy
  docker/mocked-workflow-test/groovy-service/WeskitMockServer.groovy
  docker/mocked-workflow-test/init/04-createFiles.sh
  docker/mocked-workflow-test/init/11-createZipFilesBash.sh
  docker/mocked-workflow-test/init/12-createZipFileWes.sh
  docker/mocked-workflow-test/init/50-start-services.sh
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAccessService.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/fastqc/WesFastqcWorkflowSpec.groovy
  src/workflow-test/resources/mockedWorkflowTestInit.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

refactor: otp-2934: mocked bam/cram import
  .gitlab-ci-core.yml
  docker/mocked-workflow-test/Dockerfile
  docker/mocked-workflow-test/groovy/samtools.groovy
  docker/mocked-workflow-test/init/04-createFiles.sh
  docker/mocked-workflow-test/tools/bamMaxReadLength.groovy
  src/workflow-test/resources/mockedWorkflowTestsOtp.properties
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

chg: otp-2995: update notification mail
  .gitignore
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflow/notification/NotificationMessageService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/notification/NotificationMessageServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-3070: Adapt alignment decider to handle not availble reference genome
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump eslint from 10.9.0 to 10.9.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump cypress from 15.21.0 to 15.21.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.jsoup:jsoup from 1.23.1 to 1.23.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*
