Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, cypress tests

Path conditions:
  unit tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/test-helper/**/*, build.gradle, gradle.properties
  integration tests: any of: gradle/**/* - grails-app/conf/**/* - grails-app/controllers/**/* - grails-app/domain/**/* - grails-app/i18n/**/* - grails-app/init/**/* - grails-app/services/**/*, src/main/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties
  cypress tests: any of: gradle/**/*, grails-app/**/*, src/main/**/*, cypress/**/*, build.gradle, gradle.properties, cypress.config.js, package.json, package-lock.json

Update: Bump eslint from 8.46.0 to 8.47.0
  package-lock.json
  package.json
Due: cypress tests

new: otp-2161: Create FastqcLinkJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcLinkJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/WesFastQcWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/WesFastQcWorkflowSpec.groovy
Due: unit tests, integration tests, cypress tests

refactor: otp-565: coverage plugin
  .gitlab-ci-core.yml
  build.gradle
Due: unit tests, integration tests, cypress tests

Update: datatables-plugins to 1.13.6
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
Due: cypress tests

Update: Bump org.webjars:datatables-plugins from 1.12.0 to 1.13.6
  build.gradle
Due: unit tests, integration tests, cypress tests

Update: fix order of dataTable assets
  grails-app/assets/javascripts/modules/application.js
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
Due: cypress tests

Update: Bump org.webjars:datatables-buttons from 2.2.2 to 2.4.1
  build.gradle
Due: unit tests, integration tests, cypress tests

Update: move datatables-buttons import from asset pipeline modules into layouts
  grails-app/assets/javascripts/modules/application.js
  grails-app/assets/javascripts/modules/defaultPageDependencies.js
  grails-app/assets/stylesheets/modules/application.css
  grails-app/assets/stylesheets/modules/defaultPageDependencies.css
  grails-app/init/de/dkfz/tbi/otp/SecurityConfiguration.groovy
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
Due: unit tests, cypress tests

chg: otp-2108: add checkbox for default files on BAM import
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/BamMetadataImportController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/BamMetadataImportService.groovy
  grails-app/views/bamMetadataImport/index.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/BamMetadataImportServiceIntegrationSpec.groovy
Due: unit tests, integration tests, cypress tests

fix: otp-2153: don't allow login of disabled users in oidc mode
  grails-app/init/de/dkfz/tbi/otp/SecurityConfiguration.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/identityProvider/KeycloakService.groovy
Due: unit tests, cypress tests

chg: otp-2054: reset user permission checkboxes on role selection
  grails-app/assets/javascripts/common/userForm.js
Due: cypress tests

fix: otp-2217: remove Licence Scanning template
  .gitlab-ci.yml
Due: none

new: otp-2179: create RnaAlignmentShared trait
  src/main/groovy/de/dkfz/tbi/otp/workflow/rna/RnaAlignmentShared.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/rna/RnaAlignmentWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/rna/RnaAlignmentSharedSpec.groovy
Due: unit tests, integration tests, cypress tests

change: otp-2212: Update Postgres to 14.9 for devel and test
  .gitlab-ci-core.yml
  docker/database/Dockerfile
  docker/database/Dockerfile.dev
  docker/database/docker-compose.yml
  docker/otp-test/docker-compose.yml
Due: none

Update: Bump cypress from 12.17.3 to 12.17.4
  package-lock.json
  package.json
Due: cypress tests

new: otp-2175: create rnaAlignmentWorkflow initial class
  src/main/groovy/de/dkfz/tbi/otp/workflow/rna/RnaAlignmentWorkflow.groovy
Due: unit tests, integration tests, cypress tests

Update: Bump com.github.node-gradle.node from 5.0.0 to 6.0.0
  build.gradle
Due: unit tests, integration tests, cypress tests

new: otp-2164: Update CellRanger to 7.1.0
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/bamfiles/SingleCellBamFileService.groovy
  migrations/changelogs/defaultValues/workflow-versions.sql
  scripts/overviews/ResultsForAlignmentsAndAnalysesOfAllProject.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/cellRanger/ExecuteCellRangerJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/jobs/cellRanger/ExecuteCellRangerJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/alignment/cellRanger/AbstractCellRangerAlignmentWorkflowTests.groovy
Due: unit tests, integration tests, cypress tests

new: otp-1979: script to create a mock tsv file for testing the created migration script
  scripts/migration/demoData/otp-1979-create-tsv-mock-file.groovy
  scripts/migration/otp-1979_migrate_fastq_to_cram.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataswap/ScriptBuilder.groovy
Due: unit tests, integration tests, cypress tests

change: otp-2158: add UUID field to individual
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/Individual.groovy
  grails-app/i18n/messages.properties
  grails-app/views/individual/show.gsp
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2158-individual-uuid.groovy
Due: unit tests, cypress tests

Update: Bump com.github.node-gradle.node from 6.0.0 to 7.0.0
  build.gradle
Due: unit tests, integration tests, cypress tests

Update: Bump eslint-plugin-import from 2.28.0 to 2.28.1
  package-lock.json
  package.json
Due: cypress tests

bug: otp-2228: set bean name for rna workflow in database
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2228-set-rna-bean.groovy
  migrations/changelogs/defaultValues/workflows.sql
Due: none

chg: otp-2229: Update dependencies for spring security libs
  build.gradle
Due: unit tests, integration tests, cypress tests

Revert "chg: otp-2229: Update dependencies for spring security libs"
  build.gradle
Due: unit tests, integration tests, cypress tests

new: otp-2197: add constraint to add all seqTracks from parent baseBamFiles directly in the RoddyBamFile including a migration script
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/RoddyBamFile.groovy
  scripts/migration/otp-2197-refactor-seqTrack-for-roddy-bam-file.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyBamFileIntegrationTests.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/job/jobs/roddyAlignment/AbstractAlignmentStartJobIntegrationTests.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/alignment/AbstractAlignmentStartJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/IsPipeline.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/IsRoddy.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
Due: unit tests, integration tests, cypress tests

chg: otp-2181: rename some job names from pancancer to roddy
  cypress/fixtures/workflowJobErrorDefinition.json
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2181-rename-pancancer-to-roddy.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCheckQcJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentFinishJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentFragmentJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/wgbs/WgbsWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCheckQcJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentFinishJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentFragmentJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/panCancer/PanCancerWorkflowSpec.groovy
Due: unit tests, integration tests, cypress tests

chg: otp-1371: Make project keywords removeable
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/KeywordController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/KeywordService.groovy
Due: unit tests, cypress tests

Update: Bump eslint from 8.47.0 to 8.48.0
  package-lock.json
  package.json
Due: cypress tests

Update: Bump org.openapi.generator from 6.6.0 to 7.0.0
  build.gradle
Due: unit tests, integration tests, cypress tests

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, cypress tests

bug: otp-2235: Make MergingWorkPackage.seqPlatformGroup nullable
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/MergingWorkPackage.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
Due: unit tests, cypress tests

refactor: otp-2206: rename piUser to deputyRelation
  grails-app/domain/de/dkfz/tbi/otp/security/AuditLog.groovy
  grails-app/domain/de/dkfz/tbi/otp/security/DeputyRelation.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/DeputyRelationService.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/PIUserService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2206-create-gui-to-delegate-department-rights.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/UpdateDepartmentHeadsJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/UpdateDepartmentHeadsJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/UserDomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/security/user/DeputyRelationServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/security/user/PIUserServiceSpec.groovy
Due: unit tests, integration tests, cypress tests

Update: Bump cypress from 12.17.4 to 13.0.0
  package-lock.json
  package.json
Due: cypress tests

fix: otp-2208: fix reference genome display for WES/RNA
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/AbstractQaOverviewService.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/AbstractQaOverviewServiceHibernateSpec.groovy
Due: unit tests, cypress tests

change: otp-2168: Remove warning in import validator for run date
  grails-app/services/de/dkfz/tbi/otp/ngsdata/MetadataImportService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/RunDateParserService.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/RunRunDateValidator.groovy
  src/main/groovy/de/dkfz/tbi/util/TimeUtils.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/RunDateParserServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/RunRunDateValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/util/TimeUtilsSpec.groovy
Due: unit tests, integration tests, cypress tests
