Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

unit tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

integration tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

test coverage:
  dependencies:
  - build gradle
  - unit tests
  - integration tests
  needs:
  - build gradle
  - unit tests
  - integration tests
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
  ...

test migration:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - migrations/changelogs/*/testing.groovy
    when: on_failure
  ...

cypress tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - cypress/screenshots
  ...

check cypress suite configured for ci:
  dependencies: []
  needs: []
  stage: test
  script:
  - set -e
  - devScripts/gitlab-ci/cypress/check-suite-configured-for-ci.sh

codenarc:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/codenarc
    when: always
    reports:
  ...

eslint:
  dependencies: []
  needs: []
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/eslint
    when: always
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: codestyle
  ...

create war:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: war
  script:
  ...

Fix: otp-2778: Remove dead code of PipelineControllers
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/AbstractConfigureNonRoddyPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/AbstractConfigurePipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/AbstractConfigureRoddyPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigureAceseqPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigureIndelPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigurePipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigurePipelineHelper.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigureRunYapsaPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigureSnvPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigureSophiaPipelineController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTypeService.groovy
  grails-app/views/configureRunYapsaPipeline/index.gsp
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTypeServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/AlignmentValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Revert "New: otp-2778: Remove old CellRanger UI, import trigger, and notification links"
  grails-app/controllers/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/CellRangerConfigurationController.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/MetadataImportService.groovy
  grails-app/services/de/dkfz/tbi/otp/notification/CreateNotificationTextService.groovy
  grails-app/views/cellRanger/_mwp.gsp
  grails-app/views/cellRanger/finalRunSelection.gsp
  grails-app/views/cellRangerConfiguration/index.gsp
  grails-app/views/layouts/common.gsp
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/MetadataImportServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/notification/CreateNotificationTextServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Revert "Fix: otp-2778: Remove dangling CellRanger link from cleanup job notification"
  grails-app/i18n/messages.properties
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CellRangerDataCleanupJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CellRangerDataCleanupJob.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Revert "Fix: otp-2778: Remove dead code of PipelineControllers"
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/AbstractConfigureNonRoddyPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/AbstractConfigurePipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/AbstractConfigureRoddyPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigureAceseqPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigureIndelPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigurePipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigurePipelineHelper.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigureRunYapsaPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigureSnvPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigureSophiaPipelineController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTypeService.groovy
  grails-app/views/configureRunYapsaPipeline/index.gsp
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTypeServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/AlignmentValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Revert "New: otp-2778: Activate CellRangerDecider and empty old-workflow seqType list"
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTypeService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AllDecider.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AllDeciderIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTypeServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/AlignmentValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2967: Link to Workflow Config page when warning for missing alignment configs + state species in warning
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/AlignmentValidator.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/AlignmentValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2784: Update output path of the EGA submissions
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  grails-app/services/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionFileService.groovy
  src/test/groovy/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionFileServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump com.fasterxml.jackson.core:jackson-core
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump start-server-and-test from 3.0.5 to 3.0.8
  package-lock.json
  package.json
Due: cypress tests, eslint

New: otp-2937: Create CheckFastqFileEmptyJob and SkipForEmptyRawSequenceFileJob
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/RawSequenceFile.groovy
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-2937-add-empty-file-flag-to-raw-sequence-file.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/wgbs/WgbsWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/datainstallation/CheckFastqFileEmptyJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/BashFastQcWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/WesFastQcWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/SkipForEmptyRawSequenceFileJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/panCancer/PanCancerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/rna/RnaAlignmentWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/wgbs/WgbsWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/CheckFastqFileEmptyJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/BashFastqcWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/WesFastQcWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/SkipForEmptyRawSequenceFileJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/dataInstallation/DataInstallationWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

New: otp-2987: Adaption of the OTP mail "New user for project [projectname]"
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/UserProjectRoleService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/UserProjectRoleServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-2837: Improve duration on workflowRunDetails page
  cypress/e2e/workflowSystem/workflowRunDetails.spec.js
  cypress/e2e/workflowSystem/workflowRunList.spec.js
  grails-app/assets/javascripts/pages/workflowRunDetails/index.js
  grails-app/assets/javascripts/pages/workflowRunList/index.js
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowRun.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowStep.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisResultsService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeService.groovy
  grails-app/views/workflowRunDetails/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-2837-add-job-started-finished-columns.groovy
  migrations/changelogs/2026/otp-2837-populate-job-started-finished-for-old-entries.groovy
  package-lock.json
  scripts/initializations/demoImports/CreateExampleWorkflowData.groovy
  scripts/initializations/demoImports/CreateWesFastQcWorkflowData.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataprocessing/PlotType.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowRunServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

bug: otp-2999: Fix link for reference genome in workflow tests
  src/workflow-test/groovy/de/dkfz/tbi/otp/alignment/AbstractAlignmentWorkflowTest.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
Due: codenarc

refactor: otp-2573: delete the projectFields with cascade option
  grails-app/domain/de/dkfz/tbi/otp/project/ProjectRequest.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Chg: otp-2976: Use projections to fetch
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowRunServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowRunCounts.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowRunInfo.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStepInfo.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump org.openapi.generator from 7.22.0 to 7.23.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump start-server-and-test from 3.0.8 to 3.0.11
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump org.springframework.boot:spring-boot-starter-actuator
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump eslint from 10.4.1 to 10.5.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Chg: otp-2819: Create new Individual wo samples throws exception
  cypress/e2e/operatorAndAdminPages/newIndividual.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/IndividualController.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/IndividualService.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/IndividualControllerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/IndividualServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, create war

Chg: otp-2966: Download-EGA-GHGA-template-on-Sequences-page
  cypress/e2e/operatorAndAdminPages/dataSwap.spec.js
  cypress/e2e/overview/sequence.spec.js
  cypress/fixtures/downloadChecks/ghgaTemplate.json
  grails-app/assets/javascripts/pages/sequence/index/datatable.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/SequenceController.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SequenceControllerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

New: otp-2991: Create domain classes
  devScripts/grails-migration-plugin/create-dbm-gorm-diff-without-false-changes.sh
  grails-app/domain/de/dkfz/tbi/otp/notification/CreateNotification.groovy
  grails-app/domain/de/dkfz/tbi/otp/notification/Notification.groovy
  grails-app/domain/de/dkfz/tbi/otp/notification/NotificationStatus.groovy
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-2991-notification-domain-classes.groovy
  src/main/groovy/de/dkfz/tbi/otp/notification/NotificationScope.groovy
  src/main/groovy/de/dkfz/tbi/otp/notification/NotificationState.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump com.github.mwiede:jsch from 2.28.2 to 2.28.3
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 15.16.0 to 15.17.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump @cyclonedx/cyclonedx-npm from 4.2.1 to 5.0.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.gradle.develocity from 4.4.2 to 4.4.3
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-3008: exclude log entries when loading DB dump to speed up the updating process
  devScripts/postgres/apply-dump.sh
Due: none

Update: Bump com.networknt:json-schema-validator from 2.0.1 to 2.0.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

fix: otp-3007: Sending final notification fails due to old alignment
  grails-app/services/de/dkfz/tbi/otp/notification/CreateNotificationTextService.groovy
  src/test/groovy/de/dkfz/tbi/otp/notification/CreateNotificationTextServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2904: Adaption to Run OTP with Weskit
  grails-app/services/de/dkfz/tbi/otp/config/ConfigService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAccessService.groovy
  migrations/changelogs/defaultValues/workflow-versions.sql
  scripts/initializations/workflowTest/initWorkflowTest.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAccessServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcExecuteWesPipelineJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractExecuteWesPipelineJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractWesValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/WeskitCheckFragmentKeysJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WesWorkflowParameter.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WesWorkflowType.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/TestConfigService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractExecuteWesPipelineJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/fastqc/WesFastqcWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump eslint from 10.5.0 to 10.6.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.networknt:json-schema-validator from 2.0.2 to 2.0.3
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Chg: otp-2980: Show only report for current weskit run
  cypress/e2e/workflowSystem/workflowRunDetails.spec.js
  docker/database/Dockerfile.dev
  docker/ssh/30-create-wes-restart-report.sh
  grails-app/assets/javascripts/pages/workflowRunDetails/index.js
  grails-app/controllers/de/dkfz/tbi/otp/infrastructure/WesRunController.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WesRunService.groovy
  scripts/initializations/demoImports/CreateWesRestartScenarioData.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/WesRunControllerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WesRunServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Update: Bump cypress from 15.17.0 to 15.18.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump globals from 17.6.0 to 17.7.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Chg: otp-2646: Create missing Cypress tests for Project Request
  cypress/e2e/project/projectRequest.spec.js
  cypress/fixtures/projectRequest.json
  grails-app/controllers/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestController.groovy
  grails-app/domain/de/dkfz/tbi/otp/project/ProjectRequest.groovy
  grails-app/views/projectRequest/templates/_table.gsp
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, create war

chg: otp-2267: Kill workflow run
  grails-app/assets/javascripts/pages/workflowRunDetails/index.js
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowRunController.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowRun.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/JobService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/cluster/ClusterJobHandlingService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WesRunService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAccessService.groovy
  grails-app/views/workflowRunDetails/index.gsp
  package-lock.json
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/JobServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/cluster/ClusterJobHandlingServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WesRunServiceSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/pancancer/AbstractPanCancerWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/pancancer/PanCancerExomeAlignmentWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*
