Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*

chg: otp-2446: Log all errors on the userManagement page
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectCreationController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectUserController.groovy
  grails-app/i18n/messages.properties
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/ProjectUserControllerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2489: Overview page of Reference Genomes
  grails-app/assets/javascripts/otp.js
  grails-app/assets/javascripts/pages/referenceGenome/datatable.js
  grails-app/assets/javascripts/taglib/EditorSwitch.js
  grails-app/assets/stylesheets/otp.less
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ReferenceGenomeController.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/ReferenceGenome.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/referencegenome/ReferenceGenomeService.groovy
  grails-app/views/metaDataFields/_tabMenu.gsp
  grails-app/views/metaDataFields/antibodyTargets.gsp
  grails-app/views/metaDataFields/libraryPreparationKits.gsp
  grails-app/views/metaDataFields/seqCenters.gsp
  grails-app/views/metaDataFields/seqPlatforms.gsp
  grails-app/views/metaDataFields/seqTypes.gsp
  grails-app/views/referenceGenome/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2024/otp-2489-add-legacy-flag-to-referenceGenome.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/ReferenceGenomeServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war

Update: Bump org.postgresql:postgresql from 42.7.3 to 42.7.4
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2614: Fix reminder for cellranger runs started automatically during import
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/administration/MailHelperService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/UserProjectRoleService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CellRangerDataCleanupJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/UserProjectRoleServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CellRangerDataCleanupJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/utils/exceptions/SaveMailException.groovy
  src/test/groovy/de/dkfz/tbi/otp/administration/MailHelperServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Revert "chg: otp-2548: update usage of datatables api for analysis result pages"
  grails-app/assets/javascripts/otp.js
  grails-app/assets/javascripts/pages/analysis/results/datatable.js
  grails-app/assets/javascripts/pages/clusterJobGeneral/index/clusterJobGeneral.js
  grails-app/assets/javascripts/pages/crashRecovery/index/crashRecovery.js
  grails-app/assets/javascripts/pages/egaSubmission/selectSamples/datatable.js
  grails-app/assets/javascripts/pages/processes/list/list.js
  grails-app/assets/javascripts/pages/processes/plan/plan.js
  grails-app/assets/javascripts/pages/processes/process/process.js
  grails-app/assets/javascripts/pages/processes/processingStep/processingStep.js
  grails-app/views/crashRecovery/index.gsp
  grails-app/views/egaSubmission/selectSamples.gsp
Due: cypress tests, eslint, create war

Update: Bump org.springframework.security:spring-security-* from 5.8.13 to 5.8.14
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2615: disable update check for eslint
  .gitlab/dependabot.yml
Due: none

chg: otp-2581: Improve the performance of sequence page
  cypress/e2e/overview/fastqcResults.spec.js
  cypress/e2e/overview/individual.spec.js
  cypress/e2e/overview/sampleOverview.spec.js
  cypress/e2e/overview/sequence.spec.js
  cypress/support/commands.js
  grails-app/assets/javascripts/common/DataTableFilter.js
  grails-app/assets/javascripts/pages/individual/list/datatable.js
  grails-app/assets/javascripts/pages/sequence/index/datatable.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/IndividualController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/SequenceController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTrackService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsqc/FastqcResultsService.groovy
  grails-app/views/templates/_dataTableFilter.gsp
  src/test/groovy/de/dkfz/tbi/otp/ngsqc/FastqcResultsServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

fix: otp-2554: AbstractAnalysisDecider checks if reference genome is supported
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/AnalysisArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AnalysisBamFileArtefactData.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/AnalysisArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump cypress from 13.13.3 to 13.14.0
  package-lock.json
  package.json
Due: cypress tests, eslint

bug: otp-2617: Fix cellranger plot directory
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/bamfiles/SingleCellBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/job/jobs/cellRanger/CellRangerServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/bamfiles/SingleCellBamFileServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump cypress from 13.14.0 to 13.14.1
  package-lock.json
  package.json
Due: cypress tests, eslint

refactor: otp-1873: Check for similar code workflowConfigViewer/workflowConfig
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowConfigController.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump org.webjars.npm:chart.js from 4.4.3 to 4.4.4
  build.gradle
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 13.14.1 to 13.14.2
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump eslint-plugin-import from 2.29.1 to 2.30.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump start-server-and-test from 2.0.5 to 2.0.7
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2567: Add cypress test for bulk sample creation
  cypress/e2e/operatorAndAdminPages/bulkSampleCreation.spec.js
  cypress/e2e/operatorAndAdminPages/metadataImport.spec.js
  cypress/fixtures/bulkSampleCreation.txt
  grails-app/assets/stylesheets/otp.less
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SampleIdentifierService.groovy
  grails-app/views/bulkSampleCreation/index.gsp
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/IndividualControllerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/SampleIdentifierServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, create war

Update: Bump com.gradle.develocity from 3.18 to 3.18.1
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2565: create cypress tests for ProcessOptions
  cypress/e2e/operatorAndAdminPages/processingOptions.spec.js
  cypress/fixtures/processingOptionValidators.json
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  src/main/groovy/de/dkfz/tbi/otp/config/TypeValidators.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/Hipo2SampleIdentifierParserSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, create war

new: otp-2566: cypress test for processing priority
  cypress/e2e/workflowSystem/processingPriority.spec.js
Due: cypress tests, check cypress suite configured for ci

new: otp-2541: Add warning for missing category/thresholds on workflow triggering page
  cypress/e2e/workflowSystem/processingThreshold.spec.js
  grails-app/assets/javascripts/pages/triggerAlignment/index/functions.js
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentController.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/SampleTypePerProject.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentService.groovy
  grails-app/views/triggerAlignment/components/_warnArea.gsp
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Update: Bump start-server-and-test from 2.0.7 to 2.0.8
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.bertramlabs.plugins:sass-asset-pipeline
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2620: Reinitialize the list of possible pi for editing of project request
  cypress/e2e/project/projectRequest.spec.js
  cypress/fixtures/projectRequest.json
  grails-app/assets/javascripts/pages/projectRequest/index.js
  grails-app/views/templates/bootstrap/_userTabBar.gsp
Due: cypress tests, check cypress suite configured for ci, eslint, create war

chg: otp-2622: adaption to run cypress test in gitlab runner behind a proxy & some other improvements
  .gitlab-ci-core.yml
  devScripts/git-hooks/pre-commit/codestyle.sh
  devScripts/gitlab-ci/cypress/cypress.sh
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Update: Bump com.github.mwiede:jsch from 0.2.19 to 0.2.20
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

fix: otp-2630: Use GUI_IGNORE_UNREGISTERED_OTP_USERS_FOUND for CheckFileAccessInconsistenciesJob
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJob.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2624: Fix datatable export and improve test of table downloads
  cypress.config.js
  cypress/e2e/operatorAndAdminPages/metaDataFields.spec.js
  cypress/e2e/overview/aceseq.spec.js
  cypress/e2e/overview/dataFile.spec.js
  cypress/e2e/overview/indel.spec.js
  cypress/e2e/overview/individual.spec.js
  cypress/e2e/overview/runYapsa.spec.js
  cypress/e2e/overview/sampleOverview.spec.js
  cypress/e2e/overview/sequence.spec.js
  cypress/e2e/overview/snv.spec.js
  cypress/e2e/overview/sophia.spec.js
  cypress/e2e/project/departmentOverview.spec.js
  cypress/e2e/project/projectOverview.spec.js
  cypress/e2e/workflowSystem/processingPriority.spec.js
  cypress/fixtures/downloadChecks/aceseq.json
  cypress/fixtures/downloadChecks/dataSwapTemplate.json
  cypress/fixtures/downloadChecks/departmentOverview.json
  cypress/fixtures/downloadChecks/indel.json
  cypress/fixtures/downloadChecks/individual.json
  cypress/fixtures/downloadChecks/projectOverviewSampleType.json
  cypress/fixtures/downloadChecks/projectOverviewSequences.json
  cypress/fixtures/downloadChecks/projectOverviewSequencingCenter.json
  cypress/fixtures/downloadChecks/projectOverviewSequencingTypes.json
  cypress/fixtures/downloadChecks/runYapsa.json
  cypress/fixtures/downloadChecks/sampleOverview.json
  cypress/fixtures/downloadChecks/sequence.json
  cypress/fixtures/downloadChecks/snv.json
  cypress/fixtures/downloadChecks/softwareTools.json
  cypress/fixtures/downloadChecks/sophia.json
  cypress/support/commands.js
  docker/otp/Dockerfile
  grails-app/assets/javascripts/otp.js
  grails-app/assets/javascripts/pages/projectOverview/index/datatable.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectOverviewController.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisResultsService.groovy
  grails-app/views/metaDataFields/seqTypes.gsp
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Update: Bump com.github.samtools:htsjdk from 4.1.1 to 4.1.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

ignore: rename stage to qm
  .gitlab-ci-core.yml
  devScripts/gitlab-ci/qm/createDependencies.sh
  devScripts/gitlab-ci/qm/createTestIdentifierList.sh
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

chg: otp-2625: improve workflow scheduling
  grails-app/domain/de/dkfz/tbi/otp/project/Project.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/Workflow.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowRun.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowRunInputArtefact.groovy
  migrations/changelog.groovy
  migrations/changelogs/2024/otp-2625-improve-workflow-scheduling.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump com.bertramlabs.plugins:less-asset-pipeline
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2635: fix processing priority cypress test
  cypress.config.js
  cypress/e2e/operatorAndAdminPages/metadataImport.spec.js
  cypress/e2e/workflowSystem/processingPriority.spec.js
Due: cypress tests, check cypress suite configured for ci

Update: Bump cypress from 13.14.2 to 13.15.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.github.node-gradle.node from 7.0.2 to 7.1.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.junit.vintage:junit-vintage-engine
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2638: fix encoding of passed through cellranger reports
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/AlignmentQualityOverviewController.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  grails-app/views/alignmentQualityOverview/index.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/job/jobs/cellRanger/CellRangerServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2639: speed up fastqc decider
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/FastqcProcessedFile.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/FastQcProcessedFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/FastqcArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/FastqcDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcPrepareJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/fastqc/FastqcArtefactDataWithFastqcProcessedFile.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/fastqc/FastqcArtefactDataWithSeqTrack.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/FastqcProcessedFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcPrepareJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqcArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/FastqcDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war
