Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*

new: otp-2866: Update IndelCallingWorkflow to 1.2.177-603
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-cvalue-1.2.177-603.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-filenames-1.2.177-603.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-resources-1.2.177-603.sql
  migrations/changelogs/defaultValues/workflow-config/test/indel/ewc-roddy-indel-test-cvalue-all-version.sql
  migrations/changelogs/defaultValues/workflow-config/test/indel/ewc-roddy-indel-test-resource-EXON-PAIRED-all-version.sql
  migrations/changelogs/defaultValues/workflow-versions.sql
  scripts/initializations/workflowTest/initWorkflowTest.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelCheckFragmentKeysJob.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/indelcalling/AbstractIndelCallingWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/indelcalling/IndelCallingExomeWithExternallyProcessedBamFileWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/indelcalling/IndelCallingExomeWithRoddyBamFileWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/indelcalling/IndelCallingWholeGenomeWithExternallyProcessedBamFileWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/indelcalling/IndelCallingWholeGenomeWithRoddyBamFileWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2951: Weekly reminder for ProjectRequest waiting PI approval
  devScripts/codenarc-changed-files.sh
  grails-app/domain/de/dkfz/tbi/otp/project/ProjectRequestPersistentState.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-2951-add-project-request-approval-round-tracking.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestStateProviderIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/AbstractScheduledJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/ProjectRequestReminderJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestStateProvider.groovy
  src/test/groovy/de/dkfz/tbi/otp/cron/ProjectRequestReminderJobSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2860: Strict typechecking for Groovy 4 in dynamically compiled files and scripts
  .gitignore
  devScripts/gitlab-ci/license-checker/licensecheck.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/AlignmentQualityOverviewController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/AbstractAnalysisController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/AceseqController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/IndelController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/SnvController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/SophiaController.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/RoddyQualityAssessmentService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/roddyExecution/RoddyWorkflowConfigService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/BamMetadataImportService.groovy
  migrations/createSequenceViews.groovy
  migrations/loadDefaultValues.groovy
  scripts/migration/otp-1136-import-project-request-species.groovy
  scripts/migration/otp-1136-import-project-species.groovy
  scripts/migration/otp-1136-import-project.groovy
  scripts/migration/otp-1136-import-projectRequest.groovy
  scripts/migration/otp-1573-species-migration.groovy
  scripts/migration/otp-1979_migrate_fastq_to_cram.groovy
  scripts/migration/otp-2324-create-notifcation-messages.groovy
  scripts/operations/dataCleanup/DeleteProject.groovy
  scripts/operations/dataCleanup/fileTransfer/ReplaceLinksByRealFastqFile.groovy
  scripts/operations/export/MetadataExport.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/aceseq/ParseAceseqQcJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/indelCalling/ParseIndelQcJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/sophia/ParseSophiaQcJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/bam/validators/QualityControlFileValidator.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqParseJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelParseJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaParseJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportFinishJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractQcFileParseJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/utils/CreateFileHelper.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/AbstractRoddyAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/rna/AbstractRnaAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/dataInstallation/DataInstallationWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump eslint from 10.2.1 to 10.3.0
  package-lock.json
  package.json
Due: cypress tests, eslint

bug: otp-2978: Correct BamImportLinkSourceJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkSourceJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkSourceJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump org.postgresql:postgresql from 42.7.10 to 42.7.11
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump globals from 17.5.0 to 17.6.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump cypress from 15.14.1 to 15.14.2
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2979: use small cell ranger files
  src/workflow-test/groovy/de/dkfz/tbi/otp/alignment/cellRanger/AbstractCellRangerAlignmentWorkflowTests.groovy
Due: codenarc

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump start-server-and-test from 3.0.2 to 3.0.4
  package-lock.json
  package.json
Due: cypress tests, eslint

bug: otp-2981: increase the memory for the indel annotation jobs in the workflow test
  migrations/changelogs/defaultValues/workflow-config/test/indel/ewc-roddy-indel-test-resource-all-version.sql
Due: test migration, cypress tests

Update: Bump com.github.mwiede:jsch from 2.28.0 to 2.28.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

fix: otp-2964: change group for uuid folder
  grails-app/services/de/dkfz/tbi/otp/dataswap/AbstractDataSwapService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataswap/IndividualSwapService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataswap/LaneSwapService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataswap/SampleSwapService.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/AbstractDataSwapServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2857: Fix FastQC retrigger after workflow failure
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/FastqcArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/FastqcDecider.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqcArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/FastqcDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.github.samtools:htsjdk from 4.3.0 to 5.0.0
  build.gradle
  devScripts/gitlab-ci/license-checker/findNewLicenses.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.fasterxml.jackson.core:jackson-core
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2982: fix script getReferenceGenomeInfo
  scripts/ReferenceGenome/getReferenceGenomeInfo.py
Due: none

Update: Bump org.openapi.generator from 7.21.0 to 7.22.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Ignore: ...
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerMergingWorkPackage.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAlignmentInfoService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AlignmentInfoService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/RoddyAlignmentInfoService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerAlignmentInfoService.groovy
  grails-app/services/de/dkfz/tbi/otp/notification/CreateNotificationTextService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AllDecider.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/AlignmentInfoServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AllDeciderIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataprocessing/AlignmentInfo.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerAclCleanUpJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerCleanUpJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerPrepareJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/RoddyAlignmentCreateNotificationJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/workflowTest/referenceGenome/ReferenceGenomeHg38CellRanger.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/AlignmentInfoServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/AbstractCreateNotificationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerAclCleanUpJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerCleanUpJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerPrepareJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/AbstractAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/cellRanger/CellRangerWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/AbstractRoddyAlignmentWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump start-server-and-test from 3.0.4 to 3.0.5
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump cypress from 15.14.2 to 15.15.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump eslint from 10.3.0 to 10.4.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Chg: otp-2968: Update SchedulingConfiguration
  grails-app/init/de/dkfz/tbi/otp/SchedulingConfiguration.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/SchedulingConfigurationIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/DeleteOnCheckJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/AbstractScheduledJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckExpiredProjectsJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/DeleteOnCheckJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/GenerateAndSendKPIsForNBI.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/ProjectRequestReminderJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/SchedulingConfigurationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/cron/AbstractScheduledJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/cron/ProjectRequestReminderJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Bug: otp-2963: Sort not working in some table columns
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/SequenceController.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/Sequence.groovy
  migrations/changelogs/dbview/sequences.sql
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

New: otp-2854: Replace LinkGenerator
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/AbstractQaOverviewService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/JobService.groovy
  src/main/groovy/de/dkfz/tbi/otp/ProjectLinkGenerator.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/AbstractQaOverviewServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/CellRangerQaOverviewServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/PanCancerBedFileQaOverviewServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/PanCancerNoBedFileQaOverviewServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/RnaQaOverviewServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/JobServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-2925: Enable deletion of individual data transfers and agreements
  .gitignore
  cypress/e2e/project/dataTransfer.spec.js
  cypress/fixtures/downloadChecks/dataTransferDocument.json
  cypress/support/commands.js
  grails-app/assets/javascripts/pages/dataTransfer/index/functions.js
  grails-app/controllers/de/dkfz/tbi/otp/project/dta/DataTransferController.groovy
  grails-app/domain/de/dkfz/tbi/otp/project/dta/DataTransferAgreement.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/project/dta/DataTransferService.groovy
  grails-app/views/dataTransfer/templates/_transferList.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/project/dta/DataTransferServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

New: otp-2830: Make it possible to search for current step on workflowRunList
  grails-app/assets/javascripts/pages/workflowRunList/index.js
  grails-app/assets/stylesheets/bootstrapped.less
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowRunDetailsController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowRunListController.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowRun.groovy
  grails-app/init/de/dkfz/tbi/otp/BootStrap.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowStepService.groovy
  grails-app/views/workflowRunDetails/index.gsp
  grails-app/views/workflowRunDetails/showError.gsp
  grails-app/views/workflowRunDetails/showLogs.gsp
  grails-app/views/workflowRunList/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-2830-workflow-step-bean-name-indexes.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowRunServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/BootStrapSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war

Update: Bump com.github.robtimus:sftp-fs from 4.0 to 4.0.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Fix: otp-2986: Update project request reminder subject
  grails-app/i18n/messages.properties
Due: unit tests, integration tests, test coverage, cypress tests, create war

Update: Bump eslint from 10.4.0 to 10.4.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump cypress from 15.15.0 to 15.16.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.gradle.develocity from 4.4.1 to 4.4.2
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Chg: otp-2909: not allowed characters in passwords to login OTP
  .gitignore
  cypress.config.js
  cypress/cypress.env.json
  cypress/e2e/others/login.spec.js
  devScripts/gitlab-ci/cypress/cypress.sh
  devScripts/gitlab-ci/license-checker/licensecheck.groovy
  docker/ldap/bootstrap/custom/01-user-seed.ldif
  grails-app/init/de/dkfz/tbi/otp/SecurityConfiguration.groovy
  package-lock.json
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

New: otp-2778: Activate CellRangerDecider and empty old-workflow seqType list
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTypeService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AllDecider.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AllDeciderIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTypeServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/AlignmentValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2778: Remove old CellRanger UI, import trigger, and notification links
  grails-app/controllers/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/CellRangerConfigurationController.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/MetadataImportService.groovy
  grails-app/services/de/dkfz/tbi/otp/notification/CreateNotificationTextService.groovy
  grails-app/views/cellRanger/_mwp.gsp
  grails-app/views/cellRanger/finalRunSelection.gsp
  grails-app/views/cellRangerConfiguration/index.gsp
  grails-app/views/layouts/common.gsp
  grails-app/views/projectConfig/_tabMenu.gsp
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/MetadataImportServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/notification/CreateNotificationTextServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Fix: otp-2778: Remove dangling CellRanger link from cleanup job notification
  grails-app/i18n/messages.properties
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CellRangerDataCleanupJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CellRangerDataCleanupJob.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war
