Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*

bug: otp-2822: mark old artefacts of restarted workflows withdrawn
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/runyapsa/RunYapsaWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/snv/SnvWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2832: increase timout for analysis workflow test
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/AbstractAnalysisWorkflowSpec.groovy
Due: codenarc

review: Review
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Revert "Update: Bump org.apache.commons:commons-lang3 from 3.14.0 to 3.19.0"
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

update: fix version of org.apache.commons:commons-lang3
  .gitlab/dependabot.yml
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.apache.commons:commons-lang3 from 3.14.0 to 3.19.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2834: Fix script delete external processed merged bam file
  scripts/operations/dataCleanup/admin/deleteExternalBamFiles.groovy
Due: none

fix: otp-2791: Deprecate the old version by switching fastQC workflows
  grails-app/assets/javascripts/pages/workflowSelection/index.js
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionController.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/metadatavalidation/MetadataValidationService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowVersionSelectorService.groovy
  grails-app/views/workflowSelection/index.gsp
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/LibPrepKitAdapterValidator.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowVersionSelectorServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowVersionSelectorServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, eslint, create war

new: otp-2782: Add validator to check if a seqPlatform is part of a seqPlatformGroup
  cypress/fixtures/file-uploads/example_import_project01_1.csv
  cypress/fixtures/file-uploads/example_import_project01_2.csv
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/GroupSeqPlatformValidatorIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/GroupSeqPlatformValidator.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

fix: otp-2843: add chmod command to set the execution flag for bash and sql files
  docker/database/Dockerfile.dev
  docker/integration-test-build-database/Dockerfile
  docker/ssh/Dockerfile
Due: cypress tests

Update: Bump cypress from 15.6.0 to 15.7.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump start-server-and-test from 2.1.2 to 2.1.3
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2824: Adapt INFORM Parser
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  migrations/changelog.groovy
  migrations/changelogs/2025/otp-2824-inform-like-parser.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/SampleIdentifierServiceTests.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/ProjectServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/inform/InformLikeSampleIdentifierParser.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/inform/InformLikeSampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/inform/InformSampleIdentifierParserSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2844: Update Deprecated org.apache.commons usages
  build.gradle
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectUserController.groovy
  grails-app/domain/de/dkfz/tbi/otp/security/UserRole.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/identityProvider/KeycloakService.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

fix: otp-2733: add autowired annotation to list of services
  grails-app/codenarcRules/AutowiredCollectionServiceFieldsRule.groovy
  grails-app/conf/CodeNarcRuleSet.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/restartHandler/WorkflowJobErrorDefinitionService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/restartHandler/WorkflowJobErrorDefinitionServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2803: adapt validator to ignore cases for single cell column values
  grails-app/services/de/dkfz/tbi/otp/dataCorrection/validators/SeqTrackMatchesColumnsValidator.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2270: Allow edit workflow when clicking enabled/disabled workflow
  .eslintrc.js
  cypress/e2e/workflowSystem/workflowRunOverview.spec.js
  devScripts/git-hooks/pre-commit/codestyle.sh
  grails-app/assets/javascripts/common/editWorkflow.js
  grails-app/assets/javascripts/pages/workflowRunOverview/index.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/index.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/workflowVersions.js
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowRunOverviewController.groovy
  grails-app/views/workflowRunOverview/index.gsp
  grails-app/views/workflowSystemConfig/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Fix: otp-2845: Add strict typechecking as preparation for Groovy4
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/roddyExecution/RoddyWorkflowConfigService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/singleCell/SingleCellMappingFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/ClusterJobService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/FileService.groovy
  grails-app/services/de/dkfz/tbi/otp/job/processing/JobStatusLoggingService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/ChecksumFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/project/ProjectInfoService.groovy
  grails-app/services/de/dkfz/tbi/otp/project/dta/DataTransferAgreementService.groovy
  grails-app/services/de/dkfz/tbi/otp/project/dta/DataTransferService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/Md5SumService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/alignment/AlignmentQualityOverviewService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/restartHandler/logging/RestartHandlerLogService.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataswap/ScriptBuilder.groovy
  src/main/groovy/de/dkfz/tbi/otp/utils/validation/ValidatorUtil.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractOtpClusterValidationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/processing/JobStatusLoggingServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

fix: otp-2856: Adapt HasIdentifier to work in groovy 4
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/HasIdentifier.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2859: fix setup of cellranger workflow test
  src/workflow-test/groovy/de/dkfz/tbi/otp/WorkflowTestCase.groovy
Due: codenarc

chg: otp-2720: Show WesFastQC workflow detail
  grails-app/assets/javascripts/pages/workflowRunDetails/index.js
  grails-app/controllers/de/dkfz/tbi/otp/infrastructure/WesRunController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/RunStatusService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WesRunService.groovy
  grails-app/views/wesRun/show.gsp
  package-lock.json
  scripts/initializations/demoImports/CreateExampleWorkflowData.groovy
  scripts/initializations/demoImports/CreateWesFastQcWorkflowData.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/WesRunControllerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WesRunServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, eslint, create war

bug: otp-2841: use system user for complete jobs of new system
  grails-app/services/de/dkfz/tbi/otp/utils/SystemUserService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/UpdateDepartmentHeadsJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/SystemUserServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/UpdateDepartmentHeadsJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowCreatorScheduler.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/JobScheduler.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/BamImportWorkflowCreatorSchedulerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorSchedulerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/JobSchedulerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2759: Resolve merge conflict
  migrations/changelog.groovy
  migrations/changelogs/2025/otp-2759-rename-roddyAlignmentFragmentJob-to-alignmentFragmentJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/AlignmentFragmentJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/wgbs/WgbsWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/AlignmentFragmentJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/panCancer/PanCancerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/rna/RnaAlignmentWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/wgbs/WgbsWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

bug: otp-2858: Split cache npm in npm and cypress
  .gitlab-ci-core.yml
  devScripts/gitlab-ci/cypress/cypress.sh
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

chg: otp-2851: create workflow tests for otp-2841
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaConditionalSkipJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/DeciderCreateWorkflowAction.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaConditionalSkipJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/ExternalBamFileAnalysisArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/RoddyAnalysisArtefactServiceSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractDecidedWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/pancancer/AbstractPanCancerWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/pancancer/AbstractPanCancerWorkflowWithoutAntibodySpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/pancancer/PanCancerChipSeqAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/pancancer/PanCancerWholeGenomeAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/rna/AbstractRnaAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/wgbs/WgbsAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/AbstractAnalysisWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/AbstractRoddyAnalysisWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/snvcalling/AbstractSnvCallingWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/snvcalling/SnvCallingExomeWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/snvcalling/SnvCallingWholeGenomeWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/bamImport/BamImportWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/dataInstallation/DataInstallationWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/fastqc/FastqcWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/fastqc/WesFastqcWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Fix: otp-2825: Move the RoddyAlignmentCheckQcJob as the penultimate job in the workflow execution for alignment workflows
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/wgbs/WgbsWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/panCancer/PanCancerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/rna/RnaAlignmentWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/wgbs/WgbsWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2769: Create CellRangerWorkflow
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2764: Created CellRangerValidationJob
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerValidationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerValidationJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2767: Created CellRangerLinkJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerLinkJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerLinkJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2732: Handle deleted analysis directories in withdrawn script
  grails-app/services/de/dkfz/tbi/otp/infrastructure/FileService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/ScriptInputHelperService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/UnwithdrawService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/WithdrawAnalysisService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/WithdrawHelperService.groovy
  scripts/operations/dataCorrection/UnwithdrawData.groovy
  scripts/operations/dataCorrection/WithdrawData.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/withdraw/UnwithdrawServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/FileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/UnwithdrawServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/WithdrawAnalysisServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2762: Created CellRangerPrepareJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerPrepareJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerPrepareJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2840: Extend BamImport to allow cram files
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/AbstractBamFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ExternallyProcessedBamFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ExternallyProcessedCramFile.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/FileService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/alignment/AlignmentLinkFileServiceFactoryService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/alignment/AlignmentWorkFileServiceFactoryService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/BamMetadataImportService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/bamImport/BamImportInitializationService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/BamMetadataImportServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/bam/validators/BamFilePathValidator.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportCopyJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/externalBam/AbstractExternalBamFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/externalBam/ExternalBamFactoryBam.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/externalBam/ExternalBamFactoryCram.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/workflowSystem/BamImportWorkflowDomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/SearchExternallyProcessedBamFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/BamFilePairAnalysisSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/LaneSwapServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/alignment/ExternalAlignmentLinkFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/alignment/ExternalAlignmentSourceFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/alignment/ExternalAlignmentWorkFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/bam/validators/BamFilePathValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportCopyJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportInitializationServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/BamImportWorkflowCreatorSchedulerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/ExternalBamFileAnalysisArtefactServiceSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/AbstractAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/AbstractAnalysisWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/bamImport/AbstractBamImportWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/bamImport/BamImportBamWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/bamImport/BamImportCramWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2880: Remove keepalive for weskit oauth from WesMonitor
  src/main/groovy/de/dkfz/tbi/otp/workflow/scheduler/WesMonitor.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WesMonitorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2768: Created CellRangerFinishJob
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerFinishJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerFinishJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2826: Add Line Number to Workflow log page and display total amount of logs.
  grails-app/views/workflowRunDetails/showLogs.gsp
Due: cypress tests, create war

bug: otp-2823: Update DataAndBamFileToExternalSource script to ignore the withdrawn analysis
  scripts/operations/export/DataAndBamFileExportToExternalSource.groovy
Due: none
