Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, cypress tests

unit tests:
  stage: test
  dependencies: []
  needs: []
  cache:
  - key:
      files:
      - $CI_PROJECT_DIR/gradle/wrapper/gradle-wrapper.properties
      prefix: gradle-$CI_JOB_NAME
    paths:
    - $GRADLE_USER_HOME
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/test/*.xml
    - build/reports/tests
  ...

integration tests:
  stage: test
  dependencies: []
  needs: []
  cache:
  - key:
      files:
      - $CI_PROJECT_DIR/gradle/wrapper/gradle-wrapper.properties
      prefix: gradle-$CI_JOB_NAME
    paths:
    - $GRADLE_USER_HOME
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/integrationTest/*.xml
    - build/reports/tests
  ...

test coverage:
  stage: test
  dependencies:
  - unit tests
  - integration tests
  needs:
  - unit tests
  - integration tests
  cache:
  - key:
      files:
      - $CI_PROJECT_DIR/gradle/wrapper/gradle-wrapper.properties
      prefix: gradle-$CI_JOB_NAME
    paths:
    - $GRADLE_USER_HOME
  artifacts:
    expire_in: 4 week
    paths:
  ...

cypress tests:
  stage: test
  dependencies: []
  needs: []
  cache:
  - key:
      files:
      - $CI_PROJECT_DIR/gradle/wrapper/gradle-wrapper.properties
      prefix: gradle-$CI_JOB_NAME
    paths:
    - $GRADLE_USER_HOME
  - key:
      files:
      - $CI_PROJECT_DIR/package-lock.json
      prefix: node
    paths:
    - node_modules/
  ...

Update: Bump cypress from 13.5.0 to 13.5.1
  package-lock.json
  package.json
Due: cypress tests

Update: Bump start-server-and-test from 2.0.2 to 2.0.3
  package-lock.json
  package.json
Due: cypress tests

fix: otp-2348: Open the dialog after clicking edit icon in processing priority page
  grails-app/assets/javascripts/pages/processingPriority/index/functions.js
Due: cypress tests

Update: Bump eslint from 8.53.0 to 8.54.0
  package-lock.json
  package.json
Due: cypress tests

bug: otp-1795: Error on clusterJobDetail/show
  grails-app/assets/javascripts/pages/clusterJobDetail/show/clusterJobDetail.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/index.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/workflowVersions.js
  grails-app/controllers/de/dkfz/tbi/otp/infrastructure/ClusterJobDetailController.groovy
  src/main/groovy/de/dkfz/tbi/util/TimeFormats.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2298: Create BamImportLinkJob
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ExternallyProcessedBamFile.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAbstractBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/bamfiles/ExternallyProcessedBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/bamfiles/RoddyBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/bamfiles/SingleCellBamFileService.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

fix: otp-2349: Fix mentioning of ODCF in email
  grails-app/i18n/messages.properties
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2271: Remove Warning from Import Validator ILSe in metadata file name
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/IlseNumberValidator.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/IlseNumberValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2324: Migration of notification message
  scripts/migration/otp-2324-create-notifcation-messages.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCreateNotificationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCreateNotificationJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2344: remove SeqTrack log method
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/RoddyBamFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/SeqTrack.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowStep.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/LinkFilesToFinalDestinationService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/WorkflowDeletionService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/LinkFilesToFinalDestinationService_RnaRoddyBamFileIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/job/jobs/roddyAlignment/AbstractAlignmentStartJobIntegrationTests.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTrackTests.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/DeletionServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/ConcreteArtefactServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataprocessing/AbstractAlignmentDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataprocessing/NoAlignmentDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyAlignmentDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/rnaAlignment/RnaAlignmentStartJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/roddyAlignment/AbstractRoddyAlignmentStartJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflow.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/IsRoddy.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/job/jobs/TestAbstractAlignmentStartJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/utils/CreateRoddyFileHelper.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/BamFilePairAnalysisSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/ExternallyProcessedBamFileSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyBamFileDomainSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyBamFileSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/jobs/bamImport/ImportExternallyMergedBamJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/jobs/bamImport/ReplaceSourceWithLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsqc/FastqcUploadServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/LogServiceSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/alignment/roddy/AbstractRoddyAlignmentWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.opencsv:opencsv from 5.8 to 5.9
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump cypress from 13.5.1 to 13.6.0
  package-lock.json
  package.json
Due: cypress tests

Update: Bump org.postgresql:postgresql from 42.6.0 to 42.7.0
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.grails:grails-async-gpars from 4.0.0 to 5.0.0
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

update: otp-2350: Update JSch
  build.gradle
  src/main/groovy/de/dkfz/tbi/otp/job/processing/FileSystemService.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/processing/RemoteShellHelper.groovy
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2353: Handle add new alignable data to existing sample
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2299: BamImportFinishJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportFinishJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportFinishJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2319: Whitespaces in Sample ID
  .gitignore
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/SampleIdValidatorIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/SampleIdentifierValidator.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2296: create job to check fragment keys in combined config
  grails-app/i18n/messages.properties
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCheckFragmentKeysJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentCheckFragmentKeysJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/BashFastQcWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractCheckFragmentKeysJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/OtpClusterCheckFragmentKeysJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/shared/FailedParsingConfigException.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/shared/MissingFragmentKeysException.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCheckFragmentKeysJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerCheckFragmentKeysJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentCheckFragmentKeysJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsCheckFragmentKeysJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportCheckFragmentKeysJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationCheckFragmentKeysJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/BashFastqcWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcCheckFragmentKeysJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractCheckFragmentKeysJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/OtpClusterCheckFragmentKeysJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.jsoup:jsoup from 1.16.2 to 1.17.1
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2364: Fix extraction of seqPlatformGroup for bam files in AbstractAlignmentDecider
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2365: Fix the @PreAuthorize of prepareCellRangerExecution
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/CellRangerConfigurationController.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerConfigurationService.groovy
  src/main/groovy/de/dkfz/tbi/otp/security/ProjectPermissionEvaluator.groovy
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2367: fix path to file convertion
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/LinkFilesToFinalDestinationService.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump eslint from 8.54.0 to 8.55.0
  package-lock.json
  package.json
Due: cypress tests

refactor: otp-2189: unignore tests in UnknownLdapUsersJobIntegrationSpec
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/UnknownLdapUsersJobIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage

Update: Bump cypress from 13.6.0 to 13.6.1
  package-lock.json
  package.json
Due: cypress tests

new: otp-2284: BamImport: Create BamImportReplaceSourceJob
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/bamfiles/ExternallyProcessedBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/FileService.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportReplaceSourceJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportShared.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/bamfiles/ExternallyProcessedBamFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportReplaceSourceJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.gradle.enterprise from 3.15.1 to 3.16
  .gitlab-ci-core.yml
  settings.gradle
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2304: RNA workflow defaults
  grails-app/services/de/dkfz/tbi/otp/job/processing/RoddyConfigValueService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2304-delete-old-rna-workflow-defaults.groovy
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-cvalue-RNA-1.2.22-6+1.2.22-7.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-cvalue-RNA-1.3.0+1.3.0-1.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-cvalue-RNA.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-resources-RNA-1.2.22-6+1.2.22-7+1.3.0+1.3.0-1.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-test-resource-RNA-all-version.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna2-cvalue-1.2.22-6.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna2-cvalue-1.2.22-7.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna2-cvalue-1.3.0-1.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna2-cvalue-1.3.0.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna2-cvalue-RNA-PAIRED-1.2.22-6+1.2.22-7+1.3.0+1.3.0-1.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna2-cvalue-RNA-SINGLE-1.2.22-6+1.2.22-7+1.3.0+1.3.0-1.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna2-filenames-1.2.22-6+1.2.22-7+1.3.0+1.3.0-1.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna2-resources-1.2.22-6+1.2.22-7+1.3.0+1.3.0-1.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna2-test-resource-all-version.sql
  scripts/migration/otp-1498-migrate-selectors.groovy
  scripts/migration/otp-1685-check-roddy-migration.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/rna/AbstractRnaAlignmentWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2371: tests added for getRunArriba method
  src/test/groovy/de/dkfz/tbi/otp/job/processing/RoddyConfigValueServiceSpec.groovy
Due: unit tests, integration tests, test coverage

Update: Bump org.postgresql:postgresql from 42.7.0 to 42.7.1
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2339: fix spaces in bash script of sample swap
  scripts/operations/dataSwap/create-a-seqtype-swap-script.groovy
Due: none

chg: otp-2273: fix number of lanes found
  grails-app/services/de/dkfz/tbi/otp/dataExport/DataExportService.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataExport/DataExportServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.webjars.npm:bootstrap-icons from 1.11.1 to 1.11.2
  build.gradle
  grails-app/assets/stylesheets/modules/application.css
  grails-app/assets/stylesheets/old.less
Due: unit tests, integration tests, test coverage, cypress tests

fix: otp-2332: improve workflow config test to prevent flaky testing situations
  cypress.config.js
  cypress/e2e/workflowConfig.spec.js
  cypress/fixtures/workflowConfig.json
Due: cypress tests

new: otp-2185: Activate the new RNA alignment workflow
  cypress/e2e/projectSeqPlatformGroup.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/dataprocessing/AlignmentQualityOverviewController.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/RnaQaOverviewService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTypeService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AllDecider.groovy
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2185.groovy
  scripts/operations/workflowTriggering/alignment/AlignDataIgnoringSeqPlatformGroup.groovy
  scripts/operations/workflowTriggering/alignment/AlignDataOfIlseIgnoringSeqPlatformGroup.groovy
  scripts/operations/workflowTriggering/alignment/RetriggerRoddyAlignment.groovy
  scripts/operations/workflowTriggering/alignment/TriggerAlignment.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/AbstractAlignmentDeciderIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AllDeciderIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/RnaQaOverviewServiceHibernateSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.github.robtimus:sftp-fs from 3.2 to 3.3
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.networknt:json-schema-validator from 1.0.87 to 1.0.88
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Path conditions:
  unit tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  integration tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  test coverage: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  cypress tests: any of: gradle/**/*, grails-app/**/*, src/main/**/*, cypress/**/*, docker/**/*, build.gradle, gradle.properties, cypress.config.js, package.json, package-lock.json, .gitlab-ci-core.yml
