Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

unit tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

integration tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

test coverage:
  dependencies:
  - build gradle
  - unit tests
  - integration tests
  needs:
  - build gradle
  - unit tests
  - integration tests
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
  ...

test migration:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - migrations/changelogs/*/testing.groovy
    when: on_failure
  ...

cypress tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - cypress/screenshots
  ...

check cypress suite configured for ci:
  dependencies: []
  needs: []
  stage: test
  script:
  - set -e
  - devScripts/gitlab-ci/cypress/check-suite-configured-for-ci.sh

codenarc:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/codenarc
    when: always
    reports:
  ...

eslint:
  dependencies: []
  needs: []
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/eslint
    when: always
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: codestyle
  ...

create war:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: war
  script:
  ...

chg: otp-2798: adapt ILP parser
  src/main/groovy/de/dkfz/tbi/otp/parser/ilp/IlpParser.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/ilp/IlpParserSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2708: analysis decider adaptation
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDecider.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AceseqDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/RunYapsaDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapi.generator from 7.15.0 to 7.16.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump start-server-and-test from 2.1.0 to 2.1.2
  package-lock.json
Due: cypress tests, eslint

chg: otp-2801: replace findAllByState with fast query without max/limit
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/JobScheduler.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/JobSchedulerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump cypress from 15.2.0 to 15.3.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump cypress from 15.3.0 to 15.4.0
  package-lock.json
  package.json
Due: cypress tests, eslint

new: otp-2674: Change TriggerAlignment method to trigger all Workflows
  cypress/e2e/workflowSystem/triggerAlignment.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentController.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AllDecider.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AllDeciderIntegrationSpec.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/workflowSystem/WorkflowSystemDomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, create war

chg: otp-2802: Let the ILP Parser set the SampleTypePerProject.Category directly
  src/main/groovy/de/dkfz/tbi/otp/parser/ilp/IlpParser.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/ilp/IlpParserSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.gradle.develocity from 4.2 to 4.2.1
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2411: activate Sophia workflow in new workflow system
  cypress/fixtures/downloadChecks/sophia.json
  grails-app/views/analysisConfigurationOverview/index.gsp
  grails-app/views/configureSophiaPipeline/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2025/otp-2411-disable-sophia-workflow.groovy
Due: test migration, cypress tests, create war

new: otp-2408: activate SNV calling workflow in new system
  cypress/fixtures/downloadChecks/snv.json
  grails-app/views/analysisConfigurationOverview/index.gsp
  grails-app/views/configureSnvPipeline/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2025/otp-2408-disable-snv-workflow.groovy
  scripts/migration/otp-2397-migrate-snv-selectors.groovy
Due: test migration, cypress tests, create war

new: otp-2409: activate Indel calling workflow in new workflow system
  cypress/fixtures/downloadChecks/indel.json
  grails-app/views/analysisConfigurationOverview/index.gsp
  grails-app/views/configureIndelPipeline/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2025/otp-2409-disable-indel-workflow.groovy
  scripts/migration/otp-2520-migrate-indel-selectors.groovy
Due: test migration, cypress tests, create war

new: otp-2410: activate ACEseq workflow in new workflow system
  cypress/e2e/workflowSystem/triggerAlignment.spec.js
  cypress/fixtures/downloadChecks/aceseq.json
  docker/database/Dockerfile.dev
  grails-app/views/analysisConfigurationOverview/index.gsp
  grails-app/views/configureAceseqPipeline/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2025/otp-2410-disable-aceseq-workflow.groovy
Due: test migration, cypress tests, check cypress suite configured for ci, create war

bug: otp-2806: Handle mulitiple SNV Domains in SNV Decider
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/AnalysisArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AceseqDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/IndelDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/RunYapsaDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/SnvDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/SophiaDecider.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/AbstractAnalysisArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDeciderNoAnalysisDependencySpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AceseqDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/IndelDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/RunYapsaDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/SnvDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/SophiaDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2809: Fix the data swap service
  grails-app/services/de/dkfz/tbi/otp/dataswap/AbstractDataSwapService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2805: Fix race condition in workflow system
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/JobScheduler.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.gradle.develocity from 4.2.1 to 4.2.2
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2322: Improve metadata export script for reimport
  scripts/operations/export/MetadataExport.groovy
Due: none

Update: Bump cypress from 15.4.0 to 15.5.0
  package-lock.json
  package.json
Due: cypress tests, eslint

bug: otp-2815: Fix path for non uuid data in AbstractAnalysisWorkFileService
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisWorkFileService.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisWorkFileServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump org.webjars.npm:chart.js from 4.5.0 to 4.5.1
  build.gradle
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.mwiede:jsch from 2.27.3 to 2.27.4
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2816: Fix analysis result for data of new system
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisResultsService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2817: Handle trigger cases, were not both alignments part of the given list
  cypress/e2e/workflowSystem/triggerAlignment.spec.js
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractWorkflowDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDecider.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, create war

chg: otp-2702: Update node
  build.gradle
  package-lock.json
  package.json
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.networknt:json-schema-validator from 1.5.9 to 2.0.0
  build.gradle
  grails-app/services/de/dkfz/tbi/otp/job/processing/RoddyConfigService.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2797: select endpoints for actuators
  build.gradle
  grails-app/conf/application.groovy
  grails-app/conf/runtime.groovy
  grails-app/conf/spring/resources.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

change: otp-2582: Prepare Merge Request for Roddy with Singularity
  build.gradle
  grails-app/services/de/dkfz/tbi/otp/config/ConfigService.groovy
  grails-app/services/de/dkfz/tbi/otp/job/processing/ClusterJobSchedulerService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/cluster/ClusterJobHandlingService.groovy
  migrations/changelogs/defaultValues/workflow-config/test/rna/ewc-roddy-rna2-test-resource-all-version.sql
  scripts/initializations/RoddyOptions.groovy
  scripts/initializations/workflowTest/initWorkflowTest.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/TestConfigService.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/processing/ClusterJobSchedulerServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/cluster/ClusterJobHandlingServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapi.generator from 7.16.0 to 7.17.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.mwiede:jsch from 2.27.4 to 2.27.5
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.fasterxml.jackson.core:jackson-databind
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.fasterxml.jackson.datatype:jackson-datatype-jsr310
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.springframework.boot:spring-boot-starter-actuator
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 15.5.0 to 15.6.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.github.mwiede:jsch from 2.27.5 to 2.27.6
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2783: Fix the cmd that has to be shown in the sendWorkflowCreateErrorMail
  src/main/groovy/de/dkfz/tbi/otp/tracking/NotificationCreator.groovy
  src/test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2811: handle skip workflows for notification
  grails-app/services/de/dkfz/tbi/otp/withdraw/ProcessingWithdrawService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/RoddyBamFileWithdrawService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/WithdrawAnalysisService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/WithdrawFactoryService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/UnsupportedClassForWithdrawalException.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/security/UserAndRoles.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/CellRangerBamFileWithdrawServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/RoddyBamFileWithdrawServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/WithdrawAnalysisServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/WithdrawFactoryServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*
