Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, cypress tests, build-database-docker-image

Path conditions:
  unit tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  integration tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  test coverage: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  cypress tests: any of: gradle/**/*, grails-app/**/*, src/main/**/*, cypress/**/*, docker/**/*, build.gradle, gradle.properties, cypress.config.js, package.json, package-lock.json, .gitlab-ci-core.yml
  build-database-docker-image: any of: docker/integration-test-build-database/**/*

Update: Bump org.grails.plugins:hibernate5 from 8.0.1 to 8.0.2
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.grails:grails-web-testing-support from 3.1.0 to 3.1.1
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.grails:grails-gorm-testing-support from 3.1.0 to 3.1.1
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2285: Created BamImportValidationJob
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/bamfiles/ExternallyProcessedBamFileService.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportValidationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportValidationJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2281: create BamImportPrepareJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportPrepareJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportPrepareJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.github.samtools:htsjdk from 4.0.2 to 4.1.0
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump eslint-plugin-import from 2.29.0 to 2.29.1
  package-lock.json
  package.json
Due: cypress tests

Update: Bump com.github.mwiede:jsch from 0.2.13 to 0.2.14
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.gradle.enterprise from 3.16 to 3.16.1
  settings.gradle
Due: none

Update: Bump eslint from 8.55.0 to 8.56.0
  package-lock.json
  package.json
Due: cypress tests

bug: otp-2376: fix count of lanes in DataAndBamFileExportToExternalSource
  grails-app/services/de/dkfz/tbi/otp/dataExport/DataExportService.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.github.mwiede:jsch from 0.2.14 to 0.2.15
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.networknt:json-schema-validator from 1.0.88 to 1.1.0
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.springframework.security:spring-security-*
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2374: quick fix to handle paths correctly
  grails-app/services/de/dkfz/tbi/otp/ngsdata/LsdfFilesService.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2282: BamImport: Create BamImportCopyJob
  grails-app/services/de/dkfz/tbi/otp/config/ConfigService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/cluster/ClusterJobHandlingService.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/importExternallyMergedBam/ImportExternallyMergedBamJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportCopyJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/jobs/bamImport/ImportExternallyMergedBamJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportCopyJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.github.robtimus:sftp-fs from 3.3 to 3.3.1
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2377: fix deprecated in workflowSystemConfig
  grails-app/assets/javascripts/pages/workflowSystemConfig/index.js
Due: cypress tests

Update: Bump org.openapi.generator from 7.1.0 to 7.2.0
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.jsoup:jsoup from 1.17.1 to 1.17.2
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2036: extend cypress test for sampleOverview and individuals page
  cypress/e2e/individual.spec.js
  cypress/e2e/sampleOverview.spec.js
  cypress/fixtures/individual.json
  grails-app/views/individual/show.gsp
Due: cypress tests

Update: Bump cypress from 13.6.1 to 13.6.2
  package-lock.json
  package.json
Due: cypress tests

Update: Bump com.github.mwiede:jsch from 0.2.15 to 0.2.16
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2283: create BamImportLinkSourceJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkSourceJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkSourceJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-1301: Remove REJECTED/BLOCKED states from QC_STATUS
  grails-app/controllers/de/dkfz/tbi/otp/tracking/NotificationController.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/AbstractBamFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/BamFilePairAnalysis.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAbstractBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractBamFileAnalysisService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/LinkFilesToFinalDestinationService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/QcStatusCellService.groovy
  grails-app/services/de/dkfz/tbi/otp/notification/NotificationDigestService.groovy
  grails-app/services/de/dkfz/tbi/otp/qcTrafficLight/QcTrafficLightCheckService.groovy
  grails-app/services/de/dkfz/tbi/otp/qcTrafficLight/QcTrafficLightNotificationService.groovy
  grails-app/services/de/dkfz/tbi/otp/qcTrafficLight/QcTrafficLightService.groovy
  scripts/operations/showData/QcTrafficLight/BlockedQcThressholdForProject.groovy
  scripts/operations/showData/QcTrafficLight/BlockedTrafficLightBamFiles.groovy
  scripts/overviews/ProcessingProgressMonitor.groovy
  scripts/usedToolsWithinWorkflows/RnaWorkflow.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/AbstractBamFileServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/snvcalling/AbstractBamFileAnalysisServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/monitor/SamplePairCheckerIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/notification/NotificationDigestServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/qcTrafficLight/QcTrafficLightServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/monitor/SamplePairChecker.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/IsPipeline.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/AlignmentQualityOverviewControllerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyBamFileSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/bamfiles/ExternallyProcessedBamFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/bamfiles/RoddyBamFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/bamfiles/SingleCellBamFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/QcStatusCellServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/notification/NotificationDigestServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/qcTrafficLight/QcTrafficLightCheckServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/qcTrafficLight/QcTrafficLightServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.webjars.npm:chart.js from 4.4.0 to 4.4.1
  build.gradle
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2286: create BamImportInitializationService
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ImportProcess.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/FastqImportInstanceService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/MetadataImportService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/MessageSourceService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/bamImport/BamImportInitializationService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/bamImport/BamImportService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2286-bam-import.groovy
  src/main/groovy/de/dkfz/tbi/otp/tracking/NotificationCreator.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/WorkflowCreateState.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/shared/FailedLoadingDbObjectException.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowCreatorScheduler.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/BamImportWorkflowCreatorScheduler.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorScheduler.groovy
  src/main/groovy/de/dkfz/tbi/util/TimeFormats.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/FastqImportInstanceServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportInitializationServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowCreatorSchedulerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/BamImportWorkflowCreatorSchedulerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorSchedulerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2316: CSV Download Button for User Management Page
  grails-app/assets/javascripts/pages/projectUser/index/functions.js
  grails-app/views/projectUser/_noUsersTableRow.gsp
  grails-app/views/projectUser/_userListingTableHeaderRow.gsp
  grails-app/views/projectUser/index.gsp
Due: cypress tests

new: otp-2306: on cellranger configuration page add select/deselect all button
  grails-app/assets/javascripts/pages/cellRanger/index/cellRanger.js
  grails-app/i18n/messages.properties
  grails-app/views/cellRangerConfiguration/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2377: Escape the special chars in JSON string
  grails-app/assets/javascripts/common/stringHelper.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/index.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/workflowVersions.js
Due: cypress tests

chg: otp-2421: Update copyright year to 2024
  grails-app/views/layouts/common.gsp
Due: cypress tests

new: otp-2326: Improve Configuration on workflowRunDetails page
  grails-app/assets/stylesheets/pages/workflowRunDetails/style.less
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowRunDetailsController.groovy
  grails-app/views/workflowRunDetails/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2424: fix notification preview
  grails-app/i18n/messages.properties
  grails-app/views/notification/notificationPreview.gsp
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2215: preadd request user to project request
  grails-app/controllers/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestController.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2236: only show deputies to select and allow heads only with extra checkbox for project request
  grails-app/assets/javascripts/pages/projectRequest/index.js
  grails-app/assets/stylesheets/otp.less
  grails-app/controllers/de/dkfz/tbi/otp/project/DepartmentConfigurationController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/security/user/DepartmentService.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/DeputyRelationService.groovy
  grails-app/views/projectRequest/index.gsp
  grails-app/views/projectRequest/templates/_piUserFormAccordion.gsp
  grails-app/views/templates/_piUserFormItem.gsp
  grails-app/views/templates/bootstrap/_userTabBar.gsp
  src/test/groovy/de/dkfz/tbi/otp/security/user/DeputyRelationServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

fix: otp-2360: unskip cypress tests and fix errors
  cypress/e2e/projectRequest.spec.js
  cypress/fixtures/projectRequest.json
  grails-app/controllers/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestController.groovy
Due: unit tests, integration tests, test coverage, cypress tests
