Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*

Update: Bump org.jsoup:jsoup from 1.17.2 to 1.18.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2584: create sbom in ci
  .gitlab-ci-core.yml
  devScripts/gitlab-ci/risc/createDependencies.sh
  devScripts/gitlab-ci/risc/createTestIdentifierList.sh
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Update: Bump cypress from 13.13.0 to 13.13.1
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2583: adapt molgenis export location
  scripts/operations/export/molgenis/dkfz/export-bams-and-fastqs.groovy
Due: none

chg: otp-2588: script to check whether multiple projects useing the same values for cvalue keys
  scripts/operations/checking/checkRoddyConfigsForProjects.groovy
Due: none

Update: Bump com.bertramlabs.asset-pipeline from 4.4.0 to 4.5.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2563: added cypress test for processing threshold page
  cypress/e2e/workflowSystem/processingThreshold.spec.js
  grails-app/assets/javascripts/common/toaster.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProcessingThresholdController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/processingThreshold/index.gsp
  grails-app/views/projectConfig/_tabMenu.gsp
  grails-app/views/templates/bootstrap/_projectSelection.gsp
  grails-app/views/workflowSelection/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Update: Bump org.cyclonedx.bom from 1.8.2 to 1.9.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.networknt:json-schema-validator from 1.5.0 to 1.5.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2578: Use org.apache.http.entity.ContentType instead of string
  build.gradle
  grails-app/conf/application.groovy
  grails-app/controllers/de/dkfz/tbi/otp/job/processing/ProcessesController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/MetadataImportController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/SequenceController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/StatisticsController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsqc/FastqcResultsController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/project/ProjectInfoController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/AlignmentQualityOverviewController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/AbstractAnalysisController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/AceseqController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/IndelController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/SnvController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/SophiaController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/ProcessingPriorityController.groovy
  grails-app/domain/de/dkfz/tbi/otp/administration/Document.groovy
  src/main/groovy/de/dkfz/tbi/otp/security/CustomRequireCsrfProtectionMatcher.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

refactor: otp-2473: Improve error handling in CheckAndCall and clean up
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/CellRangerConfigurationController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/utils/AbstractGeneralDomainPropertyUpdateController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/restartHandler/WorkflowJobErrorDefinitionController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowConfigController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionController.groovy
  src/main/groovy/de/dkfz/tbi/otp/CheckAndCall.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump start-server-and-test from 2.0.4 to 2.0.5
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump cypress from 13.13.1 to 13.13.2
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.bertramlabs.plugins:asset-pipeline-grails
  build.gradle
  devScripts/gitlab-ci/license-checker/findNewLicenses.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2591: fix alignment tab on workflow selection page
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AlignmentInfoService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

fix: otp-2592: fixed nullpointer in AntibodyAntibodyTargetSeqTypeValidator
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/AntibodyAntibodyTargetSeqTypeValidator.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.github.mwiede:jsch from 0.2.18 to 0.2.19
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

refactor: otp-2450: Add codenarc role to prohibit hasPermission in PreAuthorize for controller
  grails-app/codenarcRules/PreAuthorizeAnnotationForControllersRule.groovy
  grails-app/conf/CodeNarcRuleSet.groovy
  grails-app/controllers/de/dkfz/tbi/otp/project/DepartmentConfigurationController.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2595: ignore the wes fastqc tests, since weskit is not yet ready
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/fastqc/WesFastqcWorkflowSpec.groovy
Due: codenarc

bug: otp-2596: Fix env setting in create-image-docker.sh
  devScripts/postgres/create-image-docker.sh
Due: none

chg: otp-2601: add ruo info to readme
  README.md
Due: none

refactor: otp-2542: fix failing dependabot because of invalid pattern in config
  .gitlab/dependabot.yml
Due: none

bug: otp-2593: make otp logo clickable
  grails-app/assets/stylesheets/otp.less
  grails-app/views/layouts/common.gsp
Due: cypress tests, create war

chg: otp-2414: update documentation for alignment quality overview page
  docs/md/users/AlignmentQualityOverviewPage.md
Due: create doc

new: otp-1372: Domain for bash scripts
  grails-app/domain/de/dkfz/tbi/otp/administration/Script.groovy
  migrations/changelog.groovy
  migrations/changelogs/2024/otp-1372.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump cypress from 13.13.2 to 13.13.3
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2585: Add dummy coverage output job
  .gitlab-ci-core.yml
  .idea/codeStyles/Project.xml
  devScripts/gitlab-ci/dummyCoverageOutput.sh
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Update: Bump org.codenarc:CodeNarc from 3.4.0 to 3.5.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2594: Use remote file system for checking for config file during roddy start in old workflow system
  grails-app/services/de/dkfz/tbi/otp/utils/ExecuteRoddyCommandService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/ExecuteRoddyCommandServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/roddyAlignment/AbstractExecutePanCanJob.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump org.junit.vintage:junit-vintage-engine
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.google.guava:guava from 33.2.1-jre to 33.3.0-jre
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.cyclonedx.bom from 1.9.0 to 1.10.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.gradle.develocity from 3.17.6 to 3.18
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapi.generator from 7.7.0 to 7.8.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2606: parameter id too long
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/bamfiles/SingleCellBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerWorkflowService.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/cellRanger/ExecuteCellRangerJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/cellRanger/CellRangerFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/bamfiles/SingleCellBamFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerWorkflowServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/jobs/cellRanger/ExecuteCellRangerJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

refactor: otp-2597: Improve sprint review preperation
  devScripts/sprintReview/create-presentation.groovy
Due: none

chg: otp-2571: Add 'Last Success' to Workflow runs page
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowRunOverviewController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunOverviewService.groovy
  grails-app/views/workflowRunOverview/index.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowRunOverviewServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2528: Implement the reconnect methods of analysis workflows
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  scripts/migration/otp-2400-create-new-workflows-artefacts-from-old-analysis-workflows.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/AbstractAnalysisWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqWorkflowShared.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/runyapsa/RunYapsaWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/runyapsa/RunYapsaWorkflowShared.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/snv/SnvWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/datainstallation/DataInstallationWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/BashFastQcWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/WesFastQcWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/OtpWorkflow.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/analysis/AbstractAnalysisDomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqConditionalFailJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqPrepareJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqWorkflowSharedSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/runyapsa/RunYapsaConditionalFailJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/runyapsa/RunYapsaWorkflowSharedSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war
