Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, cypress tests

unit tests:
  stage: test
  dependencies: []
  needs: []
  cache:
  - key:
      files:
      - $CI_PROJECT_DIR/gradle/wrapper/gradle-wrapper.properties
      prefix: gradle-$CI_JOB_NAME
    paths:
    - $GRADLE_USER_HOME
  - key:
      files:
      - $CI_PROJECT_DIR/package-lock.json
      prefix: node
    paths:
    - node_modules/
  ...

integration tests:
  stage: test
  dependencies: []
  needs: []
  cache:
  - key:
      files:
      - $CI_PROJECT_DIR/gradle/wrapper/gradle-wrapper.properties
      prefix: gradle-$CI_JOB_NAME
    paths:
    - $GRADLE_USER_HOME
  - key:
      files:
      - $CI_PROJECT_DIR/package-lock.json
      prefix: node
    paths:
    - node_modules/
  ...

cypress tests:
  stage: test
  dependencies: []
  needs: []
  cache:
  - key:
      files:
      - $CI_PROJECT_DIR/gradle/wrapper/gradle-wrapper.properties
      prefix: gradle-$CI_JOB_NAME
    paths:
    - $GRADLE_USER_HOME
  - key:
      files:
      - $CI_PROJECT_DIR/package-lock.json
      prefix: node
    paths:
    - node_modules/
  ...

fix: otp-2225: ignore major and minor updates for hibernate-core
  .gitlab/dependabot.yml
Due: none

chg: otp-2166: show coverage in gitlab
  .gitlab-ci-base-image.yml
  .gitlab-ci-core.yml
  .gitlab-ci-merge-request.yml
  .gitlab-ci.yml
  build.gradle
  grails-app/services/de/dkfz/tbi/otp/administration/DocumentService.groovy
Due: unit tests, integration tests, cypress tests

refactor: otp-1921: Create cypress tests for regular users, for pages that users can't access
  cypress.config.js
  cypress/e2e/alignmentConfigurationOverview.spec.js
  cypress/e2e/analysisConfigurationOverview.spec.js
  cypress/e2e/bamMetadataImport.spec.js
  cypress/e2e/bulkSampleCreation.spec.js
  cypress/e2e/clusterJobDetail.spec.js
  cypress/e2e/clusterJobGeneral.spec.js
  cypress/e2e/clusterJobJobTypeSpecific.spec.js
  cypress/e2e/menuBar.spec.js
  cypress/e2e/metaDataFields.spec.js
  cypress/e2e/metadataImport.spec.js
  cypress/e2e/metadataImportDetails.spec.js
  cypress/e2e/processingTimeStatistics.spec.js
  cypress/e2e/projectConfig.spec.js
  cypress/e2e/projectCreation.spec.js
  cypress/e2e/projectFields.spec.js
  cypress/e2e/projectInfo.spec.js
  cypress/e2e/projectUser.spec.js
  cypress/e2e/roles.spec.js
  cypress/e2e/sampleOverview.spec.js
  cypress/e2e/statistics.spec.js
  cypress/e2e/triggerAlignment.spec.js
  cypress/e2e/workflowArtefact.spec.js
  cypress/e2e/workflowConfig.spec.js
  cypress/e2e/workflowConfigViewer.spec.js
  cypress/e2e/workflowJobErrorDefinition.spec.js
  cypress/e2e/workflowRunDetails.spec.js
  cypress/e2e/workflowRunList.spec.js
  cypress/e2e/workflowRunOverview.spec.js
  cypress/e2e/workflowSelection.spec.js
  cypress/e2e/workflowSystemConfig.spec.js
  cypress/support/commands.js
  docker/database/Dockerfile.dev
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowRunController.groovy
  grails-app/views/workflowSelection/index.gsp
Due: unit tests, cypress tests

new: otp-564: Add for default project configuration for Cell Ranger
  cypress/e2e/cellRangerConfiguration.spec.js
  grails-app/assets/javascripts/pages/cellRanger/index/cellRanger.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/CellRangerConfigurationController.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerConfig.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerMergingWorkPackage.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerConfigurationService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/MetadataImportService.groovy
  grails-app/views/cellRangerConfiguration/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-564.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerConfigurationServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/MetadataImportServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/MetadataImportServiceSpec.groovy
Due: unit tests, integration tests, cypress tests

refactor: otp-2214: Don't test incremental merging in workkflow tests anymore
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/AbstractRoddyAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/pancancer/AbstractPanCancerWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/pancancer/AbstractPanCancerWorkflowWithoutAntibodySpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/pancancer/PanCancerChipSeqAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/pancancer/PanCancerWholeGenomeAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/wgbs/WgbsAlignmentWorkflowSpec.groovy
Due: none

chg: otp-2232: prepare code to check rna xml migration
  migrations/changelogs/defaultValues/workflow-versions.sql
  scripts/migration/otp-1498-migrate-selectors.groovy
  scripts/migration/otp-1685-check-roddy-migration.groovy
Due: none

bug: otp-2240: Fix broken code in DeletionService.deleteProcessingFilesOfProject for external bamfiles
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/DeletionServiceIntegrationSpec.groovy
Due: unit tests, integration tests, cypress tests

new: otp-2174: create RnaAlignmentLinkJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentLinkJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentSharedSpec.groovy
Due: unit tests, integration tests, cypress tests

bug: otp-2242: Fix "ERROR: could not resolve property: md5sum of: de.dkfz.tbi.otp.ngsdata.RawSequenceFile"
  grails-app/services/de/dkfz/tbi/otp/ngsdata/metadatavalidation/FastqMetadataValidationService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/metadatavalidation/MetadataValidationService.groovy
Due: unit tests, cypress tests

Update: Bump org.grails.plugins:database-migration from 4.2.0 to 4.2.1
  build.gradle
Due: unit tests, integration tests, cypress tests

Update: Bump cypress from 13.0.0 to 13.1.0
  package-lock.json
  package.json
Due: cypress tests

change: otp-2210: Delete "Custom Final Notification"
  cypress/e2e/projectConfig.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectConfigController.groovy
  grails-app/domain/de/dkfz/tbi/otp/project/Project.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/project/ProjectService.groovy
  grails-app/views/projectConfig/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2210.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/tracking/NotificationCreator.groovy
  src/test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorSpec.groovy
Due: unit tests, integration tests, cypress tests

new: otp-2093: weskit: switch from pw flow to client credentials flow
  grails-app/services/de/dkfz/tbi/otp/config/ConfigService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAuthService.groovy
  src/main/groovy/de/dkfz/tbi/otp/config/OtpProperty.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/TestConfigService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAuthServiceSpec.groovy
Due: unit tests, integration tests, cypress tests

chg: otp-2211: Merge "Send Processing Notifications" and "Send QC status warning notifications" options
  cypress/e2e/projectConfig.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectConfigController.groovy
  grails-app/domain/de/dkfz/tbi/otp/project/Project.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/project/ProjectService.groovy
  grails-app/services/de/dkfz/tbi/otp/qcTrafficLight/QcTrafficLightNotificationService.groovy
  grails-app/views/notification/_projectNotifications.gsp
  grails-app/views/projectConfig/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2211.groovy
  src/test/groovy/de/dkfz/tbi/otp/qcTrafficLight/QcTrafficLightNotificationServiceSpec.groovy
Due: unit tests, cypress tests

bug: otp-2243: fix ignore cypress and the test coverage ci job
  .gitlab-ci-core.yml
Due: none

new: otp-2177: Migrate RNA configuration to new system
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-cvalue-RNA-1.2.22-6+1.2.22-7.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-cvalue-RNA-1.3.0+1.3.0-1.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-resources-RNA-1.2.22-6+1.2.22-7+1.3.0+1.3.0-1.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-test-resource-RNA-all-version.sql
  migrations/loadDefaultValues.groovy
Due: none

new: otp-2176: Create RnaAlignment Decider
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/RnaAlignmentDecider.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/RnaAlignmentDeciderSpec.groovy
Due: unit tests, cypress tests

new: otp-2128: Show EGA pseudonyms
  grails-app/assets/javascripts/pages/egaSubmission/selectSamples/index.js
  grails-app/controllers/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionService.groovy
  grails-app/views/egaSubmission/sampleInformation.gsp
  grails-app/views/egaSubmission/sampleMetadata.gsp
  grails-app/views/egaSubmission/selectBamFiles.gsp
  grails-app/views/egaSubmission/selectFastqFiles.gsp
  grails-app/views/egaSubmission/selectSamples.gsp
  src/main/groovy/de/dkfz/tbi/otp/egaSubmission/EgaMapKey.groovy
  src/main/groovy/de/dkfz/tbi/otp/egaSubmission/SubmitCommands.groovy
  src/test/groovy/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionFileServiceSpec.groovy
Due: unit tests, integration tests, cypress tests

new: otp-2170: Create RnaAlignmentExecuteJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/AlignmentWorkflowShared.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsExecuteJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentExecuteJobSpec.groovy
Due: unit tests, integration tests, cypress tests

new: otp-2217: add a new pipeline job to gather licenses for custom license checking script
  .gitlab-ci-core.yml
  .gitlab-ci.yml
  devScripts/gitlab-ci/license-checker/findNewLicenses.groovy
Due: none

Update: Bump eslint from 8.48.0 to 8.49.0
  package-lock.json
  package.json
Due: cypress tests

new: otp-2206: create gui to delegate department head rights to other users
  cypress/e2e/departmentConfiguration.spec.js
  cypress/e2e/menuBar.spec.js
  cypress/support/commands.js
  docker/database/Dockerfile.dev
  grails-app/assets/javascripts/pages/departmentConfiguration/index.js
  grails-app/controllers/de/dkfz/tbi/otp/interceptor/NoProjectInterceptor.groovy
  grails-app/controllers/de/dkfz/tbi/otp/project/DepartmentConfigurationController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/security/user/DepartmentService.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/DeputyRelationService.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/UserService.groovy
  grails-app/views/departmentConfiguration/index.gsp
  grails-app/views/layouts/common.gsp
  grails-app/views/projectRequest/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2206-add-unique-constraint.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/security/ProjectPermissionEvaluatorIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/security/ProjectPermissionEvaluator.groovy
  src/test/groovy/de/dkfz/tbi/otp/security/user/DepartmentServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/security/user/DeputyRelationServiceSpec.groovy
Due: unit tests, integration tests, cypress tests

Update: Bump org.webjars:jquery from 3.7.0 to 3.7.1
  build.gradle
  grails-app/taglib/de/dkfz/tbi/otp/OtpTagLib.groovy
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
  grails-app/views/layouts/metadataLayout.gsp
Due: unit tests, integration tests, cypress tests

Update: Bump cypress from 13.1.0 to 13.2.0
  package-lock.json
  package.json
Due: cypress tests

Update: Bump com.networknt:json-schema-validator from 1.0.86 to 1.0.87
  build.gradle
Due: unit tests, integration tests, cypress tests

fix: otp-2255: data swap fix
  grails-app/services/de/dkfz/tbi/otp/dataswap/AbstractDataSwapService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/DeletionServiceIntegrationSpec.groovy
Due: unit tests, integration tests, cypress tests

bug: otp-2252: fix handling of nonOTP in DeletionService
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ExternallyProcessedBamFile.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/DeletionServiceIntegrationSpec.groovy
Due: unit tests, integration tests, cypress tests

bug: otp-2261: Fix sample pair directory deletion
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/BamFileAnalysisServiceFactoryService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/snvcalling/AnalysisDeletionService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/snvcalling/AnalysisDeletionServiceIntegrationSpec.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
Due: unit tests, integration tests, cypress tests

new: otp-1191: Add link to UnsetConfig Mail
  grails-app/services/de/dkfz/tbi/otp/ngsdata/MetadataImportService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/MetadataImportServiceIntegrationSpec.groovy
Due: unit tests, integration tests, cypress tests

chg: otp-2250: extend CreateExampleData
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/PanCancerNoBedFileQaOverviewService.groovy
  scripts/initializations/demoImports/CreateExampleData.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/PanCancerNoBedFileQaOverviewServiceHibernateSpec.groovy
Due: unit tests, cypress tests

Update: bump dependency version to Grails 6
  build.gradle
  docker-compose.war.yml
  docker/otp-war/Dockerfile
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  grails-app/conf/application.groovy
  grails-app/conf/runtime.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/qcTrafficLight/QcTrafficLightNotificationServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionServiceSpec.groovy
Due: unit tests, integration tests, cypress tests

Update: Bump com.gradle.enterprise from 3.14.1 to 3.15
  settings.gradle
Due: none

Update: Bump org.openapi.generator from 7.0.0 to 7.0.1
  build.gradle
Due: unit tests, integration tests, cypress tests

Update: Update spring security plugins
  build.gradle
Due: unit tests, integration tests, cypress tests

refactor: otp-2246: Move RNA config property useSingleEndProcessing from code to default template
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2246.groovy
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-cvalue-RNA-1.2.22-6+1.2.22-7.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-cvalue-RNA-1.3.0+1.3.0-1.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-rna-cvalue-RNA.sql
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentExecuteJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentExecuteJobSpec.groovy
Due: unit tests, integration tests, cypress tests

chg: otp-2182: Create RnaAlignmentCleanUpJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/AbstractRoddyAlignmentCleanUpJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerShared.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentCleanUpJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCleanUpJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentCleanUpJobSpec.groovy
Due: unit tests, integration tests, cypress tests

Update: Bump eslint from 8.49.0 to 8.50.0
  package-lock.json
  package.json
Due: cypress tests

Path conditions:
  unit tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/test-helper/**/*, build.gradle, gradle.properties
  integration tests: any of: gradle/**/* - grails-app/conf/**/* - grails-app/controllers/**/* - grails-app/domain/**/* - grails-app/i18n/**/* - grails-app/init/**/* - grails-app/services/**/*, src/main/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties
  cypress tests: any of: gradle/**/*, grails-app/**/*, src/main/**/*, cypress/**/*, build.gradle, gradle.properties, cypress.config.js, package.json, package-lock.json
