Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

unit tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

integration tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

test coverage:
  dependencies:
  - build gradle
  - unit tests
  - integration tests
  needs:
  - build gradle
  - unit tests
  - integration tests
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
  ...

test migration:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - migrations/changelogs/*/testing.groovy
    when: on_failure
  ...

cypress tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - cypress/screenshots
  ...

check cypress suite configured for ci:
  dependencies: []
  needs: []
  stage: test
  script:
  - set -e
  - devScripts/gitlab-ci/cypress/check-suite-configured-for-ci.sh

codenarc:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/codenarc
    when: always
    reports:
  ...

eslint:
  dependencies: []
  needs: []
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/eslint
    when: always
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: codestyle
  ...

create war:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: war
  script:
  ...

Update: Bump globals from 17.0.0 to 17.4.0
  package-lock.json
  package.json
Due: cypress tests, eslint

new: otp-2629: Add note mention YAPSA currently not available
  docs/md/users/Workflows.md
Due: create doc

Update: Bump org.springframework.boot:spring-boot-starter-actuator
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2855: Allow restart handler to parse stdout/stderr of last command
  grails-app/domain/de/dkfz/tbi/otp/workflow/restartHandler/WorkflowJobErrorDefinition.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/restartHandler/logging/ExecutedCommandLogService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/restartHandler/logging/ExecutedCommandLogServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

chg: otp-2896: On workflowSelection/index prevent resizing of fields when making selection
  grails-app/assets/javascripts/pages/workflowSelection/alignmentTable.js
  grails-app/assets/javascripts/pages/workflowSelection/analysisTable.js
  grails-app/assets/stylesheets/pages/workflowSelection/index.less
  grails-app/i18n/messages.properties
  grails-app/views/workflowSelection/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests, eslint, create war

Update: Bump @eslint/js from 9.39.2 to 10.0.1
  grails-app/assets/javascripts/pages/crashRecovery/index/crashRecovery.js
  package-lock.json
  package.json
Due: cypress tests, eslint, create war

Update: Bump start-server-and-test from 2.1.5 to 3.0.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump eslint from 10.1.0 to 10.2.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.github.mwiede:jsch from 2.27.9 to 2.28.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2629: Queue restarted workflows instead of runing them
  grails-app/services/de/dkfz/tbi/otp/workflow/restartHandler/AutoRestartActionService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowRunServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/restartHandler/AutoRestartActionServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump cypress from 15.13.0 to 15.13.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump start-server-and-test from 3.0.0 to 3.0.2
  package-lock.json
  package.json
Due: cypress tests, eslint

New: otp-2770: CellRangerDecider
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/CellRangerDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/PanCancerDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/RnaAlignmentDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/WgbsDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/HasIdentifier.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/alignment/AlignmentAdditionalData.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/IsRoddy.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/cellRanger/CellRangerFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/CellRangerDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/PanCancerDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/RnaAlignmentDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/WgbsDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump globals from 17.4.0 to 17.5.0
  package-lock.json
  package.json
Due: cypress tests, eslint

bug: otp-2959: Replace all special chars in the Ega export files
  grails-app/services/de/dkfz/tbi/otp/egaSubmission/EgaFileContentService.groovy
  src/main/groovy/de/dkfz/tbi/otp/utils/validation/OtpPathValidator.groovy
  src/test/groovy/de/dkfz/tbi/otp/egaSubmission/EgaFileContentServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2948: Keep the output of restarted workflows for a week (for troubleshooting)
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CleanupWorkFoldersJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CleanupWorkFoldersJob.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump @humanfs/core from 0.19.1 to 0.19.2
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.google.guava:guava from 33.5.0-jre to 33.6.0-jre
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump eslint from 10.2.0 to 10.2.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump cypress from 15.13.1 to 15.14.0
  package-lock.json
  package.json
Due: cypress tests, eslint

bug: otp-2962: Add user should sent the check mail for all types of exceptions
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectUserController.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2953: Handle setting unixgroups in generated data swap script
  grails-app/services/de/dkfz/tbi/otp/dataswap/AbstractDataSwapService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataswap/IndividualSwapServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataswap/SampleSwapServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/AbstractDataSwapServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.github.robtimus:sftp-fs from 3.3.2 to 4.0
  .gitignore
  build.gradle
  src/main/groovy/de/dkfz/tbi/otp/job/processing/FileSystemService.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

New: otp-2907: Adapt withdraw and unwithdraw logics
  grails-app/services/de/dkfz/tbi/otp/withdraw/UnwithdrawService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/WithdrawHelperService.groovy
  scripts/migration/otp-2907-restore-withdrawn-links.groovy
  scripts/operations/dataCorrection/WithdrawData.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/withdraw/UnwithdrawServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/utils/LocalShellHelper.groovy
  src/main/groovy/de/dkfz/tbi/otp/withdraw/WithdrawParameters.groovy
  src/test/groovy/de/dkfz/tbi/otp/utils/LocalShellHelperSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/UnwithdrawServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/WithdrawHelperServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2849: delete the alignment and analysis configurations
  cypress/e2e/workflowSystem/alignmentConfigurationOverview.spec.js
  cypress/e2e/workflowSystem/analysisConfigurationOverview.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/AbstractConfigureRoddyPipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/AlignmentConfigurationOverviewController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/AnalysisConfigurationOverviewController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/alignmentConfigurationOverview/index.gsp
  grails-app/views/analysisConfigurationOverview/index.gsp
  grails-app/views/configureRunYapsaPipeline/index.gsp
  grails-app/views/projectConfig/_tabMenu.gsp
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, create war

new: otp-2772: Migrate CellRanger config to fragments
  migrations/changelogs/defaultValues/workflow-config/cellranger/ewc-cellranger.sql
  scripts/migration/otp-2772-migrate-cellranger-to-fragments.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerCheckFragmentKeysJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerCheckFragmentKeysJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerExecuteJobSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

bug: otp-2969: fix double output of the delete script
  scripts/operations/dataCleanup/DeleteProject.groovy
Due: none

New: otp-2950: Fix file name extension preservation during EGA submission
  grails-app/services/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionService.groovy
  src/test/groovy/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump org.jsoup:jsoup from 1.22.1 to 1.22.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2776: Migrate data CellRanger data into new workflow system
  .gitignore
  scripts/migration/otp-2776-create-new-workflows-from-cellranger-alignments.groovy
Due: none

Update: Bump com.gradle.develocity from 4.4.0 to 4.4.1
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2949: Copy bam.md5 file during BAM import
  grails-app/services/de/dkfz/tbi/otp/infrastructure/alignment/AbstractExternalAlignmentFileService.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkSourceJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportValidationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportLinkSourceJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportValidationJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/bamImport/AbstractBamImportWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump commons-io:commons-io from 2.21.0 to 2.22.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 15.14.0 to 15.14.1
  package-lock.json
  package.json
Due: cypress tests, eslint

new: otp-2952: Update projectRequest deletion email body
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2944: Restrict the species dropdown on the workflow selection page
  cypress/e2e/workflowSystem/workflowSelection.spec.js
  eslint.config.mjs
  grails-app/assets/javascripts/pages/workflowSelection/alignmentTable.js
  grails-app/assets/javascripts/pages/workflowSelection/index.js
  grails-app/assets/javascripts/pages/workflowSelection/initialize.js
  grails-app/assets/stylesheets/pages/workflowSelection/index.less
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionService.groovy
  grails-app/views/workflowSelection/index.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

new: otp-2865: Update SNVCallingWorkflow to 1.2.166-6
  migrations/changelogs/defaultValues/workflow-config/snv/ewc-roddy-snv2-cvalue-1.2.166-6.sql
  migrations/changelogs/defaultValues/workflow-config/snv/ewc-roddy-snv2-cvalue-EXON-PAIRED-1.2.166-6.sql
  migrations/changelogs/defaultValues/workflow-config/snv/ewc-roddy-snv2-cvalue-WHOLE_GENOME-PAIRED-1.2.166-6.sql
  migrations/changelogs/defaultValues/workflow-config/snv/ewc-roddy-snv2-filenames-1.2.166-6.sql
  migrations/changelogs/defaultValues/workflow-config/snv/ewc-roddy-snv2-resources-1.2.166-6.sql
  migrations/changelogs/defaultValues/workflow-versions.sql
  scripts/initializations/workflowTest/initWorkflowTest.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/snv/SnvCheckFragmentKeysJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractCheckFragmentKeysJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractRoddyCheckFragmentKeysJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractRoddyClusterValidationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractCheckFragmentKeysJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractRoddyCheckFragmentKeysJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/AbstractRoddyAnalysisWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/snvcalling/AbstractSnvCallingWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*
