Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

unit tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

integration tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

test coverage:
  dependencies:
  - build gradle
  - unit tests
  - integration tests
  needs:
  - build gradle
  - unit tests
  - integration tests
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
  ...

test migration:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - migrations/changelogs/*/testing.groovy
    when: on_failure
  ...

cypress tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - cypress/screenshots
  ...

check cypress suite configured for ci:
  dependencies: []
  needs: []
  stage: test
  script:
  - set -e
  - devScripts/gitlab-ci/cypress/check-suite-configured-for-ci.sh

codenarc:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/codenarc
    when: always
    reports:
  ...

eslint:
  dependencies: []
  needs: []
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/eslint
    when: always
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: codestyle
  ...

create war:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: war
  script:
  ...

Update: Bump start-server-and-test from 2.0.3 to 2.0.4
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump cypress from 13.10.0 to 13.11.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.github.mwiede:jsch from 0.2.17 to 0.2.18
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2569: adapt hipo parsers
  src/main/groovy/de/dkfz/tbi/otp/parser/hipo/AbstractHipo2SampleIdentifierParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/hipo/HipoSampleIdentifier.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/AbstractHipo2SampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/Hipo2SampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/Hipo2SamplePreparationLabSampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/HipoSampleIdentifierParserSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

fix: otp-2453: fix saving of analysis dir for project config page
  cypress/e2e/project/projectConfig.spec.js
  grails-app/assets/javascripts/pages/project/projectConfigPage.js
  grails-app/services/de/dkfz/tbi/otp/project/ProjectService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Update: Bump com.gradle.enterprise from 3.17.4 to 3.17.5
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.samtools:htsjdk from 4.1.0 to 4.1.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2552: Fix inconsistent naming laneid vs seqtrackid on triggerAlignment page
  .idea/codeStyles/Project.xml
  cypress/e2e/workflowSystem/triggerAlignment.spec.js
  cypress/fixtures/triggerAlignment.json
  grails-app/assets/javascripts/pages/triggerAlignment/index/functions.js
  grails-app/controllers/de/dkfz/tbi/otp/component/SearchSeqTrackController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/templates/bootstrap/_seqTrackSelection.gsp
  grails-app/views/templates/bootstrap/seqTrackSelectionTabBar/_seqTrackSelectionTabBar.gsp
  grails-app/views/templates/bootstrap/seqTrackSelectionTabBar/tabs/_seqTrackIdTab.gsp
  grails-app/views/triggerAlignment/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

new: otp-2529: add triggering of workflow when changing processing thresholds
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProcessingThresholdController.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/snvcalling/SamplePairDeciderService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/TriggerWorkflowService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/TriggerWorkflowServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump all org.springframework.security:spring-security dependencies to 5.8.13
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 13.11.0 to 13.12.0
  package-lock.json
  package.json
Due: cypress tests, eslint

fix: otp-2576: Change way Selectors are deprecated
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2535: Add new State for workflow system
  cypress/e2e/workflowSystem/workflowRunDetails.spec.js
  cypress/e2e/workflowSystem/workflowRunOverview.spec.js
  cypress/fixtures/workflowOverview.json
  grails-app/assets/javascripts/pages/workflowRunDetails/index.js
  grails-app/assets/javascripts/pages/workflowRunList/common.js
  grails-app/assets/stylesheets/otp.less
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowRunController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowRunOverviewController.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowRun.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeService.groovy
  grails-app/views/workflowRunDetails/index.gsp
  grails-app/views/workflowRunList/index.gsp
  grails-app/views/workflowRunOverview/index.gsp
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

review: review
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowRunController.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

review: review
  cypress/e2e/workflowSystem/workflowRunDetails.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowRunController.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowRun.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeService.groovy
  grails-app/views/workflowRunDetails/index.gsp
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/JobScheduler.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/JobSchedulerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, create war

review: fix cypress tests
  cypress/e2e/workflowSystem/workflowRunDetails.spec.js
  cypress/e2e/workflowSystem/workflowRunList.spec.js
Due: cypress tests, check cypress suite configured for ci

review: review
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowRunController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/workflowRunDetails/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

review: more review
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowRunController.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

review: added cypress tests
  cypress/e2e/workflowSystem/workflowRunDetails.spec.js
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, create war

review: review
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowRunController.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2535: Add new State for workflow system
  cypress/e2e/workflowSystem/workflowRunDetails.spec.js
  cypress/e2e/workflowSystem/workflowRunList.spec.js
  cypress/e2e/workflowSystem/workflowRunOverview.spec.js
  cypress/fixtures/workflowOverview.json
  grails-app/assets/javascripts/pages/workflowRunDetails/index.js
  grails-app/assets/javascripts/pages/workflowRunList/common.js
  grails-app/assets/stylesheets/otp.less
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowRunController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowRunOverviewController.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowRun.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeService.groovy
  grails-app/views/workflowRunDetails/index.gsp
  grails-app/views/workflowRunList/index.gsp
  grails-app/views/workflowRunOverview/index.gsp
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/JobScheduler.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/JobSchedulerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

fix: otp-2545: update to develocity and add testing and adapt SeqPlatform domain object
  build.gradle
  gradle.properties
  grails-app/domain/de/dkfz/tbi/otp/security/User.groovy
  grails-app/init/de/dkfz/tbi/otp/SecurityConfiguration.groovy
  grails-app/services/de/dkfz/tbi/otp/config/PropertiesValidationService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/AbstractQaOverviewService.groovy
  grails-app/services/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionService.groovy
  grails-app/services/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestService.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/DeputyRelationService.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/UserService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/bamImport/BamImportService.groovy
  settings.gradle
  src/integration-test/groovy/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/security/UserCreatingUserDetailsService.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SeqPlatformServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2570: add testing for small methods in processing priority service
  cypress/e2e/workflowSystem/cellRangerConfiguration.spec.js
  grails-app/assets/javascripts/pages/processingPriority/index/functions.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectCreationController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/ProcessingPriorityController.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/LogService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/ProcessingPriorityService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  grails-app/views/processingPriority/index.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/WorkflowServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/LogServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/ProcessingPriorityServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

refactor: otp-2368: Add CodeNarc rule to prevent usage of Path.toFile()
  grails-app/codenarcRules/NoPathToFileRule.groovy
  grails-app/conf/CodeNarcRuleSet.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/roddyExecution/RoddyWorkflowConfig.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump cypress from 13.12.0 to 13.13.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.networknt:json-schema-validator from 1.4.0 to 1.5.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.junit.vintage:junit-vintage-engine
  build.gradle
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/TriggerWorkflowServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2467: add frontend, backend and testing for uploading data swap
  build.gradle
  cypress/e2e/operatorAndAdminPages/dataSwap.spec.js
  cypress/e2e/others/menuBar.spec.js
  cypress/fixtures/file-uploads/failing-data-swap-file.csv
  grails-app/assets/javascripts/pages/dataSwap/index.js
  grails-app/controllers/de/dkfz/tbi/otp/dataCorrection/DataSwapController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/SequenceController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/dataCorrection/DataSwapService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataCorrection/DataSwapValidator.groovy
  grails-app/services/de/dkfz/tbi/otp/dataCorrection/validators/DataSwapHeaderValidator.groovy
  grails-app/services/de/dkfz/tbi/otp/dataCorrection/validators/SeqTrackMatchesColumnsValidator.groovy
  grails-app/views/dataSwap/index.gsp
  grails-app/views/layouts/common.gsp
  src/main/groovy/de/dkfz/tbi/otp/CheckAndCall.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataswap/DataSwapColumn.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataswap/DataSwapValidationException.groovy
  src/main/groovy/de/dkfz/tbi/otp/utils/spreadsheet/SpreadsheetParseException.groovy
  src/main/groovy/de/dkfz/tbi/otp/utils/spreadsheet/validation/Problem.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/DomainFactoryCore.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/DataSwapServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/validators/DataSwapHeaderValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/validators/SeqTrackMatchesColumnValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/processing/ParameterMappingSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/AbstractMetadataFieldsServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SequenceControllerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/MetadataValidationServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapi.generator from 7.6.0 to 7.7.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.webjars.npm:corejs-typeahead from 1.3.1 to 1.3.4
  build.gradle
  grails-app/assets/javascripts/modules/application.js
  grails-app/assets/javascripts/modules/defaultPageDependencies.js
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump @cyclonedx/cyclonedx-npm from 1.19.0 to 1.19.2
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2548: update usage of datatables api for analysis result pages
  grails-app/assets/javascripts/otp.js
  grails-app/assets/javascripts/pages/analysis/results/datatable.js
  grails-app/assets/javascripts/pages/clusterJobGeneral/index/clusterJobGeneral.js
  grails-app/assets/javascripts/pages/crashRecovery/index/crashRecovery.js
  grails-app/assets/javascripts/pages/egaSubmission/selectSamples/datatable.js
  grails-app/assets/javascripts/pages/processes/list/list.js
  grails-app/assets/javascripts/pages/processes/plan/plan.js
  grails-app/assets/javascripts/pages/processes/process/process.js
  grails-app/assets/javascripts/pages/processes/processingStep/processingStep.js
  grails-app/views/crashRecovery/index.gsp
  grails-app/views/egaSubmission/selectSamples.gsp
Due: cypress tests, eslint, create war

Chg: otp-2560: added cypress test for blacklisting ilse numbers page
  cypress/e2e/operatorAndAdminPages/blacklistedIlseNumbers.spec.js
  grails-app/assets/javascripts/taglib/EditorSwitch.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/MetadataImportController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/metadataImport/blacklistedIlseNumbers.gsp
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Update: Bump com.gradle.develocity from 3.17.5 to 3.17.6
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2530: Delete Sample Name Overview
  cypress/e2e/others/menuBar.spec.js
  cypress/e2e/overview/sampleIdentifierOverview.spec.js
  grails-app/assets/javascripts/pages/sampleIdentifierOverview/index/datatable.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/SampleIdentifierOverviewController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SampleIdentifierOverviewService.groovy
  grails-app/views/layouts/common.gsp
  grails-app/views/sampleIdentifierOverview/index.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/SampleIdentifierOverviewServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Update: Bump @cyclonedx/cyclonedx-npm from 1.19.2 to 1.19.3
  package-lock.json
  package.json
Due: cypress tests, eslint

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*
