Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

unit tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

integration tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

test coverage:
  dependencies:
  - build gradle
  - unit tests
  - integration tests
  needs:
  - build gradle
  - unit tests
  - integration tests
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
  ...

test migration:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - migrations/changelogs/*/testing.groovy
    when: on_failure
  ...

cypress tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - cypress/screenshots
  ...

check cypress suite configured for ci:
  dependencies: []
  needs: []
  stage: test
  script:
  - set -e
  - devScripts/gitlab-ci/cypress/check-suite-configured-for-ci.sh

codenarc:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/codenarc
    when: always
    reports:
  ...

eslint:
  dependencies: []
  needs: []
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/eslint
    when: always
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: codestyle
  ...

create war:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: war
  script:
  ...

Update: Bump com.github.mwiede:jsch from 0.2.21 to 0.2.23
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.networknt:json-schema-validator from 1.5.4 to 1.5.5
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapi.generator from 7.10.0 to 7.11.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2441: project request minor changes
  grails-app/assets/javascripts/pages/projectRequest/index.js
  grails-app/views/projectRequest/view.gsp
Due: cypress tests, eslint, create war

fix: otp-2664: Fix regex for BarcodeValidator
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/BarcodeValidator.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/BarcodeValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.networknt:json-schema-validator from 1.5.5 to 1.5.6
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapi.generator from 7.11.0 to 7.12.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.gradle.develocity from 3.19.1 to 3.19.2
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

fix: otp-2643: Correct filter of pseudo ids for killing
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/cluster/ClusterJobHandlingService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/cluster/ClusterJobHandlingServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.bertramlabs.plugins:sass-asset-pipeline
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.codenarc:CodeNarc from 3.5.0 to 3.6.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.bertramlabs.plugins:less-asset-pipeline
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

fix: otp-2656: Weskit integration fixes
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAccessService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAccessServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractExecuteWesPipelineJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractRoddyClusterValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractWesValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/scheduler/WesMonitor.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WesWorkflowEngineParameter.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractExecuteWesPipelineJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/fastqc/WesFastqcWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2403: Add SNV workflow test
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/BamFilePairAnalysis.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/AnalysisArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractWorkflowDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDecider.groovy
  migrations/changelogs/defaultValues/workflow-config/snv/ewc-roddy-snv2-cvalue-1.2.166-5.sql
  src/main/groovy/de/dkfz/tbi/otp/config/OtpProperty.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/snv/SnvExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/snv/SnvWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractConditionalSkipJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/TestConfigService.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/IsRoddy.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/externalBam/ExternalBamFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractConditionalSkipJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/AbstractAnalysisArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/ExternalBamFileAnalysisArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/RoddyAnalysisArtefactServiceSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/AbstractRoddyAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/AbstractAnalysisWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/AbstractRoddyAnalysisWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/snvcalling/AbstractSnvCallingWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/snvcalling/SnvCallingExomeWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/snvcalling/SnvCallingWholeGenomeWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2513: create SophiaConditionalSkipJob
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowStepSkipMessage.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/AnalysisConditionalSkipJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaConditionalSkipJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaConditionalSkipJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractConditionalSkipJobSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

fix: otp-2648: Service used but not declared first
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectCreationController.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2662: Allow defining custom setup for workflow tests
  grails-app/services/de/dkfz/tbi/otp/job/processing/RoddyCommandService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/ExecuteRoddyCommandService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/ExecuteRoddyCommandServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/config/OtpProperty.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/TestConfigService.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/processing/RoddyCommandServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/utils/ExecuteRoddyCommandServiceSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/WorkflowTestCase.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2659: Adapt how profile WesWorkflowEngineParameter is set
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/ExternalWorkflowConfigFragment.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAccessService.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/WesFastQcWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractExecuteWesPipelineJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/WeskitCheckFragmentKeysJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/WesFastQcWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractExecuteWesPipelineJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/WeskitCheckFragmentKeysJobSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

chg: otp-2665: adapt UpdateSampleNames script
  scripts/operations/dataCorrection/UpdateSampleNames.groovy
Due: none

fix: otp-2266: Improve search for Workflow runs page
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump @cyclonedx/cyclonedx-npm from 2.0.0 to 2.1.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.google.guava:guava from 33.4.0-jre to 33.4.6-jre
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.mwiede:jsch from 0.2.23 to 0.2.24
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump start-server-and-test from 2.0.10 to 2.0.11
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2544: Extend workflow triggering page to show also external bam files in the seqtrack file overview
  grails-app/assets/javascripts/pages/triggerAlignment/index/functions.js
  grails-app/controllers/de/dkfz/tbi/otp/component/SearchSeqTrackController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentController.groovy
  grails-app/services/de/dkfz/tbi/otp/SearchExternallyProcessedBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/TriggerWorkflowService.groovy
  src/test/groovy/de/dkfz/tbi/otp/SearchExternallyProcessedBamFileServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, eslint, create war

fix: otp-2670: Showing cluster job IDs (old workflow system) not working anymore
  grails-app/views/processes/processingStep.gsp
Due: cypress tests, create war

fix: otp-2668: NullpointerException running ClusterJobService.findMemoryUsaByDate
  grails-app/services/de/dkfz/tbi/otp/infrastructure/ClusterJobService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/infrastructure/ClusterJobServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump org.webjars.npm:chart.js from 4.4.4 to 4.4.8
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Ignore: fix webjar
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
Due: cypress tests, create war

chg: otp-2663: Update the otp ci image for OTP
  .gitlab-ci-core.yml
  build.gradle
  devScripts/gitlab-ci/cypress/check-suite-configured-for-ci.sh
  devScripts/gitlab-ci/cypress/cypress.sh
  devScripts/gitlab-ci/init.sh
  devScripts/grails-migration-plugin/check-for-changelog-file.sh
  docker/gitlab-ci/Dockerfile
  docker/otp-war/Dockerfile
  docker/otp/Dockerfile
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

fix: otp-2661: the auto start of cell ranger is broken
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerConfigurationService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2683: remove chgrp from CopyOrLinkFastqsOfLaneJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/datainstallation/CopyOrLinkFastqsOfLaneJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/CopyOrLinkFastqsOfLaneJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2681: fix pipeline in forked repositories
  .gitlab-ci-core.yml
  docker/gitlab-ci/Dockerfile
  docker/otp-war/Dockerfile
  docker/otp/Dockerfile
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

chg: otp-2685: fix correctGroups to use absolute paths
  grails-app/services/de/dkfz/tbi/otp/utils/ExecuteRoddyCommandService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2404: Analysis-WF: Create Indel workflow test
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaExecuteJob.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/indelcalling/AbstractIndelCallingWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/indelcalling/IndelCallingExomeWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/indelcalling/IndelCallingWholeGenomeWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2406: Analysis-WF: Create Sophia workflow test
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaExecuteJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/sophia/AbstractSophiaWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/sophia/SophiaExomeWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/sophia/SophiaWholeGenomeWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

fix: otp-2666: Seq Type not found by alias during data swap
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/SeqType.groovy
  grails-app/services/de/dkfz/tbi/otp/dataswap/AbstractDataSwapService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataswap/LaneSwapService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataswap/SampleSwapService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataswap/parameters/LaneSwapParameters.groovy
  migrations/changelog.groovy
  migrations/changelogs/2025/otp-2666.groovy
  scripts/operations/dataSwap/create-a-data-swap-script.groovy
  scripts/operations/dataSwap/create-a-lane-separation-script.groovy
  scripts/operations/dataSwap/create-a-seqtype-swap-script.groovy
  scripts/operations/dataSwap/moveIndividualTemplate.groovy
  scripts/operations/dataSwap/moveLaneTemplate.groovy
  scripts/operations/dataSwap/moveSampleTemplate.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerConfigurationServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/monitor/SamplePairCheckerIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTrackServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/SearchExternallyProcessedBamFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqImportWorkflowCreatorSchedulerSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump com.google.guava:guava from 33.4.6-jre to 33.4.8-jre
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*
