Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, cypress tests

unit tests:
  stage: test
  dependencies: []
  needs: []
  cache:
  - key:
      files:
      - $CI_PROJECT_DIR/gradle/wrapper/gradle-wrapper.properties
      prefix: gradle-$CI_JOB_NAME
    paths:
    - $GRADLE_USER_HOME
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/test/*.xml
    - build/reports/tests
  ...

integration tests:
  stage: test
  dependencies: []
  needs: []
  cache:
  - key:
      files:
      - $CI_PROJECT_DIR/gradle/wrapper/gradle-wrapper.properties
      prefix: gradle-$CI_JOB_NAME
    paths:
    - $GRADLE_USER_HOME
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/integrationTest/*.xml
    - build/reports/tests
  ...

test coverage:
  stage: test
  dependencies:
  - unit tests
  - integration tests
  needs:
  - unit tests
  - integration tests
  cache:
  - key:
      files:
      - $CI_PROJECT_DIR/gradle/wrapper/gradle-wrapper.properties
      prefix: gradle-$CI_JOB_NAME
    paths:
    - $GRADLE_USER_HOME
  artifacts:
    expire_in: 4 week
    paths:
  ...

cypress tests:
  stage: test
  dependencies: []
  needs: []
  cache:
  - key:
      files:
      - $CI_PROJECT_DIR/gradle/wrapper/gradle-wrapper.properties
      prefix: gradle-$CI_JOB_NAME
    paths:
    - $GRADLE_USER_HOME
  - key:
      files:
      - $CI_PROJECT_DIR/package-lock.json
      prefix: node
    paths:
    - node_modules/
  ...

Update: Bump cypress from 13.3.1 to 13.3.2
  package-lock.json
  package.json
Due: cypress tests

Update: Bump eslint from 8.51.0 to 8.52.0
  package-lock.json
  package.json
Due: cypress tests

chg: otp-2315: Increase allowed upload limit
  grails-app/conf/application.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectCreationController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/project/ProjectInfoController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/project/dta/DataTransferController.groovy
  grails-app/services/de/dkfz/tbi/otp/project/ProjectService.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump eslint-plugin-import from 2.28.1 to 2.29.0
  package-lock.json
  package.json
Due: cypress tests

Update: Bump org.jsoup:jsoup from 1.16.1 to 1.16.2
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

change: otp-2293: Adapt reference for sophia in email
  grails-app/i18n/messages.properties
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2272: removed "Ilike" from MetadataExport.groovy
  scripts/operations/export/MetadataExport.groovy
Due: none

fix: otp-2265: Fixed state of restarted job
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/JobService.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump cypress from 13.3.2 to 13.3.3
  package-lock.json
  package.json
Due: cypress tests

refactor: otp-2313: move logic from clusterJob to services
  grails-app/controllers/de/dkfz/tbi/otp/infrastructure/ClusterJobDetailController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/job/processing/ProcessesController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/IndividualController.groovy
  grails-app/domain/de/dkfz/tbi/otp/infrastructure/ClusterJob.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/Individual.groovy
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/ReferenceGenomeSelector.groovy
  grails-app/services/de/dkfz/tbi/otp/dataswap/AbstractDataSwapService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/ClusterJobDetailService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/ClusterJobService.groovy
  grails-app/services/de/dkfz/tbi/otp/job/JobMailService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SampleService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTrackService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/restartHandler/ErrorNotificationService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunService.groovy
  grails-app/views/clusterJobDetail/show.gsp
  grails-app/views/processes/processingStep.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/infrastructure/ClusterJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/job/JobMailServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/job/processing/AbstractMaybeSubmitWaitValidateJobIntegrationTests.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/processing/AbstractJobImpl.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/processing/AbstractMaybeSubmitWaitValidateJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/SpeciesValidator.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/DomainFactoryCore.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/AbstractDataSwapServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/LaneSwapServiceHibernateSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/LaneSwapServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/ClusterJobDetailServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/ClusterJobServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/processing/AbstractJobImplSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/IndividualSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SampleServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTrackServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/SpeciesValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2314: Extend CreateExampleData
  scripts/initializations/demoImports/CreateExampleData.groovy
Due: none

fix: otp-2307: Add command for checked typing in cypress to prevent flaky behaviour
  cypress/e2e/workflowConfig.spec.js
  cypress/e2e/workflowSystemConfig.spec.js
  cypress/support/commands.js
  grails-app/assets/javascripts/pages/workflowConfig/index/functions.js
Due: cypress tests

chg: otp-2317: add redirect uri and origin to keycloak dev config
  docker/keycloak/realm-export.json
Due: cypress tests

chg: otp-2295: rna artefacts
  scripts/migration/otp-2295-create-new-workflow-artefacts-from-rna-alignments.groovy
Due: none

new: otp-2184: Create the RNA alignment workflow test
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/RoddyBamFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/rnaAlignment/RnaRoddyBamFile.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/bamfiles/RnaRoddyBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/job/processing/RoddyConfigValueService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/PanCancerDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/RnaAlignmentDecider.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/WgbsDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/AbstractRoddyAlignmentValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentFinishJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentCleanUpJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentParseJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractPrepareJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/workflowTest/FileAssertHelper.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/workflowTest/referenceGenome/ReferenceGenomeHg37Phix.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/workflowTest/roddy/RnaRoddyFileAssertHelper.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/workflowTest/roddy/RoddyFileAssertHelper.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/workflowTest/roddy/RoddyFileAssertTrait.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/workflowTest/roddy/WgbsRoddyFileAssertHelper.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentCleanUpJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentParseJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentValidationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsValidationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractPrepareJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/RnaAlignmentDeciderSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/alignment/roddy/AbstractRoddyAlignmentWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/AbstractRoddyAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/pancancer/AbstractPanCancerWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/rna/AbstractRnaAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/rna/RnaAlignmentPairedWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/rna/RnaAlignmentSingleWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/roddy/wgbs/WgbsAlignmentWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2321: fix text of restart prev step on workflow run page
  grails-app/assets/javascripts/pages/workflowRunList/index.js
Due: cypress tests

new: otp-2277: BamImport: Create BamImportWorkflow
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportWorkflow.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump cypress from 13.3.3 to 13.4.0
  package-lock.json
  package.json
Due: cypress tests

bug: otp-2323: Fix error in error mail creation
  grails-app/services/de/dkfz/tbi/otp/workflow/restartHandler/ErrorNotificationService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/restartHandler/ErrorNotificationServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump eslint from 8.52.0 to 8.53.0
  package-lock.json
  package.json
Due: cypress tests

Update: Bump start-server-and-test from 2.0.1 to 2.0.2
  package-lock.json
  package.json
Due: cypress tests

Update: Bump org.junit.vintage:junit-vintage-engine
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

fix: otp-2227: annotations
  grails-app/codenarcRules/AuthorizeAnnotationForControllersRule.groovy
  grails-app/codenarcRules/ChildControllersNotAuthorizeAnnotatedRule.groovy
  grails-app/conf/CodeNarcRuleSet.groovy
  grails-app/controllers/de/dkfz/tbi/otp/errors/ErrorController.groovy
Due: unit tests, integration tests, test coverage, cypress tests

fix: otp-2230: add css classes for bootstrap modals to fix select 2 dropdowns
  grails-app/assets/stylesheets/otp.less
Due: cypress tests

bug: otp-2331: fix DataFileExistenceValidator
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/DataFileExistenceValidator.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/DataFileExistenceValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2301: Create notify jobs
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowRun.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AlignmentInfoService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2301-notification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCreateNotificationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentCreateNotificationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractCreateNotificationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentCreateNotificationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/alignment/AbstractCreateNotificationJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2278: BamImportShared created
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportShared.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportWorkflow.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2279: BamImport: Create BamImportFragmentJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportFragmentJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/workflowSystem/BamImportWorkflowDomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerSharedSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentSharedSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportFragmentJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportSharedSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcSharedSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2268: Avoid using WES as an abbreviation
  cypress/e2e/workflowConfigViewer.spec.js
  grails-app/assets/javascripts/pages/workflowRunDetails/index.js
  grails-app/i18n/messages.properties
  grails-app/views/workflowRunDetails/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2268.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/BashFastQcWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/WesFastQcWorkflow.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump cypress from 13.4.0 to 13.5.0
  package-lock.json
  package.json
Due: cypress tests

refactor: otp-1465: Adapt Keyword domain class to work both in Project and ProjectRequest
  cypress/e2e/keyword.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestController.groovy
  grails-app/domain/de/dkfz/tbi/otp/project/ProjectRequest.groovy
  grails-app/domain/de/dkfz/tbi/otp/searchability/Keyword.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/KeywordService.groovy
  grails-app/services/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestService.groovy
  grails-app/views/keyword/_keywordListItem.gsp
  grails-app/views/keyword/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-1465.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/project/ProjectPropertiesGivenWithRequest.groovy
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2345: Fix old names in default script
  migrations/changelogs/defaultValues/workflow-versions.sql
  migrations/changelogs/defaultValues/workflows.sql
Due: none

fix: otp-2333: set bean name for bam import
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2333-set-bean-name-bam-import.groovy
  migrations/changelogs/defaultValues/workflows.sql
  src/main/groovy/de/dkfz/tbi/otp/workflow/bamImport/BamImportWorkflow.groovy
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2346: remove using qualityAssessmentMergedPass from new rna workflow
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/rnaAlignment/RnaRoddyBamFile.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.openapi.generator from 7.0.1 to 7.1.0
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2343: update grails 6.1
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
Due: unit tests, integration tests, test coverage, cypress tests

Path conditions:
  unit tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  integration tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  test coverage: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  cypress tests: any of: gradle/**/*, grails-app/**/*, src/main/**/*, cypress/**/*, docker/**/*, build.gradle, gradle.properties, cypress.config.js, package.json, package-lock.json, .gitlab-ci-core.yml
