Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

unit tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

integration tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/test-results/*/*.xml
    - build/reports/tests
  ...

test coverage:
  dependencies:
  - build gradle
  - unit tests
  - integration tests
  needs:
  - build gradle
  - unit tests
  - integration tests
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
  ...

test migration:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - migrations/changelogs/*/testing.groovy
    when: on_failure
  ...

cypress tests:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - cypress/screenshots
  ...

check cypress suite configured for ci:
  dependencies: []
  needs: []
  stage: test
  script:
  - set -e
  - devScripts/gitlab-ci/cypress/check-suite-configured-for-ci.sh

codenarc:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/codenarc
    when: always
    reports:
  ...

eslint:
  dependencies: []
  needs: []
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-cache
  - - .shared
    - cache
    - npm
  artifacts:
    expire_in: 4 week
    paths:
    - build/reports/eslint
    when: always
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: codestyle
  ...

create war:
  dependencies:
  - build gradle
  needs:
  - build gradle
  cache:
  - - .shared
    - cache
    - gradle-wrapper
  - - .shared
    - cache
    - gradle-pipeline-cache
  - - .shared
    - cache
    - gradle-cache
  artifacts:
    expire_in: 4 week
  before_script:
  - set -e
  - devScripts/gitlab-ci/init.sh
  stage: war
  script:
  ...

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 13.7.3 to 13.8.0
  package-lock.json
  package.json
Due: cypress tests, eslint

refactor: otp-2517: create example with uuid & create 4 example project and update cypress tests
  .gitlab-ci-core.yml
  .gitlab-ci-create-image.yml
  cypress/e2e/project/projectConfig.spec.js
  cypress/e2e/project/projectUser.spec.js
  cypress/e2e/workflowSystem/workflowArtefact.spec.js
  cypress/e2e/workflowSystem/workflowRunDetails.spec.js
  cypress/fixtures/workflowSelection.json
  devScripts/gitlab-ci/cypress/cypress.sh
  docker/database/Dockerfile.dev
  docker/database/dev_dump/apply-dev-dump.sh
  docker/integration-test-database/docker-compose.yml
  docker/ssh/Dockerfile
  grails-app/assets/javascripts/pages/project/projectConfigPage.js
  scripts/initializations/demoImports/CreateExampleData.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

fix: otp-2494: only update workflowVersionSelector when according workflow is different
  cypress/e2e/workflowSystem/workflowSelection.spec.js
  cypress/fixtures/workflowSelection.json
  grails-app/assets/javascripts/pages/workflowSelection/index.js
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowVersionSelectorService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowVersionSelectorServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowVersionSelectorServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

chg: otp-2491: add CSV template to download for sample swap
  cypress/e2e/overview/sequence.spec.js
  grails-app/assets/javascripts/dataTable.js
  grails-app/assets/javascripts/otp.js
  grails-app/assets/javascripts/pages/sequence/index/datatable.js
  grails-app/assets/javascripts/pages/sequence/index/index.js
  grails-app/assets/stylesheets/mainmenu.less
  grails-app/assets/stylesheets/pages/sequence/index.less
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/SequenceController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/sequence/index.gsp
  grails-app/views/templates/_dataTableFilter.gsp
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SequenceControllerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

new: otp-2459: skip cron jobs for deleted projects
  grails-app/services/de/dkfz/tbi/otp/project/ProjectService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CellRangerDataCleanupJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CheckExpiredProjectsJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/DeactivateUsersJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/ScheduleUsersForDeactivationJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/ProjectServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/AbstractScheduledJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CellRangerDataCleanupJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckExpiredProjectsJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckForAdUpdateJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/DeactivateUsersJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/ScheduleUsersForDeactivationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/cron/CheckForAdUpdateJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2198: Create service for workflow triggering page, part 1
  devScripts/grails-migration-plugin/create-dbm-gorm-diff-without-false-changes.sh
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/AbstractBamFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ExternallyProcessedBamFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/RoddyBamFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/singleCell/SingleCellBamFile.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/TriggerWorkflowService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2024/otp-2198.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/TriggerWorkflowServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

bug: otp-2536: fix deletion of analysisqc during deletion of analysis
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/snvcalling/AnalysisDeletionService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump cypress from 13.8.0 to 13.8.1
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2483: handle add user to project with shared unix group
  grails-app/services/de/dkfz/tbi/otp/ngsdata/UserProjectRoleService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2398: add config file link to analysis output
  grails-app/assets/javascripts/pages/analysis/results/datatable.js
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/AlignmentConfigurationOverviewController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/AlignmentQualityOverviewController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/AbstractAnalysisController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/AceseqController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/AnalysisConfigurationOverviewController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/IndelController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/RunYapsaController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/SnvController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/analysis/SophiaController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisResultsService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisWorkFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/job/processing/RoddyConfigService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/alignment/AlignmentQualityOverviewService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/analysis/AbstractAnalysisService.groovy
  grails-app/views/indel/results.gsp
  grails-app/views/runYapsa/results.gsp
  grails-app/views/snv/results.gsp
  grails-app/views/sophia/results.gsp
  scripts/initializations/demoImports/CreateExampleData.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisResultsServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractExecuteRoddyPipelineJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/AlignmentQualityOverviewControllerSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/AlignmentQualityOverviewServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractExecuteRoddyPipelineJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, eslint, create war

bug: otp-2546: fix notification for alignments running in old workflow system
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AlignmentInfoService.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/AlignmentInfoServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2543: Fix LoadBedFiles & CorrectLibPrepKit
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/AbstractBamFile.groovy
  scripts/LibraryPreparationKit/LoadBedFiles.groovy
  scripts/operations/dataCorrection/CorrectLibPrepKit.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

refactor: otp-2540: add annotation @Generated to generated code
  gradle/config/groovyc.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2512: handle state SKIPPED in JobSheduler.checkResult
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/JobScheduler.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2397: Roddy SNV configs
  migrations/changelogs/defaultValues/ewc/ewc-roddy-snv2-cvalue-1.2.166-1+1.2.166-3.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-snv2-cvalue-1.2.166-5.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-snv2-cvalue-EXON-PAIRED-1.2.166-1+1.2.166-3+1.2.166-5.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-snv2-cvalue-WHOLE_GENOME-PAIRED-1.2.166-1+1.2.166-3+1.2.166-5.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-snv2-filenames-1.2.166-1+1.2.166-3+1.2.166-5.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-snv2-resources-1.2.166-1+1.2.166-3+1.2.166-5.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-snv2-resources-EXON-PAIRED-1.2.166-1+1.2.166-3+1.2.166-5.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-snv2-resources-WHOLE_GENOME-PAIRED-1.2.166-1+1.2.166-3+1.2.166-5.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-snv2-test-resource-EXON-PAIRED-all-version.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-snv2-test-resource-WHOLE_GENOME-PAIRED-all-version.sql
  migrations/changelogs/defaultValues/ewc/ewc-roddy-snv2-test-resource-all-version.sql
  scripts/migration/otp-2397-check-roddy-snv-migration.groovy
  scripts/migration/otp-2397-fix-config-paths.groovy
  scripts/migration/otp-2397-migrate-analysis-selectors.groovy
Due: test migration, cypress tests

chg: otp-2351: 'Delete On' field on Project Config page
  cypress/e2e/project/projectConfig.spec.js
  grails-app/domain/de/dkfz/tbi/otp/project/Project.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/project/ProjectService.groovy
  grails-app/views/projectConfig/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2024/otp-2351-project-delete-on.groovy
  src/test/groovy/de/dkfz/tbi/otp/project/ProjectServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, create war

chg: otp-2519: Add admin ticket system email to project created email
  grails-app/domain/de/dkfz/tbi/otp/administration/Mail.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  grails-app/services/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2199: Create frontend for workflow triggering page, part 1
  cypress/e2e/workflowSystem/triggerAlignment.spec.js
  cypress/fixtures/triggerAlignment.json
  grails-app/assets/javascripts/pages/triggerAlignment/index/functions.js
  grails-app/controllers/de/dkfz/tbi/otp/component/SearchSeqTrackController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/TriggerAlignmentController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/SearchSeqTrackService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/TriggerWorkflowService.groovy
  grails-app/views/templates/bootstrap/_bamSelection.gsp
  grails-app/views/templates/bootstrap/seqTrackSelectionTabBar/_seqTrackSelectionTabBar.gsp
  grails-app/views/templates/bootstrap/seqTrackSelectionTabBar/tabs/_bamTab.gsp
  grails-app/views/triggerAlignment/components/_checkArea.gsp
  grails-app/views/triggerAlignment/components/_infoArea.gsp
  grails-app/views/triggerAlignment/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Update: Bump cypress from 13.8.1 to 13.9.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.gradle.enterprise from 3.17.2 to 3.17.3
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

fix: otp-2509: workflow selection page
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionController.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump org.grails.plugins:mail from 3.0.0 to 4.0.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

fix: otp-2549: Adapt AlignmentQualityOverviewController to work with custom SeqTypes
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTypeService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTypeServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTypeServiceTest.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump com.gradle.enterprise from 3.17.3 to 3.17.4
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 13.9.0 to 13.10.0
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2531: add software inventory dependencies and task
  build.gradle
  package-lock.json
  package.json
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

refactor: otp-2363: BamImport: Delete old bam import workflow
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/BamImportInstance.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/BamMetadataImportService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2024/otp-2363.groovy
  scripts/overviews/statistik/memory-per-job-type.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/config/TypeValidatorsIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/job/jobs/bam/ImportExternallyMergedBamStartJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/importExternallyMergedBam/ImportExternallyMergedBamJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/importExternallyMergedBam/ImportExternallyMergedBamStartJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/importExternallyMergedBam/ReplaceSourceWithLinkJob.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/externalBam/ExternalBamFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/jobs/bamImport/ImportExternallyMergedBamJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/jobs/bamImport/ReplaceSourceWithLinkJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/importExternallyMergedBam/ImportExternallyMergedBamWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/bamImport/BamImportWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

refactor: otp-2553: migrate speciesWithStrain page to bootstrap and add cypress tests
  cypress.config.js
  cypress/e2e/overview/speciesWithStrain.spec.js
  cypress/fixtures/speciesWithStrain.json
  grails-app/assets/stylesheets/otp.less
  grails-app/assets/stylesheets/pages/speciesWithStrain/styles.less
  grails-app/views/speciesWithStrain/index.gsp
  grails-app/views/templates/_editorSwitchNewFreeTextValues.gsp
Due: cypress tests, check cypress suite configured for ci, create war

Update: Bump org.webjars.npm:chart.js from 4.4.2 to 4.4.3
  build.gradle
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2547: replace SeqTypeService.getSeqTypesNewWorkflowSystem with getSeqTypesOldWorkflowSystem
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigurePipelineController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/AlignmentConfigurationOverviewController.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTypeService.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/AlignmentValidator.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/AlignmentValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2460: improve performance of page workflowRunDetails
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowRunDetailsController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/workflowRunDetails/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump @cyclonedx/cyclonedx-npm from 1.16.2 to 1.18.0
  package-lock.json
  package.json
Due: cypress tests, eslint

bug: otp-2557: fix filesystem in molgenis script export-bams-and-fastqs
  scripts/operations/export/molgenis/dkfz/export-bams-and-fastqs.groovy
Due: none

Update: Bump @cyclonedx/cyclonedx-npm from 1.18.0 to 1.19.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: update gradle version to 7.6.4
  gradle/wrapper/gradle-wrapper.properties
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapi.generator from 7.5.0 to 7.6.0
  .gitlab-ci-core.yml
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

new: otp-2511: cleanup of restarted/final failed workflows
  grails-app/domain/de/dkfz/tbi/otp/filestore/WorkFolder.groovy
  grails-app/services/de/dkfz/tbi/otp/filestore/FilestoreService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2024/otp-2511.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CleanupWorkFoldersJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/AbstractScheduledJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CleanupWorkFoldersJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/filestore/FilestoreServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractCleanUpJobSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*
