Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*

new: otp-2640: Update CellRanger to 8.0.1
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  migrations/changelogs/defaultValues/workflow-versions.sql
  scripts/overviews/ResultsForAlignmentsAndAnalysesOfAllProject.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataprocessing/CellRangerParameters.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/alignment/cellRanger/AbstractCellRangerAlignmentWorkflowTests.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2628: update postgres docker to 15
  .gitlab-ci-core.yml
  devScripts/postgres/apply-dump.sh
  docker/database/20_create_otp_database.sql
  docker/database/Dockerfile
  docker/database/Dockerfile.dev
  docker/integration-test-build-database/Dockerfile
  docker/integration-test-database/docker-compose.yml
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Update: Bump com.networknt:json-schema-validator from 1.5.1 to 1.5.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

ignore: add explain text why com.google.guava:guava is needed as direct dependency
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.google.guava:guava from 33.3.0-jre to 33.3.1-jre
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2521: sophia config migration
  migrations/changelogs/defaultValues/workflow-config/sophia/ewc-roddy-sophia2-cvalue-1.2.16+1.2.17.sql
  migrations/changelogs/defaultValues/workflow-config/sophia/ewc-roddy-sophia2-cvalue-2.0.2.sql
  migrations/changelogs/defaultValues/workflow-config/sophia/ewc-roddy-sophia2-cvalue-2.2.0.sql
  migrations/changelogs/defaultValues/workflow-config/sophia/ewc-roddy-sophia2-cvalue-2.2.2+2.2.3.sql
  migrations/changelogs/defaultValues/workflow-config/sophia/ewc-roddy-sophia2-filenames-1.2.16+1.2.17.sql
  migrations/changelogs/defaultValues/workflow-config/sophia/ewc-roddy-sophia2-filenames-2.0.2.sql
  migrations/changelogs/defaultValues/workflow-config/sophia/ewc-roddy-sophia2-filenames-2.2.0+2.2.2+2.2.3.sql
  migrations/changelogs/defaultValues/workflow-config/sophia/ewc-roddy-sophia2-resources-1.2.16+1.2.17+2.0.2+2.2.0+2.2.2+2.2.3.sql
  migrations/changelogs/defaultValues/workflow-config/sophia/ewc-roddy-sophia2-resources-EXON-PAIRED-1.2.16+1.2.17+2.0.2+2.2.0+2.2.2+2.2.3.sql
  migrations/changelogs/defaultValues/workflow-config/sophia/ewc-roddy-sophia2-resources-WHOLE_GENOME-PAIRED-1.2.16+1.2.17+2.0.2+2.2.0+2.2.2+2.2.3.sql
  migrations/changelogs/defaultValues/workflow-config/test/sophia/ewc-roddy-sophia2-test-resource-EXON-PAIRED-all-version.sql
  migrations/changelogs/defaultValues/workflow-config/test/sophia/ewc-roddy-sophia2-test-resource-WHOLE_GENOME-PAIRED-all-version.sql
  scripts/migration/otp-2521-check-roddy-sophia-migration.groovy
  scripts/migration/otp-2521-migrate-sophia-selectors.groovy
Due: test migration, cypress tests

new: otp-2627: add type to cvalues
  grails-app/services/de/dkfz/tbi/otp/job/processing/RoddyConfigService.groovy
  grails-app/services/de/dkfz/tbi/otp/job/processing/RoddyConfigValueService.groovy
  scripts/migration/otp-2397-check-roddy-snv-migration.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/processing/RoddyConfigValueType.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/snv/SnvExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractExecuteRoddyPipelineJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/processing/RoddyConfigServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/processing/RoddyConfigValueServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/snv/SnvExecuteJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaExecuteJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2520: Roddy Indel configs
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-cvalue-1.2.177-601.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-cvalue-1.2.177-602.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-cvalue-2.0.0-101.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-cvalue-2.2.2.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-cvalue-2.4.1-1.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-cvalue-2.4.1-2.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-filenames-1.2.177-601+1.2.177-602.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-filenames-2.0.0-101+2.2.2+2.4.1-1+2.4.1-2.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-resources-1.2.177-601+1.2.177-602.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-resources-2.0.0-101+2.4.1-1+2.4.1-2.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-resources-2.2.2.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-resources-EXON-PAIRED-1.2.177-601+1.2.177-602.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-resources-EXON-PAIRED-2.0.0-101+2.2.2+2.4.1-1+2.4.1-2.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-resources-WHOLE_GENOME-PAIRED-1.2.177-601+1.2.177-602.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-resources-WHOLE_GENOME-PAIRED-2.0.0-101+2.4.1-1+2.4.1-2.sql
  migrations/changelogs/defaultValues/workflow-config/indel/ewc-roddy-indel-resources-WHOLE_GENOME-PAIRED-2.2.2.sql
  migrations/changelogs/defaultValues/workflow-config/test/indel/ewc-roddy-indel-test-resource-EXON-PAIRED-all-version.sql
  migrations/changelogs/defaultValues/workflow-config/test/indel/ewc-roddy-indel-test-resource-WHOLE_GENOME-PAIRED-all-version.sql
  migrations/changelogs/defaultValues/workflow-config/test/indel/ewc-roddy-indel-test-resource-all-version.sql
  scripts/migration/otp-2520-check-roddy-indel-migration.groovy
  scripts/migration/otp-2520-fix-config-paths.groovy
  scripts/migration/otp-2520-migrate-analysis-selectors.groovy
Due: test migration, cypress tests

new: otp-2610: Adapt CheckFileAccessInconsistenciesJob to provide the needed commands
  grails-app/services/de/dkfz/tbi/otp/ngsdata/UserProjectRoleService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/UserProjectRoleServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJob.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

fix: otp-2647: skipp -> skip
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractWorkflowDecider.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump cypress from 13.15.0 to 13.16.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.google.guava:guava from 33.3.1-jre to 33.4.0-jre
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.grails.plugins:hibernate5 from 8.1.0 to 8.1.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.networknt:json-schema-validator from 1.5.2 to 1.5.4
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.junit.vintage:junit-vintage-engine
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump start-server-and-test from 2.0.8 to 2.0.9
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2607: Ega sample names should only unique per submission
  grails-app/domain/de/dkfz/tbi/otp/egaSubmission/BamFileSubmissionObject.groovy
  grails-app/domain/de/dkfz/tbi/otp/egaSubmission/EgaSubmission.groovy
  grails-app/domain/de/dkfz/tbi/otp/egaSubmission/RawSequenceFileSubmissionObject.groovy
  grails-app/domain/de/dkfz/tbi/otp/egaSubmission/SampleSubmissionObject.groovy
  grails-app/services/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionValidationService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2024/otp-2607.groovy
  src/test/groovy/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionValidationServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

chg: otp-2564: added cypress test for defaultSeqPlatformGroup
  cypress/e2e/operatorAndAdminPages/defaultSeqPlatformGroup.spec.js
  cypress/e2e/operatorAndAdminPages/projectSeqPlatformGroup.spec.js
  cypress/support/commands.js
  grails-app/i18n/messages.properties
  grails-app/views/defaultSeqPlatformGroup/index.gsp
  grails-app/views/projectSeqPlatformGroup/index.gsp
  grails-app/views/templates/bootstrap/seqPlatformGroupSelector/_list.gsp
  grails-app/views/templates/bootstrap/seqPlatformGroupSelector/header/_edit.gsp
  grails-app/views/templates/bootstrap/seqPlatformGroupSelector/header/_new.gsp
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, create war

Update: Bump org.jsoup:jsoup from 1.18.1 to 1.18.3
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.gradle.develocity from 3.18.1 to 3.19
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump net.razvan.jacoco-to-cobertura from 1.2.0 to 1.3.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.samtools:htsjdk from 4.1.2 to 4.1.3
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

fix: otp-2652: Fix HibernateOptimisticLockingFailureException for DeleteProject Script
  grails-app/services/de/dkfz/tbi/otp/utils/WorkflowDeletionService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump cypress from 13.16.1 to 13.17.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump org.openapi.generator from 7.8.0 to 7.10.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.grails.plugins:database-migration from 4.2.1 to 5.0.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.mwiede:jsch from 0.2.20 to 0.2.21
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2654: correct script CorrectLibPrepKit
  scripts/operations/dataCorrection/CorrectLibPrepKit.groovy
Due: none

chg: otp-2602: Change date on Sequences page
  cypress/fixtures/downloadChecks/sequence.json
  grails-app/assets/javascripts/pages/sequence/index/datatable.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/SequenceController.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/Sequence.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTrackService.groovy
  migrations/changelogs/dbview/sequences.sql
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war

Update: Bump eslint-plugin-import from 2.30.0 to 2.31.0
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2655: Update org.springframework.security:spring-security-* from 5.8.14 to 5.8.16
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump @cyclonedx/cyclonedx-npm from 1.19.3 to 2.0.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump start-server-and-test from 2.0.9 to 2.0.10
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.opencsv:opencsv from 5.9 to 5.10
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.cyclonedx.bom from 1.10.0 to 2.0.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.postgresql:postgresql from 42.7.4 to 42.7.5
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.gradle.develocity from 3.19 to 3.19.1
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump net.razvan.jacoco-to-cobertura from 1.3.1 to 1.3.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc
