Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*

New: otp-2202: Rename triggerAlignment to become triggerWorkflows
  cypress/e2e/workflowSystem/triggerWorkflows.spec.js
  cypress/fixtures/triggerWorkflows.json
  grails-app/assets/javascripts/pages/triggerWorkflows/index/functions.js
  grails-app/controllers/de/dkfz/tbi/otp/component/SearchSeqTrackController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/SampleCategoryController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflow/TriggerWorkflowsController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/SearchSeqTrackService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/TriggerWorkflowService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/TriggerWorkflowsService.groovy
  grails-app/views/layouts/common.gsp
  grails-app/views/templates/bootstrap/seqTrackSelectionTabBar/_seqTrackSelectionTabBar.gsp
  grails-app/views/triggerAlignment/components/_checkArea.gsp
  grails-app/views/triggerWorkflows/components/_checkArea.gsp
  grails-app/views/triggerWorkflows/components/_infoArea.gsp
  grails-app/views/triggerWorkflows/components/_inputArea.gsp
  grails-app/views/triggerWorkflows/components/_optionArea.gsp
  grails-app/views/triggerWorkflows/components/_resultArea.gsp
  grails-app/views/triggerWorkflows/components/_warnArea.gsp
  grails-app/views/triggerWorkflows/index.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/TriggerWorkflowsServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/TriggerWorkflowsResult.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/TriggerWorkflowsServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

bug: otp-2881: Handle problem in the notification creator with skipped workflows.
  src/integration-test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/tracking/NotificationCreator.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2855: Add script to run Codenarc for changed files
  build.gradle
  devScripts/codenarc-changed-files.sh
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

New: otp-2828: On workflowRunOverview indicate when workflowsystem is not running
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowRunOverviewController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/workflowRunOverview/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2876: Allow auto-trigger of analysis WFs when sample type category is configured before the BAM file is ready
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractBamFileService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2888: fix doubled loaded server in workflow test hierarchy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/AbstractAlignmentWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/AbstractAnalysisWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/dataInstallation/DataInstallationWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/fastqc/WesFastqcWorkflowSpec.groovy
Due: codenarc

New: otp-2839: Remove ClusterJobService.doesClusterJobLogExist
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/infrastructure/ClusterJobService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunService.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/ClusterJobServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2814: Handle many ilse ids in mail subject
  src/main/groovy/de/dkfz/tbi/otp/tracking/NotificationCreator.groovy
  src/test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2283: make 'tab' the default delimiter for bulkSampleCreation
  cypress/e2e/operatorAndAdminPages/bulkSampleCreation.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/BulkSampleCreationController.groovy
  grails-app/views/bulkSampleCreation/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, create war

bug: otp-2812: Delete seqtrack script don't handle delete of withdrawn data without keeping non withdrawn data correctly
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/DeletionServiceIntegrationSpec.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2836: Adapt the note for the furtherFilePaths field on "BAM Import" page
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/BamMetadataImportController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/bamMetadataImport/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2820: Update MetadataExport script to adapt the fastq filename,PID and Sample Type column headers
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-2820-update-processingOption-metadata-whitelisted-columns.groovy
  scripts/operations/export/MetadataExport.groovy
Due: test migration, cypress tests

refactor: otp-1392: Lint: Fix no-alert EsLint error
  .eslintrc.js
  grails-app/assets/javascripts/common/chartHelper.js
  grails-app/assets/javascripts/common/toaster.js
  grails-app/assets/javascripts/otp.js
Due: cypress tests, eslint, create war

new: otp-2761: create CellRangerConditionalFailJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerConditionalFailJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerConditionalFailJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2831: Improve Crash Repair Page
  grails-app/assets/javascripts/pages/crashRepair/index/crashRepair.js
  grails-app/assets/javascripts/pages/workflowRunList/index.js
  grails-app/i18n/messages.properties
  grails-app/views/crashRepair/index.gsp
Due: unit tests, integration tests, test coverage, cypress tests, eslint, create war

new: otp-2734: Checkbox for disabling the DataFileExistenceValidator on FASTQ Import page
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/MetadataImportController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/MetadataImportService.groovy
  grails-app/views/metadataImport/index.gsp
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/MetadataImportServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2889: Update Roddy to 3.8.2
  scripts/initializations/RoddyOptions.groovy
Due: none

New: otp-2875: Add UUID folder structure in CellRangerService
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2903: create CellRangerAclCleanUpJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerAclCleanUpJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerAclCleanUpJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2461: Cron Job for Delete On
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/project/ProjectService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/DeleteOnCheckJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/DeleteOnCheckJob.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2827: Improve server shutdown page
  grails-app/views/shutdown/index.gsp
  grails-app/views/shutdown/status.gsp
Due: cypress tests, create war

new: otp-2766: create CellRangerCleanUpJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerCleanUpJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerCleanUpJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2754: Allow to start multiple jobs per round
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/JobScheduler.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/JobSchedulerSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

chg: otp-2929: improve index for WorkflowStep
  grails-app/domain/de/dkfz/tbi/otp/workflowExecution/WorkflowStep.groovy
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-2929-improve-workflow-step-index.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2863: Improve Md5sumUniqueValidator
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/validators/Md5sumUniqueValidator.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/validators/Md5sumUniqueValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2765: Create CellRangerParseJob
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerParseJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/TableColumn.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerParseJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractQcFileParseJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerParseJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractQcFileParseJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2893: Fix Nullpointer in EgaSubmissionFileService
  grails-app/controllers/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionController.groovy
  grails-app/services/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionValidationService.groovy
  src/test/groovy/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionValidationServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2906: Adapt withdraw and unWithdraw logic to handle permissions properly
  grails-app/services/de/dkfz/tbi/otp/withdraw/UnwithdrawService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/WithdrawHelperService.groovy
  src/main/groovy/de/dkfz/tbi/otp/withdraw/WithdrawStateHolder.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/UnwithdrawServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/WithdrawHelperServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2055: only show roles allow to give by that person
  cypress/e2e/project/projectUser.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectUserController.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/ProjectRoleService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/ProjectRoleServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/ProjectUserControllerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, create war

New: otp-2558: Ensure consistency in "Showing 1 to X of XXX entries" across all DataTables
  grails-app/assets/javascripts/pages/cellRanger/index/cellRanger.js
  grails-app/assets/javascripts/pages/clusterJobGeneral/index/clusterJobGeneral.js
  grails-app/assets/javascripts/pages/crashRepair/index/crashRepair.js
  grails-app/assets/javascripts/pages/dataSwap/index.js
  grails-app/assets/javascripts/pages/processes/list/list.js
  grails-app/assets/javascripts/pages/processingPriority/index/functions.js
  grails-app/assets/javascripts/pages/processingTimeStatistics/index/datatable.js
  grails-app/assets/javascripts/pages/projectUser/index/functions.js
  grails-app/assets/javascripts/pages/referenceGenome/datatable.js
  grails-app/assets/javascripts/pages/sequence/index/datatable.js
  grails-app/assets/javascripts/pages/triggerWorkflows/index/functions.js
  grails-app/assets/javascripts/pages/userAdministration/index/index.js
  grails-app/assets/javascripts/pages/workflowConfig/index/functions.js
  grails-app/assets/javascripts/pages/workflowRunList/index.js
  grails-app/assets/javascripts/pages/workflowRunOverview/index.js
  grails-app/assets/javascripts/pages/workflowSelection/alignmentTable.js
  grails-app/assets/javascripts/pages/workflowSelection/analysisTable.js
  grails-app/assets/javascripts/pages/workflowSelection/initialize.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/index.js
  grails-app/views/metadataImport/blacklistedIlseNumbers.gsp
  grails-app/views/processingOption/index.gsp
  grails-app/views/projectUser/index.gsp
  grails-app/views/sampleCategory/index.gsp
Due: cypress tests, eslint, create war

new: otp-2634: Added missing download tests for pages where data can be downloaded
  cypress/e2e/operatorAndAdminPages/metaDataFields.spec.js
  cypress/e2e/overview/aceseq.spec.js
  cypress/e2e/overview/alignmentQualityOverview.spec.js
  cypress/e2e/overview/indel.spec.js
  cypress/e2e/overview/sequence.spec.js
  cypress/e2e/overview/snv.spec.js
  cypress/e2e/overview/sophia.spec.js
  cypress/e2e/project/projectOverview.spec.js
  cypress/e2e/project/projectUser.spec.js
  cypress/e2e/workflowSystem/triggerWorkflows.spec.js
  cypress/fixtures/downloadChecks/alignmentQualityControl10xscRNA.json
  cypress/fixtures/downloadChecks/alignmentQualityControlChIP.json
  cypress/fixtures/downloadChecks/alignmentQualityControlExome.json
  cypress/fixtures/downloadChecks/alignmentQualityControlRNA.json
  cypress/fixtures/downloadChecks/alignmentQualityControlWGS.json
  cypress/fixtures/downloadChecks/metadataAntibodyTarget.json
  cypress/fixtures/downloadChecks/metadataLibraryPreparationKit.json
  cypress/fixtures/downloadChecks/metadataReferenceGenome.json
  cypress/fixtures/downloadChecks/metadataSequencingCenter.json
  cypress/fixtures/downloadChecks/metadataSequencingPlatforms.json
  cypress/fixtures/downloadChecks/metadataSequencingTypes.json
  cypress/fixtures/downloadChecks/projectUser.json
  cypress/fixtures/downloadChecks/triggerWorkflowsCheckBamFiles.json
  cypress/fixtures/downloadChecks/triggerWorkflowsCheckSeqTracks.json
  cypress/fixtures/downloadChecks/triggerWorkflowsConfiguredWorkflows.json
  grails-app/assets/javascripts/pages/triggerWorkflows/index/functions.js
Due: cypress tests, check cypress suite configured for ci, eslint, create war

refactor: otp-2696: Fix the switch toggle button style
  grails-app/assets/stylesheets/otp.less
Due: cypress tests, create war

new: otp-2879: use 444 for files
  grails-app/services/de/dkfz/tbi/otp/infrastructure/FileService.groovy
  scripts/operations/dataCorrection/filesystem/groupsAndPermissions/correct-unix-group-and-permission-on-pid-directory.sh
  scripts/operations/dataCorrection/filesystem/groupsAndPermissions/correct-unix-group-and-permission.sh
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/FileServiceSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2890: create a RoddyCleanupJob to delete copies of used plugins and links
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/wgbs/WgbsWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/snv/SnvWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/RoddyCleanupJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/panCancer/PanCancerWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/rna/RnaAlignmentWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/roddy/wgbs/WgbsWorkflowSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/RoddyCleanupJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

refactor: otp-2621: mocked workflow test data installation
  .gitlab-ci-core.yml
  .gitlab-ci-create-image.yml
  build.gradle
  docker/gitlab-ci/Dockerfile
  docker/mocked-workflow-test/.profile
  docker/mocked-workflow-test/Dockerfile
  docker/mocked-workflow-test/groovy/bjobs.groovy
  docker/mocked-workflow-test/groovy/bresume.groovy
  docker/mocked-workflow-test/groovy/bsub.groovy
  docker/mocked-workflow-test/init/01-groups.sh
  docker/mocked-workflow-test/init/02-linking.sh
  docker/mocked-workflow-test/init/03-createDirectories.sh
  docker/mocked-workflow-test/init/04-createFiles.sh
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
  src/workflow-test/resources/mockedWorkflowTestInit.groovy
  src/workflow-test/resources/mockedWorkflowTestsOtp.properties
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

chg: otp-2872: Bootstrap QC Thresholds tab and activate bookstrapped tabmenu for projectConfiguration
  cypress/e2e/operatorAndAdminPages/bulkSampleCreation.spec.js
  cypress/e2e/operatorAndAdminPages/qcThresholdDefaultConfig.spec.js
  cypress/e2e/operatorAndAdminPages/qcThresholdProjectConfig.spec.js
  cypress/e2e/workflowSystem/triggerWorkflows.spec.js
  cypress/support/commands.js
  grails-app/assets/javascripts/taglib/EditorSwitch.js
  grails-app/assets/stylesheets/old.less
  grails-app/assets/stylesheets/otp.less
  grails-app/assets/stylesheets/pages/sampleOverview/index.less
  grails-app/controllers/de/dkfz/tbi/otp/qcTrafficLight/QcThresholdController.groovy
  grails-app/i18n/messages.properties
  grails-app/taglib/de/dkfz/tbi/otp/OtpTagLib.groovy
  grails-app/views/projectConfig/_tabMenu.gsp
  grails-app/views/qcThreshold/defaultConfiguration.gsp
  grails-app/views/qcThreshold/projectConfiguration.gsp
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

new: otp-2763: Create CellRanger ExecuteJob
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerExecuteJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/cellRanger/CellRangerExecuteJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war
