Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*

chg: otp-2657: Also send a mail for removing file access of users
  grails-app/assets/stylesheets/pages/projectUser/index.less
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/UserProjectRoleService.groovy
  grails-app/views/projectUser/index.gsp
  grails-app/views/templates/_editorSwitchToggle.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/UserProjectRoleServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesJob.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2690: Handle uuid for bam files in withdraw script
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/snvcalling/AnalysisDeletionService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/AbstractWithdrawBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/UnwithdrawService.groovy
  grails-app/services/de/dkfz/tbi/otp/withdraw/WithdrawAnalysisService.groovy
  scripts/operations/dataCleanup/withdrawnCleanupOnFileSystem.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/snvcalling/AnalysisDeletionServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/withdraw/UnwithdrawServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/UnwithdrawServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/withdraw/WithdrawAnalysisServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2623: Fix filter on sample overview page
  cypress/e2e/overview/sampleOverview.spec.js
  cypress/fixtures/downloadChecks/sampleOverview.json
  grails-app/assets/javascripts/common/DataTableFilter.js
  grails-app/assets/javascripts/otp.js
  grails-app/assets/javascripts/pages/sampleOverview/index/datatable.js
  grails-app/assets/stylesheets/pages/sampleOverview/index.less
  grails-app/views/alignmentQualityOverview/index.gsp
  grails-app/views/bulkSampleCreation/index.gsp
  grails-app/views/dataTransfer/index.gsp
  grails-app/views/sampleOverview/index.gsp
  grails-app/views/statistics/kpi.gsp
  grails-app/views/templates/bootstrap/_projectSelection.gsp
  grails-app/views/templates/bootstrap/seqTrackSelectionTabBar/tabs/_projectAndSeqTypeTab.gsp
Due: cypress tests, check cypress suite configured for ci, eslint, create war

Update: Bump com.opencsv:opencsv from 5.11.2 to 5.12.0
  build.gradle
  src/test/groovy/de/dkfz/tbi/otp/utils/spreadsheet/SpreadsheetSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2710: Migrate tests and remove dependency of junit-vintage-engine - Part 1
  src/integration-test/groovy/de/dkfz/tbi/otp/NumberConverterBeanIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/ExternallyProcessedBamFileIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyBamFileIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/RoddyBamFileIntegrationTests.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/roddyExecution/RoddyWorkflowConfigIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/snvcalling/SamplePairIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/job/jobs/aceseq/ParseAceseqQcJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/MergedAlignmentDataFileServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/ReferenceGenomeProjectSeqTypeIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTrackIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/taxonomy/SpeciesCommonNameServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/taxonomy/SpeciesServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/taxonomy/SpeciesWithStrainServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/taxonomy/StrainServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/JobExecutionPlanDSLIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/SystemUserUtilsIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/HipoTissueTypeSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/utils/LocalShellHelperSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/utils/LocalShellHelperUnitTests.groovy
  src/test/groovy/de/dkfz/tbi/otp/utils/StringUtilsSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/utils/StringUtilsUnitTests.groovy
  src/test/groovy/de/dkfz/tbi/otp/utils/logging/LogThreadLocalSpec.groovy
Due: unit tests, integration tests, test coverage, codenarc

Update: Bump cypress from 14.5.4 to 15.0.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.github.mwiede:jsch from 2.27.2 to 2.27.3
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.gradle.develocity from 4.1 to 4.1.1
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2779: add retries of some flaky tests
  cypress/e2e/project/departmentConfiguration.spec.js
  cypress/e2e/workflowSystem/cellRangerConfiguration.spec.js
  cypress/e2e/workflowSystem/workflowSystemConfig.spec.js
Due: cypress tests, check cypress suite configured for ci

chg: otp-2780: Fix codenarc warning
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, codenarc

chg: otp-2755: remove project from ProcessingOption
  grails-app/assets/javascripts/pages/processingOption/index/functions.js
  grails-app/controllers/de/dkfz/tbi/otp/dataprocessing/ProcessingOptionController.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  grails-app/domain/de/dkfz/tbi/otp/infrastructure/ClusterJob.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/SampleIdentifier.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/ProcessingOptionService.groovy
  grails-app/services/de/dkfz/tbi/otp/tracking/TicketService.groovy
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
  grails-app/views/processingOption/index.gsp
  migrations/changelog.groovy
  migrations/changelogs/2025/otp-2755-processing-option.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/aceseq/AceseqServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/snvcalling/AbstractBamFileAnalysisServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/SampleIdentifierIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/UserProjectRoleServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/monitor/AbstractVariantCallingPipelineChecker.groovy
  src/main/groovy/de/dkfz/tbi/otp/monitor/MonitorOutputCollector.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/ngsdata/DomainFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/administration/MailHelperServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/tracking/NotificationCreatorSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/analysis/pair/roddy/aceseq/AbstractAceseqWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/analysis/pair/runyapsa/AbstractRunYapsaWorkflowTests.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war

chg: otp-2786: Update Sample Overview page for PID and sample type to not be wrapped
  grails-app/assets/stylesheets/pages/sampleOverview/index.less
Due: cypress tests, create war

Update: Bump com.fasterxml.jackson.datatype:jackson-datatype-jsr310
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.jsoup:jsoup from 1.21.1 to 1.21.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.webjars:bootstrap from 5.3.7 to 5.3.8
  build.gradle
  grails-app/assets/stylesheets/modules/application.css
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/metadataLayout.gsp
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 15.0.0 to 15.1.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bugfix: otp-2789: move @cyclonedx/cyclonedx-npm to npm ignore list
  .gitlab/dependabot.yml
Due: none

Update: Bump start-server-and-test from 2.0.13 to 2.1.0
  package-lock.json
  package.json
Due: cypress tests, eslint

new: otp-2632: use additional junit reports for cypress tests
  .gitlab-ci-core.yml
  cypress.config.js
  cypress/reporter-config.json
  devScripts/gitlab-ci/license-checker/licensecheck.groovy
  package-lock.json
  package.json
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Update: Bump org.openapi.generator from 7.14.0 to 7.15.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2447: Indicate response on 'toggle file access'/'add user with file access'
  cypress/e2e/project/projectUser.spec.js
  grails-app/assets/javascripts/pages/projectUser/index/functions.js
  grails-app/views/projectUser/index.gsp
Due: cypress tests, check cypress suite configured for ci, eslint, create war

chg: otp-2667: Migrate options from otp.properties to workflow test init script
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowConfigController.groovy
  grails-app/services/de/dkfz/tbi/otp/config/ConfigService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/ConfigSelectorService.groovy
  scripts/initializations/workflowTest/initWorkflowTest.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/ConfigSelectorServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/config/OtpProperty.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/commands/CheckCommand.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/commands/CreateCommand.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/commands/SelectorCommand.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/commands/UpdateCommand.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/TestConfigService.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/workflowTest/WorkflowTestProperty.groovy
  src/test/groovy/de/dkfz/tbi/otp/TestConfigServiceSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/GroovyScriptAwareTestCase.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2792: fix of package-lock.json
  package-lock.json
Due: cypress tests, eslint

Update: Bump com.networknt:json-schema-validator from 1.5.8 to 1.5.9
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 15.1.0 to 15.2.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Refactor: otp-2737: delete-email-storage-administration
  cypress/fixtures/processingOptionValidators.json
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  grails-app/services/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2025/otp-2737-processing-option-delete-email-storage-admin.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2781: Add new ILP parser
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/SampleIdentifierParserBeanName.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/ilp/IlpParser.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/ilp/IlpParserSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

refactor: otp-2793: remove unused method SampleIdentifierParser.tryParsePid
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/metadatavalidation/fastq/validators/SampleIdValidatorIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/DeepSampleIdentifierParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/SampleIdentifierParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/SimpleProjectIndividualSampleTypeParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/covid19/Covid19SampleIdentifierParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/hipo/AbstractHipo2SampleIdentifierParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/hipo/HipoSampleIdentifier.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/ilp/IlpParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/inform/InformSampleIdentifierParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/itccp4/ITCC_4P_Parser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/pedion/PedionParser.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/parser/TestSampleIdentifierParser.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/DeepSampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/SimpleProjectIndividualSampleTypeParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/covid19/Covid19SampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/AbstractHipo2SampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/Hipo2SampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/Hipo2SamplePreparationLabSampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/HipoSampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/ilp/IlpParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/inform/InformSampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/itccp4/ITCC_4P_ParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/pedion/PedionParserSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Bugfix: otp-2787: Fix Tooltip in workflowList table
  grails-app/assets/javascripts/pages/workflowRunList/index.js
Due: cypress tests, eslint, create war

chg: otp-2691: use new analysis path anywhere in new system
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/AbstractBamFile.groovy
  grails-app/services/de/dkfz/tbi/otp/dataExport/DataExportService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisResultsService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisWorkFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractBamFileAnalysisService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/alignment/AbstractAlignmentFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/alignment/AbstractCellRangerFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/alignment/AbstractExternalAlignmentFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/alignment/AbstractPanCancerFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/alignment/CellRangerFileNames.groovy
  scripts/ReferenceGenome/reference-genome-RNA-fragments.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/AbstractAnalysisConditionalFailJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqPrepareJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/runyapsa/RunYapsaConditionalFailJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/snv/SnvValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaExecuteJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaValidationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataExport/DataExportServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisWorkFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/alignment/CellRangerLinkFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/alignment/CellRangerWorkFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/AbstractAnalysisConditionalFailJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqPrepareJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/aceseq/AceseqValidationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/indel/IndelValidationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/runyapsa/RunYapsaConditionalFailJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/snv/SnvValidationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/analysis/sophia/SophiaValidationJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/AbstractWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/AbstractAnalysisWorkflowSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/analysis/roddy/AbstractRoddyAnalysisWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2794: activate Spring Boot Actuator
  grails-app/conf/application.groovy
  grails-app/init/de/dkfz/tbi/otp/SecurityConfiguration.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2795: fix setup of old workflow test
  src/workflow-test/groovy/de/dkfz/tbi/otp/WorkflowTestCase.groovy
Due: codenarc

Update: Bump com.google.guava:guava from 33.4.8-jre to 33.5.0-jre
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.postgresql:postgresql from 42.7.7 to 42.7.8
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump mochawesome from 7.1.3 to 7.1.4
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.gradle.develocity from 4.1.1 to 4.2
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump start-server-and-test from 2.1.0 to 2.1.2
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2701: SampleSwap including single cell swap
  cypress/fixtures/downloadChecks/dataSwapTemplate.json
  cypress/fixtures/file-uploads/failing-data-swap-file.csv
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/SequenceController.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataswap/DataSwapColumn.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/DataSwapServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/validators/SeqTrackMatchesColumnValidatorSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SequenceControllerSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war
