Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, cypress tests

Path conditions:
  unit tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  integration tests: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  test coverage: any of: gradle/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*, build.gradle, gradle.properties, .gitlab-ci-core.yml
  cypress tests: any of: gradle/**/*, grails-app/**/*, src/main/**/*, cypress/**/*, docker/**/*, build.gradle, gradle.properties, cypress.config.js, package.json, package-lock.json, .gitlab-ci-core.yml

fix: otp-2195: View or download XML config file of RNA workflow
  grails-app/assets/javascripts/pages/alignmentQualityOverview/index/alignmentQualityOverview.js
  grails-app/controllers/de/dkfz/tbi/otp/dataprocessing/AlignmentQualityOverviewController.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/AbstractRoddyQaOverviewService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/PanCancerBedFileQaOverviewService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/PanCancerNoBedFileQaOverviewService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/RnaQaOverviewService.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/RnaQaOverviewServiceHibernateSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump start-server-and-test from 2.0.0 to 2.0.1
  package-lock.json
  package.json
Due: cypress tests

chg: otp-2171: Create RnaAlignmentValidationJob
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/AbstractRoddyAlignmentValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentValidationJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsValidationJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/alignment/AbstractRoddyAlignmentValidationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerValidationJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentValidationJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2247: Adapt BamFileServices to handle UUID work directory
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/bamfiles/RnaRoddyBamFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/bamfiles/RoddyBamFileService.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/bamfiles/RoddyBamFileServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2178: RNA specific config fragments for reference genomes
  scripts/ReferenceGenome/reference-genome-RNA-fragments.groovy
Due: none

chg: otp-2244: Make asset pipeline running again
  build.gradle
  grails-app/assets/stylesheets/modules/info.css
  grails-app/views/auth/login.gsp
  grails-app/views/layouts/info.gsp
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2120: update cellRangeConfiguration page to use bootstrap and asynchronous calls to fetch data
  cypress/e2e/cellRangerConfiguration.spec.js
  grails-app/assets/javascripts/pages/cellRanger/index/cellRanger.js
  grails-app/assets/stylesheets/otp.less
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/CellRangerConfigurationController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ConfigurePipelineController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerConfigurationService.groovy
  grails-app/views/cellRangerConfiguration/index.gsp
  grails-app/views/clusterJobJobTypeSpecific/index.gsp
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerConfigurationServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
  devScripts/gitlab-ci/license-checker/findNewLicenses.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.grails:grails-web-testing-support from 3.0.0 to 3.0.1
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

change: otp-2290: Add year to subject line of de.NBI KPI
  src/main/groovy/de/dkfz/tbi/otp/cron/GenerateAndSendKPIsForNBI.groovy
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2248: Extend create example data base with Cram files
  scripts/initializations/demoImports/CreateExampleData.groovy
Due: none

Update: Bump org.grails:grails-gorm-testing-support from 3.0.0 to 3.0.1
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.github.node-gradle.node from 7.0.0 to 7.0.1
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.gradle.enterprise from 3.15 to 3.15.1
  settings.gradle
Due: none

chg: otp-2173: ConditionalFailJob
  migrations/changelog.groovy
  migrations/changelogs/2023/otp-2173.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentConditionalFailJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/wgbs/WgbsWorkflow.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/RoddyAlignmentConditionalFailJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/panCancer/PanCancerWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump eslint from 8.50.0 to 8.51.0
  package-lock.json
  package.json
Due: cypress tests

Update: Bump org.grails.plugins:hibernate5 from 8.0.0 to 8.0.1
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.grails:grails-web-testing-support from 3.0.1 to 3.1.0
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2167: implement customExceptionResolver to shorten AccessDeniedException logging
  grails-app/conf/spring/resources.groovy
  grails-app/init/de/dkfz/tbi/otp/handler/CustomExceptionResolver.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.grails:grails-gorm-testing-support from 3.0.1 to 3.1.0
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump cypress from 13.2.0 to 13.3.0
  .gitlab-ci-core.yml
  .gitlab-ci-merge-request.yml
  docker/otp-war/Dockerfile
  docker/otp/Dockerfile
  package-lock.json
  package.json
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.webjars.npm:bootstrap-icons from 1.10.5 to 1.11.1
  build.gradle
  grails-app/assets/stylesheets/modules/application.css
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump org.webjars.npm:chart.js from 4.3.3 to 4.4.0
  build.gradle
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2291: Fix unix group on creating single cell mapping file on data swap
  grails-app/services/de/dkfz/tbi/otp/dataswap/AbstractDataSwapService.groovy
  scripts/operations/dataSwap/create-a-data-swap-script.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataswap/AbstractDataSwapServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

bug: otp-2292: Fix truncated values for editing on the processingOption page
  grails-app/controllers/de/dkfz/tbi/otp/dataprocessing/ProcessingOptionController.groovy
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2183: RnaAlignmentParseJob
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractQualityAssessmentService.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentParseJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentWorkflow.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/roddyRna/RoddyRnaFactory.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentParseJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

fix: otp-2263: fixed Bioinformation file access flag
  grails-app/assets/javascripts/common/userForm.js
Due: cypress tests

fix: otp-2275: software tool page has an problem
  cypress/e2e/metaDataFields.spec.js
  grails-app/views/softwareTool/_exportableListEntry.gsp
  grails-app/views/softwareTool/list.gsp
Due: cypress tests

fix: otp-2294: Icons on some pages are not showing
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump cypress from 13.3.0 to 13.3.1
  package-lock.json
  package.json
Due: cypress tests

bug: otp-2303: fix ParseRnaAlignmentQcJob (abstractQualityAssessmentService.parseRnaRoddyBamFileQaStatistics)
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractQualityAssessmentService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/rna/RnaAlignmentParseJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2001: Use spring configuration: NumberConverter
  grails-app/init/de/dkfz/tbi/otp/BeanConfiguration.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/NumberConverterBeanSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/job/jobs/aceseq/ParseAceseqQcJobSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/utils/NumberConverter.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2001: Use spring configuration: TaskScheduler
  grails-app/conf/runtime.groovy
  grails-app/conf/spring/resources.groovy
  grails-app/init/de/dkfz/tbi/otp/SchedulingConfiguration.groovy
  grails-app/services/de/dkfz/tbi/otp/config/ConfigService.groovy
Due: unit tests, integration tests, test coverage, cypress tests

refactor: otp-2001: Use spring configuration: LocaleResolver
  grails-app/conf/spring/resources.groovy
  grails-app/init/de/dkfz/tbi/otp/BeanConfiguration.groovy
Due: unit tests, integration tests, test coverage, cypress tests

Update: Bump com.github.samtools:htsjdk from 4.0.1 to 4.0.2
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests

chg: otp-2251: Change project request email "Approval required for project request form"
  grails-app/i18n/messages.properties
Due: unit tests, integration tests, test coverage, cypress tests

new: otp-2264: Overview of deputies and departments
  cypress/e2e/departmentOverview.spec.js
  cypress/e2e/menuBar.spec.js
  grails-app/assets/javascripts/pages/departmentOverview/index.js
  grails-app/controllers/de/dkfz/tbi/otp/project/DepartmentOverviewController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/security/user/DepartmentService.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/DeputyRelationService.groovy
  grails-app/views/departmentOverview/index.gsp
  grails-app/views/layouts/common.gsp
  scripts/initializations/demoImports/DepartmentData.groovy
  src/test/groovy/de/dkfz/tbi/otp/security/user/DeputyRelationServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests

update: spring security libs from 5.8.7 to 5.8.8
  build.gradle
Due: unit tests, integration tests, test coverage, cypress tests
