Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*

Update: Bump com.gradle.develocity from 4.2.2 to 4.3.2
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapi.generator from 7.17.0 to 7.20.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.fasterxml.jackson.core:jackson-core
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.codenarc:CodeNarc from 3.6.0 to 3.7.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.postgresql:postgresql from 42.7.8 to 42.7.10
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 15.2.0 to 15.11.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump org.jsoup:jsoup from 1.21.2 to 1.22.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.mwiede:jsch from 2.27.6 to 2.27.8
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump start-server-and-test from 2.1.2 to 2.1.5
  package-lock.json
  package.json
Due: cypress tests, eslint

chg: otp-2938: update groovy version to 3.0.25
  gradle.properties
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2904: add new components to the ignore list of dependabot
  .gitlab/dependabot.yml
Due: none

bug: otp-2924: Fix the showParsedSampleIdentifiers.groovy script
  scripts/migration/otp-335-update-single-cell-file-structure.groovy
  scripts/operations/showData/showParsedSampleIdentifiers.groovy
  scripts/overviews/statistik/individuals-with-complete-dataset.groovy
Due: none

Update: Bump com.github.mwiede:jsch from 2.27.8 to 2.27.9
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2637: test for failed fetching of department head
  src/test/groovy/de/dkfz/tbi/otp/cron/UpdateDepartmentHeadsJobSpec.groovy
Due: unit tests, integration tests, test coverage, codenarc

Update: Bump gradle-wrapper from 7.6.4 to 7.6.6
  gradle/wrapper/gradle-wrapper.properties
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 15.11.0 to 15.12.0
  package-lock.json
  package.json
Due: cypress tests, eslint

new: otp-2901: Split CheckFileAccessInconsistenciesJob into two distinct jobs
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesForUsersOnlyInLdapOrWithoutProjectRoleJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesForUsersWithProjectRoleJobIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/AbstractScheduledJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesForUsersOnlyInLdapOrWithoutProjectRoleJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/cron/CheckFileAccessInconsistenciesForUsersWithProjectRoleJob.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

chg: otp-2700: adaption for debian cluster
  cypress/fixtures/workflowConfig.json
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  migrations/changelog.groovy
  migrations/changelogs/2024/otp-2700.groovy
  migrations/changelogs/defaultValues/workflow-versions.sql
  scripts/initializations/workflowTest/initWorkflowTest.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcExecuteClusterPipelineJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcExecuteClusterPipelineJobSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/alignment/cellRanger/AbstractCellRangerAlignmentWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/analysis/pair/runyapsa/WgsRunYapsaWorkflowTests.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump org.springframework.boot:spring-boot-starter-actuator
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2699: Update Cell Ranger to 9.0.1 and 10.0.0
  cypress/fixtures/cellRangerConfiguration.json
  cypress/fixtures/workflowConfig.json
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  migrations/changelogs/defaultValues/workflow-versions.sql
  src/workflow-test/groovy/de/dkfz/tbi/otp/alignment/cellRanger/AbstractCellRangerAlignmentWorkflowTests.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Update: Bump com.networknt:json-schema-validator from 2.0.0 to 2.0.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2926: Adopt AdditionalData and AbstractAlignmentDecider to enable CellRangerDecider
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/AlignmentArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/DeciderException.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/DeciderMergingWorkPackageValidationException.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/DeciderReferenceGenomeValidationException.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/alignment/AlignmentAdditionalData.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/AlignmentArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2882: Refactor Program version for CellRangerDecider
  grails-app/controllers/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/CellRangerConfigurationController.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerMergingWorkPackage.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/singleCell/SingleCellBamFile.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerConfigurationService.groovy
  grails-app/services/de/dkfz/tbi/otp/infrastructure/alignment/CellRangerWorkFileService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerConfigurationServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/singleCell/SingleCellBamFileIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerMergingWorkPackageSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/alignment/CellRangerWorkFileServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

new: otp-2777: Update QC Overview for CellRanger New System
  grails-app/controllers/de/dkfz/tbi/otp/workflow/alignment/AlignmentQualityOverviewController.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/CellRangerQaOverviewService.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/qaalignmentoverview/CellRangerQaOverviewServiceHibernateSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

merge jackson-datatype into this MR
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2714: Add a flag of validation in metadataImport link to control if validation is triggered or not
  cypress/e2e/operatorAndAdminPages/metadataImport.spec.js
  grails-app/assets/javascripts/pages/metadataImport/index/metadataImportUpload.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/MetadataImportController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/ngsdata/MetadataImportService.groovy
  grails-app/views/metadataImport/index.gsp
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/MetadataImportServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

bug: otp-2908: Fix deprecated status tags of ref genomes on Workflow Config page
  cypress/e2e/workflowSystem/workflowSystemConfig.spec.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/index.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/workflowVersions.js
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowSelectionController.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowSystemConfigController.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/ReferenceGenome.groovy
  grails-app/views/workflowSelection/index.gsp
  grails-app/views/workflowSystemConfig/index.gsp
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

refactor: otp-1392: Update eslint version from 8 to 9
  .eslintrc.js
  .gitlab-ci-core.yml
  .gitlab/dependabot.yml
  build.gradle
  eslint.config.mjs
  grails-app/assets/javascripts/common/CloneField.js
  grails-app/assets/javascripts/common/chartHelper.js
  grails-app/assets/javascripts/common/sharedCharts.js
  grails-app/assets/javascripts/common/toaster.js
  grails-app/assets/javascripts/otp.js
  grails-app/assets/javascripts/pages/analysis/results/datatable.js
  grails-app/assets/javascripts/pages/clusterJobDetail/show/clusterJobDetail.js
  grails-app/assets/javascripts/pages/clusterJobGeneral/index/clusterJobGeneral.js
  grails-app/assets/javascripts/pages/clusterJobJobTypeSpecific/index/clusterJobJobTypeSpecific.js
  grails-app/assets/javascripts/pages/crashRepair/index/crashRepair.js
  grails-app/assets/javascripts/pages/egaSubmission/selectSamples/index.js
  grails-app/assets/javascripts/pages/processingPriority/index/functions.js
  grails-app/assets/javascripts/pages/project/projectConfigPage.js
  grails-app/assets/javascripts/pages/projectUser/index/functions.js
  grails-app/assets/javascripts/pages/referenceGenome/datatable.js
  grails-app/assets/javascripts/pages/sampleOverview/index/datatable.js
  grails-app/assets/javascripts/pages/triggerWorkflows/index/functions.js
  grails-app/assets/javascripts/pages/workflowConfig/index/functions.js
  grails-app/assets/javascripts/pages/workflowConfigViewer/index.js
  grails-app/assets/javascripts/pages/workflowJobErrorDefinition/index/index.js
  grails-app/assets/javascripts/pages/workflowRunList/index.js
  grails-app/assets/javascripts/pages/workflowSelection/index.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/index.js
  grails-app/assets/javascripts/pages/workflowSystemConfig/workflowVersions.js
  grails-app/assets/javascripts/taglib/EditorSwitch.js
  package-lock.json
  package.json
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

chg: otp-2947: add multiline output of full-wrapped script to new system
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/cluster/ClusterJobHandlingService.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/cluster/ClusterJobHandlingServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-2894: Fix TriggerWorkflow to use new Workflows instead of new MergingWorkPackages
  cypress/e2e/workflowSystem/triggerWorkflows.spec.js
  grails-app/assets/javascripts/pages/triggerWorkflows/index/functions.js
  grails-app/controllers/de/dkfz/tbi/otp/workflow/TriggerWorkflowsController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/workflow/TriggerWorkflowsService.groovy
  grails-app/views/triggerWorkflows/components/_resultArea.gsp
  src/main/groovy/de/dkfz/tbi/otp/workflow/alignment/TriggerWorkflowsResult.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/alignment/TriggerWorkflowsServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

new: otp-2633: Added missing cypress tests for normal users on the overview pages
  cypress/e2e/overview/aceseq.spec.js
  cypress/e2e/overview/alignmentQualityOverview.spec.js
  cypress/e2e/overview/cellRanger.spec.js
  cypress/e2e/overview/dataFile.spec.js
  cypress/e2e/overview/fastqcResults.spec.js
  cypress/e2e/overview/indel.spec.js
  cypress/e2e/overview/runYapsa.spec.js
  cypress/e2e/overview/sampleIdentifierOverview.spec.js
  cypress/e2e/overview/seqTrack.spec.js
  cypress/e2e/overview/sequence.spec.js
  cypress/e2e/overview/snv.spec.js
  cypress/e2e/overview/sophia.spec.js
  cypress/e2e/project/projectOverview.spec.js
Due: cypress tests, check cypress suite configured for ci

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 15.12.0 to 15.13.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump eslint from 9.39.2 to 10.1.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump org.openapi.generator from 7.20.0 to 7.21.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump @cyclonedx/cyclonedx-npm from 2.1.0 to 4.2.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.gradle.develocity from 4.3.2 to 4.4.0
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2936: Add check for valid zip for bash fastqc workflow
  src/main/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcExecuteClusterPipelineJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/fastqc/FastqcExecuteClusterPipelineJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war
