Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*

Update: Bump com.gradle.develocity from 3.19.2 to 4.0.1
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-2678: adapt hipo parsers
  src/main/groovy/de/dkfz/tbi/otp/parser/hipo/AbstractHipo2SampleIdentifierParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/hipo/HipoSampleIdentifier.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/AbstractHipo2SampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/hipo/HipoSampleIdentifierParserSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump org.grails.plugins:mail from 4.0.0 to 4.0.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2653: Add the option to export metadata thru soft links
  grails-app/services/de/dkfz/tbi/otp/dataExport/DataExportService.groovy
  scripts/initializations/demoImports/CreateExampleData.groovy
  scripts/operations/export/DataAndBamFileExportToExternalSource.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataExport/DataExportInput.groovy
  src/main/groovy/de/dkfz/tbi/otp/dataExport/PipelineType.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataExport/DataExportServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

fix: otp-2689: Fix problems with weskit interaction
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/wes/WeskitAccessService.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractExecuteWesPipelineJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/jobs/WeskitCheckFragmentKeysJob.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/wes/WesWorkflowEngineParameter.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/AbstractExecuteWesPipelineJobSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/jobs/WeskitCheckFragmentKeysJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.samtools:htsjdk from 4.1.3 to 4.2.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2693: Add logging to ClusterJobService.getClusterJobLog
  grails-app/services/de/dkfz/tbi/otp/infrastructure/ClusterJobService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2522: aceseq configs
  migrations/changelogs/defaultValues/workflow-config/aceseq/ewc-roddy-aceseq2-cvalue-WHOLE_GENOME-PAIRED-1.2.8-3+1.2.8-4.sql
  migrations/changelogs/defaultValues/workflow-config/aceseq/ewc-roddy-aceseq2-filenames-WHOLE_GENOME-PAIRED-1.2.8-3+1.2.8-4.sql
  migrations/changelogs/defaultValues/workflow-config/aceseq/ewc-roddy-aceseq2-resources-WHOLE_GENOME-PAIRED-1.2.8-3.sql
  migrations/changelogs/defaultValues/workflow-config/aceseq/ewc-roddy-aceseq2-resources-WHOLE_GENOME-PAIRED-1.2.8-4.sql
  migrations/changelogs/defaultValues/workflow-config/test/aceseq/ewc-roddy-aceseq2-test-resource-WHOLE_GENOME-PAIRED-all-version.sql
  scripts/migration/otp-2522-check-roddy-aceseq-migration.groovy
  scripts/migration/otp-2522-migrate-aceseq-selectors.groovy
Due: test migration, cypress tests

Update: Bump com.github.mwiede:jsch from 0.2.24 to 0.2.26
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.bertramlabs.plugins:less-asset-pipeline
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.bertramlabs.plugins:sass-asset-pipeline
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

bug: otp-2692: Handle nullpointer RestartParseService.handleTypeClusterLogs
  grails-app/services/de/dkfz/tbi/otp/job/restarting/RestartParseService.groovy
  src/test/groovy/de/dkfz/tbi/otp/job/restarting/RestartParseServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

review: added the compatible version of jackson-datatype-jsr310
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapi.generator from 7.12.0 to 7.13.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.jsoup:jsoup from 1.18.3 to 1.20.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

fix: otp-2688: Internal Sever Error 500 on CellRanger page
  grails-app/views/cellRanger/finalRunSelection.gsp
Due: cypress tests, create war

new: otp-2619: fetch workflow version
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/AlignmentArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/AnalysisArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/FastqcArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDecider.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/ArtefactData.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/alignment/AlignmentArtefactData.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AnalysisAnalysisArtefactData.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AnalysisBamFileArtefactData.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/fastqc/FastqcArtefactDataWithFastqcProcessedFile.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflowExecution/decider/fastqc/FastqcArtefactDataWithSeqTrack.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/analysis/AbstractAnalysisDomainFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/analysis/AceseqDomainFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/analysis/IndelDomainFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/analysis/RoddyWorkflowConfig.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/analysis/RunYapsaDomainFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/analysis/RunYapsaWorkflowConfig.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/analysis/SnvDomainFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/analysis/SophiaDomainFactory.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/pipelines/analysis/WorkflowConfig.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/AbstractAnalysisArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/AlignmentArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/FastqcArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AbstractAlignmentDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/ArtefactDataSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/FastqcDeciderSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/analysis/AbstractAnalysisDeciderSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

fix: otp-2679: NullPointerException in AbstractAnalysisWorkFileService
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisWorkFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/snvcalling/AbstractSnvFileService.groovy
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/snvcalling/SnvCallingService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/IndividualService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/IndividualServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/AbstractAnalysisWorkFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/aceseq/AceseqWorkFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/indelcalling/IndelWorkFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/runYapsa/RunyapsaWorkFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/snvcalling/SnvWorkFileServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/sophia/SophiaWorkFileServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump start-server-and-test from 2.0.11 to 2.0.12
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.github.mwiede:jsch from 0.2.26 to 2.27.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.fasterxml.jackson.datatype:jackson-datatype-jsr310
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.networknt:json-schema-validator from 1.5.6 to 1.5.7
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 13.17.0 to 14.4.0
  cypress/e2e/workflowSystem/triggerAlignment.spec.js
  package-lock.json
  package.json
Due: cypress tests, check cypress suite configured for ci, eslint

Update: Bump org.postgresql:postgresql from 42.7.5 to 42.7.6
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.gradle.develocity from 4.0.1 to 4.0.2
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.webjars.npm:bootstrap-icons from 1.11.3 to 1.13.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

ignore: update path
  grails-app/assets/stylesheets/modules/application.css
Due: cypress tests, create war

new: otp-2644: delete project request
  grails-app/services/de/dkfz/tbi/otp/project/projectRequest/ProjectRequestService.groovy
  src/main/groovy/de/dkfz/tbi/otp/project/projectRequest/Draft.groovy
  src/main/groovy/de/dkfz/tbi/otp/project/projectRequest/PiEdit.groovy
  src/main/groovy/de/dkfz/tbi/otp/project/projectRequest/RequesterEdit.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Bump cypress from 14.4.0 to 14.4.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump org.webjars:bootstrap from 5.3.3 to 5.3.6
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

ignore: adapt version in paths
  grails-app/assets/stylesheets/modules/application.css
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/metadataLayout.gsp
Due: cypress tests, create war

ignore: update version in path for npm-chart
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
Due: cypress tests, create war

Update: Bump org.webjars.npm:chart.js from 4.4.8 to 4.4.9
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-2599: Show or hide legacy data
  .gitlab-ci-core.yml
  .gitlab/dependabot.yml
  build.gradle
  cypress/e2e/operatorAndAdminPages/referenceGenomeOverview.spec.js
  cypress/e2e/workflowSystem/cellRangerConfiguration.spec.js
  cypress/fixtures/referenceGenomeOverview/content.json
  cypress/fixtures/referenceGenomeOverview/ui.json
  cypress/support/commands.js
  docker/database/Dockerfile.dev
  grails-app/assets/javascripts/otp.js
  grails-app/assets/javascripts/pages/referenceGenome/datatable.js
  grails-app/assets/stylesheets/bootstrapped.less
  grails-app/assets/stylesheets/pages/referenceGenome/index.less
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ReferenceGenomeController.groovy
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ExternallyProcessedBamFile.groovy
  grails-app/domain/de/dkfz/tbi/otp/ngsdata/ReferenceGenome.groovy
  grails-app/i18n/messages.properties
  grails-app/views/referenceGenome/index.gsp
  src/test/groovy/de/dkfz/tbi/otp/infrastructure/alignment/ExternalAlignmentLinkFileServiceSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Update: Bump com.github.samtools:htsjdk from 4.2.0 to 4.3.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.postgresql:postgresql from 42.7.6 to 42.7.7
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.webjars.npm:chart.js from 4.4.9 to 4.5.0
  build.gradle
  grails-app/views/layouts/application.gsp
  grails-app/views/layouts/main.gsp
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.mwiede:jsch from 2.27.0 to 2.27.2
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc
