Repository one-touch-pipeline/otp: changes, and which GitLab CI jobs are due for each by the changed paths.
All: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Path conditions:
  unit tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  integration tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test coverage: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, src/main/**/*, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/test/**/*, src/integration-test/**/*, src/test-helper/**/*
  test migration: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/domain/**/*, migrations/**/*
  cypress tests: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/conf/**/*, grails-app/controllers/**/*, grails-app/domain/**/*, grails-app/i18n/**/*, grails-app/init/**/*, grails-app/services/**/*, src/main/**/*, cypress/**/*, cypress.config.js, devScripts/gitlab-ci/cypress/**/*, docker/**/*, grails-app/assets/**/*, grails-app/taglib/**/*, grails-app/views/**/*, migrations/**/*, package.json, package-lock.json
  check cypress suite configured for ci: any of: .gitlab-ci-core.yml, cypress/e2e/**/*
  codenarc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*.groovy, src/**/*
  eslint: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/assets/javascripts/**/*, package.json, package-lock.json
  create war: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, grails-app/**/*, src/main/**/*
  create doc: any of: build.gradle, devScripts/gitlab-ci/init.sh, .gitlab-ci-core.yml, gradle/**/*, gradle.properties, settings.gradle, docs/**/*

Update: Bump com.gradle.develocity from 4.4.3 to 4.5.0
  settings.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.postgresql:postgresql from 42.7.11 to 42.7.12
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump globals from 17.6.0 to 17.7.0
  package-lock.json
Due: cypress tests, eslint

Chg: otp-2976: Null object returned after run a query in WorkflowRunList page with empty list
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowRunService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowRunServiceIntegrationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Chg: otp-3014: A button click triggers 4x backend call to ProjectUserController
  grails-app/assets/javascripts/pages/projectUser/index/functions.js
  grails-app/views/projectUser/index.gsp
Due: cypress tests, eslint, create war

Update: Bump eslint from 10.6.0 to 10.7.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump cypress from 15.18.0 to 15.18.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump com.networknt:json-schema-validator from 2.0.3 to 2.0.4
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.mwiede:jsch from 2.28.3 to 2.28.4
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.fasterxml.jackson.core:jackson-core
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.postgresql:postgresql from 42.7.12 to 42.7.13
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump @cyclonedx/cyclonedx-npm from 5.0.0 to 6.0.0
  package-lock.json
  package.json
Due: cypress tests, eslint

New: otp-2989: Special banner when auto-import or/and WF system are disabled
  cypress/e2e/operatorAndAdminPages/systemStatusBanners.spec.js
  cypress/e2e/others/menuBar.spec.js
  grails-app/assets/javascripts/banner.js
  grails-app/assets/stylesheets/mainmenu.less
  grails-app/assets/stylesheets/systemStatusBanner.less
  grails-app/controllers/de/dkfz/tbi/otp/interceptor/OptionsInterceptor.groovy
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/WorkflowRunOverviewController.groovy
  grails-app/i18n/messages.properties
  grails-app/views/layouts/common.gsp
  grails-app/views/templates/_systemStatusBanners.gsp
  grails-app/views/workflowRunOverview/index.gsp
  src/test/groovy/de/dkfz/tbi/otp/interceptor/OptionsInterceptorSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Chg: otp-3005: WorkflowRun without workflow steps cannot be restarted or set to Final Fail
  cypress/e2e/workflowSystem/workflowRunDetails.spec.js
  grails-app/controllers/de/dkfz/tbi/otp/workflowExecution/AbstractWorkflowRunController.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceIntegrationSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/WorkflowStateChangeServiceSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, check cypress suite configured for ci, codenarc, create war

New: otp-2992: Beans preparation for new notification system
  grails-app/services/de/dkfz/tbi/otp/notification/CreateNotificationTextService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/ConcreteArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationContentService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationContentServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/utils/StringUtils.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/AbstractAlignmentNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/AbstractAnalysisNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/AbstractWorkflowNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/AlignmentBamNotificationRow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/CellRangerNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/DataInstallationNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/NotificationContent.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/PanCancerAlignmentNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/RnaAlignmentNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/RoddyAceseqNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/RoddyIndelCallingNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/RoddySnvCallingNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/RoddySophiaNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/SampleNotificationRow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/SamplePairNotificationRow.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/WgbsAlignmentNotification.groovy
  src/main/groovy/de/dkfz/tbi/otp/workflow/notification/WorkflowNotification.groovy
  src/test/groovy/de/dkfz/tbi/otp/notification/CreateNotificationTextServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/utils/StringUtilsSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationContentServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/notification/WorkflowNotificationSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2626: create cypress test for autoimport
  .gitattributes
  cypress/cypress.env.json
  cypress/e2e/operatorAndAdminPages/autoImport.spec.js
  cypress/support/commands.js
  devScripts/gitlab-ci/cypress/cypress.sh
  devScripts/gitlab-ci/license-checker/licensecheck.groovy
  docker/ssh/20-extract-file-system.sh
  docker/ssh/autoimport/262601/data/262601_meta.tsv
  docker/ssh/autoimport/262601/data/otp2626_run_262601/otp2626_ilse262601/fastq/otp2626_ilse262601_R1.fastq.gz
  docker/ssh/autoimport/262601/data/otp2626_run_262601/otp2626_ilse262601/fastq/otp2626_ilse262601_R2.fastq.gz
  docker/ssh/autoimport/262602/data/262602_meta.tsv
  docker/ssh/autoimport/262602/data/otp2626_run_262602/otp2626_ilse262602/fastq/otp2626_ilse262602_R1.fastq.gz
  docker/ssh/autoimport/262602/data/otp2626_run_262602/otp2626_ilse262602/fastq/otp2626_ilse262602_R2.fastq.gz
  docker/ssh/autoimport/262603/data/262603_meta.tsv
  docker/ssh/autoimport/262603/data/otp2626_run_262603/otp2626_ilse262603/fastq/otp2626_ilse262603_R1.fastq.gz
  docker/ssh/autoimport/262603/data/otp2626_run_262603/otp2626_ilse262603/fastq/otp2626_ilse262603_R2.fastq.gz
  docker/ssh/autoimport/262610/data/262610_meta.tsv
  docker/ssh/autoimport/262610/data/otp2626_run_262610/otp2626_ilse262610/fastq/otp2626_ilse262610_R1.fastq.gz
  docker/ssh/autoimport/262610/data/otp2626_run_262610/otp2626_ilse262610/fastq/otp2626_ilse262610_R2.fastq.gz
  docker/ssh/autoimport/262611/data/262611_meta.tsv
  docker/ssh/autoimport/262611/data/otp2626_run_262611/otp2626_ilse262611/fastq/otp2626_ilse262611_R1.fastq.gz
  docker/ssh/autoimport/262611/data/otp2626_run_262611/otp2626_ilse262611/fastq/otp2626_ilse262611_R2.fastq.gz
  docker/ssh/autoimport/262612/data/262612_meta.tsv
  docker/ssh/autoimport/262612/data/otp2626_run_262612/otp2626_ilse262612/fastq/otp2626_ilse262612_R1.fastq.gz
  docker/ssh/autoimport/262612/data/otp2626_run_262612/otp2626_ilse262612/fastq/otp2626_ilse262612_R2.fastq.gz
  docker/ssh/autoimport/262620/data/262620_meta.tsv
Due: cypress tests, check cypress suite configured for ci

new: otp-3000: New OTP parser "KITZ_LB-like"
  cypress/fixtures/processingOptionValidators.json
  grails-app/domain/de/dkfz/tbi/otp/dataprocessing/ProcessingOption.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/SampleIdentifierServiceTests.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/ProjectMappingParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/SampleIdentifierParserBeanName.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/inform/InformLikeSampleIdentifierParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/kitz/KitzLbLikeSampleIdentifierParser.groovy
  src/main/groovy/de/dkfz/tbi/otp/parser/kitz/KitzLbLikeTissueType.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/inform/InformLikeSampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/kitz/KitzLbLikeSampleIdentifierParserSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/parser/kitz/KitzLbLikeTissueTypeSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, create war

Bug: otp-3018: gzip -l takes too long to check file size
  src/main/groovy/de/dkfz/tbi/otp/workflow/datainstallation/CheckFastqFileEmptyJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflow/datainstallation/CheckFastqFileEmptyJobSpec.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

new: otp-2956: Prometheus + Grafana Deployment (Development)
  build.gradle
  devScripts/gitlab-ci/license-checker/licensecheck.groovy
  docker-compose.dev.yml
  docker-compose.yml
  docker/documentation/README.md
  docker/grafana/dashboards/jvm-micrometer.json
  docker/grafana/provisioning/dashboards/dashboards.yml
  docker/grafana/provisioning/datasources/prometheus.yml
  docker/keycloak/realm-export.json
  docker/prometheus/prometheus.yml
  grails-app/conf/application.groovy
  grails-app/init/de/dkfz/tbi/otp/SecurityConfiguration.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

New: otp-3003: update Deletion service to use the workflow graph
  grails-app/services/de/dkfz/tbi/otp/utils/DeletionService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataswap/IndividualSwapServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataswap/SampleSwapServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/utils/DeletionServiceIntegrationSpec.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/TestConfigService.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/domainFactory/workflowSystem/WorkflowSystemDomainFactory.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

New: otp-2651: The sampleoverview controller should use projection queries
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/SampleOverviewController.groovy
  grails-app/services/de/dkfz/tbi/otp/egaSubmission/EgaSubmissionService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SampleOverviewService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/ngsdata/SampleOverviewServiceIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/SampleOverviewBamFileRow.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/SampleOverviewRegisteredLaneCountRow.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/SampleOverviewSampleRow.groovy
  src/main/groovy/de/dkfz/tbi/otp/ngsdata/SampleOverviewWithdrawnLaneCountRow.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

Update: Ignore updates for CodeNarc RoddyToolLib and BatchEuphoria until Groovy 4
  .gitlab/dependabot.yml
Due: none

New: otp-2778: Activate CellRangerDecider and empty old-workflow seqType list
  cypress/e2e/workflowSystem/cellRangerConfiguration.spec.js
  cypress/e2e/workflowSystem/triggerWorkflows.spec.js
  docker/database/Dockerfile.dev
  grails-app/assets/javascripts/pages/cellRanger/index/cellRanger.js
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/CellRangerConfigurationController.groovy
  grails-app/i18n/messages.properties
  grails-app/services/de/dkfz/tbi/otp/dataprocessing/cellRanger/CellRangerService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/MetadataImportService.groovy
  grails-app/services/de/dkfz/tbi/otp/ngsdata/SeqTypeService.groovy
  grails-app/services/de/dkfz/tbi/otp/notification/CreateNotificationTextService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/AlignmentArtefactService.groovy
  grails-app/services/de/dkfz/tbi/otp/workflowExecution/decider/AllDecider.groovy
  grails-app/views/cellRanger/finalRunSelection.gsp
  grails-app/views/cellRangerConfiguration/index.gsp
  grails-app/views/projectConfig/_tabMenu.gsp
  migrations/changelog.groovy
  migrations/changelogs/2026/otp-2778-disable-cellRanger-workflow.groovy
  package-lock.json
  scripts/migration/otp-2776-create-new-workflows-from-cellranger-alignments.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/cron/CellRangerDataCleanupJobIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AllDeciderIntegrationSpec.groovy
  src/main/groovy/de/dkfz/tbi/otp/job/jobs/alignment/AbstractAlignmentStartJob.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/MetadataImportServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/ngsdata/SeqTypeServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/notification/CreateNotificationTextServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/AlignmentArtefactServiceSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/workflowExecution/decider/AllDeciderSpec.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/alignment/cellRanger/ImplementationsCellRangerAlignmentWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/analysis/pair/roddy/aceseq/WgsAceseqWithExternallyProcessedBamFileWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/analysis/pair/roddy/indel/WesIndelWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/analysis/pair/roddy/indel/WgsIndelWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/analysis/pair/roddy/snv/WesSnvWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/analysis/pair/roddy/snv/WgsSnvWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/analysis/pair/roddy/sophia/WesSophiaWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/analysis/pair/roddy/sophia/WgsSophiaWorkflowTests.groovy
  src/workflow-test/groovy/de/dkfz/tbi/otp/workflowTest/alignment/cellRanger/CellRangerWorkflowSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war

Update: Bump org.openapi.generator from 7.23.0 to 7.24.0
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump org.openapitools:openapi-generator-gradle-plugin
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump com.github.mwiede:jsch from 2.28.4 to 2.28.5
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump cypress from 15.18.1 to 15.19.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump globals from 17.7.0 to 17.8.0
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump eslint from 10.7.0 to 10.8.0
  package-lock.json
  package.json
Due: cypress tests, eslint

bug: otp-3034: fix thumbnailPhoto in user management page
  grails-app/controllers/de/dkfz/tbi/otp/ngsdata/ProjectUserController.groovy
  grails-app/services/de/dkfz/tbi/otp/security/user/identityProvider/LdapService.groovy
Due: unit tests, integration tests, test coverage, cypress tests, codenarc, create war

bug: otp-3049: Fix the dnd image version
  .gitlab-ci-core.yml
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

Update: Bump globals from 17.8.0 to 17.9.0
  package-lock.json
  package.json
Due: cypress tests, eslint

update: otp-3030: update node version
  build.gradle
  package-lock.json
  package.json
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

chg: otp-3032: Fix codenarc rule: ConstantAssertExpression
  build.gradle
  grails-app/conf/CodeNarcRuleSet.groovy
  grails-app/services/de/dkfz/tbi/otp/project/ProjectInfoService.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/dataprocessing/snvcalling/SnvCallingServiceIntegrationSpec.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/job/scheduler/SchedulerIntegrationTests.groovy
  src/integration-test/groovy/de/dkfz/tbi/otp/project/ProjectInfoServiceIntegrationSpec.groovy
  src/test-helper/groovy/de/dkfz/tbi/otp/utils/ShouldNotBeReachedException.groovy
  src/test/groovy/de/dkfz/tbi/otp/dataprocessing/BamFilePairAnalysisSpec.groovy
  src/test/groovy/de/dkfz/tbi/otp/utils/spreadsheet/validation/ColumnSetValidatorSpec.groovy
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

new: otp-3029: prebuild docker images
  .gitlab-ci-core.yml
  .gitlab-ci-create-image.yml
  devScripts/gitlab-ci/cypress/cypress.sh
  docker-compose.yml
  docker/integration-test-database/docker-compose.yml
  docker/otp-war/Dockerfile
  docker/otp/Dockerfile
Due: unit tests, integration tests, test coverage, test migration, cypress tests, check cypress suite configured for ci, codenarc, eslint, create war, create doc

chg: otp-3031: remove cypress warnings
  cypress.config.js
  cypress/e2e/operatorAndAdminPages/autoImport.spec.js
  cypress/e2e/others/login.spec.js
  cypress/e2e/project/projectRequest.spec.js
  cypress/support/commands.js
Due: cypress tests, check cypress suite configured for ci

Update: Bump com.github.mwiede:jsch from 2.28.5 to 2.28.6
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc

Update: Bump start-server-and-test from 3.0.11 to 3.0.12
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump mochawesome from 7.1.4 to 8.0.1
  package-lock.json
  package.json
Due: cypress tests, eslint

Update: Bump org.jsoup:jsoup from 1.22.2 to 1.23.1
  build.gradle
Due: unit tests, integration tests, test coverage, test migration, cypress tests, codenarc, eslint, create war, create doc
